<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper hk_roamingFarePage">
	<!-- 헤더 영역 -->
    <header class="header">
		<h1 class="page-title">이용내역</h1>
		<button type="button" class="c-btn">닫기</button>
    </header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<!-- 로밍신청 마지막확인 -->
	<div class="content">
		<div class="hk_content-section hk_roamingfare_layout">
			<div class="hk_p-plan">
				<div class="hk_plan-roaming">
					<div class="hk_section-plan">
						<div class="hk_c-section-md hk_pt0 hk_pb-0">
							<div class="hk_list-form-group hk_form-rouned">
								<dl class="hk_list-form-group__view">
									<div>
										<dt>휴대폰 번호</dt>
										<dd><strong>010-12**-334**</strong></dd>
									</div>
									<div>
										<dt>요금제</dt>
										<dd><strong>로밍패스 9GB</strong></dd>
									</div>
									<div>
										<dt>이용 서비스</dt>
										<dd>[온라인 가입 혜택] 기본 데이터 8GB + 추가 1GB 제공</dd>
									</div>
									<div>
										<dt>월 납부 금액</dt>
										<dd><p class="hk_price">29,000원/최대 30일</p> <p class="hk_price__text">부가세 포함 금액</p></dd>
									</div>
								</dl>
							</div>
						</div>
						<!-- 마지막내역 확인 -->
						<div>
							<div class="hk_c-section-md">
								<dl class="hk_rom-info-list">
									<div>
										<dt>방문 국가</dt>
										<dd>일본</dd>
									</div>
									<div>
										<dt>적용 시간</dt>
										<dd>일본 2024-07-23 23:27 ~ 2024-08-22 23:27</dd>
										<dd>한국 2024-07-24 13:27 ~ 2024-08-23 13:27</dd>
									</div>
								</dl>
							</div>

							<div class="hk_c-section-md">
								<ul class="hk_c-bullet-type-cirlce hk_form-circle">
									<li class="hk_cir-list">자동 해지 서비스 : 데이터로밍차단</li>
								</ul>
							</div>		
						</div>						
					</div>
				</div>
			</div>
			<!-- footer bottom-->
			<footer class="hk_modal-footer sticky">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						신청
					</button>
				</div>
			</footer>
			<!-- footer BTN End-->
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->

<!--모달 팝업 영역 END-->

</body>
</html>
