<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper hk_roamingFarePage">
	<!-- 헤더 영역 -->
	<!-- <header class="header">
		<button class="hk_c-btn-prev">
			<span class="is-blind">이전 화면으로 이동</span>
		</button>
		<h1 class="page-title"> </h1>
	</header> -->
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<!-- 로밍요금제 -->
	<div class="content">
		<!-- roaming-fare 가입성공 -->
		<div class="hk_content-section hk_roamingfare_layout hidden" id="rofin01">
			<div class="hk_home-complete-wrap" >
				<div class="hk_image-wrap pr50">
					<img alt="빵빠레가 터지는 이미지 입니다." src="../../../../static/images/celebration-apng.png" class="lazyLoad isLoaded" loading="lazy">
				</div>
				<div class="hk_txt-wrap hk_mt-40">
					<p class="hk_title">해외 로밍 요금제 신청이 <br>완료되었습니다.</p>
				</div>

				<div class="hk_account-wrap hk_mt-60">
					<ul class="hk_account-wrap__data">
						<li>
							<span class="hk_title">요금제</span>
							<span class="hk_desc">로밍패스 9GB</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- 연관 시나리오 -->
			<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
				<div class="card-header">
					<h2 class="info-title">관련 메뉴 바로가기</h2>
				</div>
				<div class="card-body chips-group">
					<button type="button" class="btn chip">시나리오1</button>
					<button type="button" class="btn chip">시나리오2</button>
				</div>
			</div>

			<!-- roaming-fare 변경-->
			<div class="hk_home-complete-wrap hidden">
				<div class="hk_image-wrap">
					<img alt="변경시 이미지 입니다." src="../../../../static/images/cnclt-chng.png" class="lazyLoad isLoaded" loading="lazy">
				</div>
				<div class="hk_txt-wrap hk_mt-40">
					<p class="hk_title">해외 로밍 요금제 신청이 <br>변경되었습니다.</p>
				</div>
				<div class="hk_account-wrap hk_mt-60">
					<ul class="hk_account-wrap__data">
						<li><span class="hk_title">요금제</span>
							<span class="hk_desc">로밍패스 9GB</span>
						</li>
						<li>
							<span class="hk_title">변경사항</span>
							<span class="hk_desc">
								일본 2024.10.20 09:00 ~ 2024.10.24 09:00<br>
								한국 2024.10.20 09:00 ~ 2024.10.24 09:00
							</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- roaming-fare 변경 End-->
		</div>
		<!-- roaming-fare 가입성공 End-->

		<!-- 연관 시나리오 -->
		<!-- <div class="content-section">
			<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
				<div class="card-header">
					<h2 class="info-title">관련 메뉴 바로가기</h2>
				</div>
				<div class="card-body chips-group">
					<button type="button" class="btn chip">시나리오1</button>
					<button type="button" class="btn chip">시나리오2</button>
				</div>
			</div>
		</div> -->

		<!-- roaming-fare 해지 -->
		<div class="hk_content-section hk_roamingfare_layout hidden" id="rofin02">
			<div class="hk_home-complete-wrap">
				<div class="hk_image-wrap">
					<img alt="해지시 이미지 입니다." src="../../../../static/images/cnclt-chng.png" class="lazyLoad isLoaded" loading="lazy">
				</div>
				<div class="hk_txt-wrap hk_mt-40">
					<p class="hk_title">해외 로밍 요금제 해지가 <br>완료되었습니다.</p>
				</div>
				<div class="hk_account-wrap hk_mt-60">
					<ul class="hk_account-wrap__data">
						<li><span class="hk_title">요금제</span>
							<span class="hk_desc">로밍패스 9GB</span>
						</li>
					</ul>
				</div>
			</div>

			<!-- 연관 시나리오 -->
			<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
				<div class="card-header">
					<h2 class="info-title">관련 메뉴 바로가기</h2>
				</div>
				<div class="card-body chips-group">
					<button type="button" class="btn chip">시나리오1</button>
					<button type="button" class="btn chip">시나리오2</button>
				</div>
			</div>

			<!-- roaming-fare 변경 -->
			<div class="hk_home-complete-wrap hidden">
				<div class="hk_image-wrap">
					<img alt="해지시 이미지 입니다." src="../../../../static/images/cnclt-chng.png" class="lazyLoad isLoaded" loading="lazy">
				</div>
				<div class="hk_txt-wrap hk_mt-40">
					<p class="hk_title">해외 로밍 요금제 해지가 <br>완료되었습니다.</p>
				</div>
				<div class="hk_account-wrap hk_mt-60">
					<ul class="hk_account-wrap__data">
						<li><span class="hk_title">요금제</span>
							<span class="hk_desc">로밍패스 9GB</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- roaming-fare 변경 End-->
		</div>
		<!-- roaming-fare 해지 End-->

		<!-- roaming-fare 변경 -->
		<div class="hk_content-section hk_roamingfare_layout hidde" id="rofin03">
			<div class="hk_home-complete-wrap">
				<div class="hk_image-wrap">
					<img alt="해지시 이미지 입니다." src="../../../../static/images/cnclt-chng.png" class="lazyLoad isLoaded" loading="lazy">
				</div>
				<div class="hk_txt-wrap hk_mt-40">
					<p class="hk_title">해외 로밍 요금제 신청이 <br>변경되었습니다.</p>
				</div>
				<div class="hk_account-wrap hk_mt-60">
					<ul class="hk_account-wrap__data">
						<li><span class="hk_title">요금제</span>
							<span class="hk_desc">로밍패스 9GB</span>
						</li>
						<li>
							<span class="hk_title">변경사항</span>
							<span class="hk_desc">
								일본 2024.10.20 09:00 ~ 2024.10.24 09:00<br>
								한국 2024.10.20 09:00 ~ 2024.10.24 09:00
							</span>
						</li>
					</ul>
				</div>
			</div>

			<!-- 연관 시나리오 -->
			<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
				<div class="card-header">
					<h2 class="info-title">관련 메뉴 바로가기</h2>
				</div>
				<div class="card-body chips-group">
					<button type="button" class="btn chip">시나리오1</button>
					<button type="button" class="btn chip">시나리오2</button>
				</div>
			</div>

			<!-- roaming-fare 변경 -->
			<div class="hk_home-complete-wrap hidden">
				<div class="hk_image-wrap">
					<img alt="해지시 이미지 입니다." src="../../../../static/images/cnclt-chng.png" class="lazyLoad isLoaded" loading="lazy">
				</div>
				<div class="hk_txt-wrap hk_mt-40">
					<p class="hk_title">해외 로밍 요금제 해지가 <br>완료되었습니다.</p>
				</div>
				<div class="hk_account-wrap hk_mt-60">
					<ul class="hk_account-wrap__data">
						<li><span class="hk_title">요금제</span>
							<span class="hk_desc">로밍패스 9GB</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- roaming-fare 변경 End-->
		</div>
		<!-- roaming-fare 변경 End-->

		<!-- footer bottom-->
		<div class="hk_c-btn-group hk_mt--20">
			<button type="button" class="hk_standard">종료</button>
		</div>
		<!-- footer BTN End-->
	</div>


	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->

<!--모달 팝업 영역 END-->

</body>
</html>
