<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body><!-- modal popup뜰때 dimmed 영역 no-scroll -->
<div class="page-wrapper hk_roamingFarePage">
	<!-- 헤더 영역 -->
    <header class="header">
		<h1 class="page-title">로밍 요금제</h1>
		<button type="button" class="c-btn">닫기</button>
    </header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<!-- 로밍신청 확인내역2 -->
	<div class="content">
		<div class="hk_content-section hk_roamingfare_layout">
			<div class="hk_p-plan">
				<div class="hk_plan-roaming">
					<div class="hk_section-plan">
						<div class="hk_c-section-md hk_pt0 hk_pb-0">
							<div class="hk_list-form-group hk_form-rouned">
								<dl class="hk_list-form-group__view">
									<div>
										<dt>휴대폰 번호</dt>
										<dd><strong>010-76**-39**</strong></dd>
									</div>
									<div>
										<dt>요금제</dt>
										<dd><strong>하루 데이타 로밍밍(기간형)</strong></dd>
									</div>
									<!-- <div>
										<dt>이용 서비스</dt>
										<dd>[온라인 가입 혜택] 기본 데이터 8GB + 추가 1GB 제공</dd>
									</div> -->
									<div>
										<dt>월 납부 금액</dt>
										<dd><p class="hk_price">11,000원/24시간</p> <p class="hk_price__text">부가세 포함 금액</p></dd>
									</div>
									<!-- 문구추가-2024-0828 -->
									<p class="hk_c-text-type-info-gray">지정하신 시작 시간부터 <span class="hk_c-text-pinkstrong">24시간</span> 동안 로밍서비스 이용이 가능합니다.</p>
								</dl>
							</div>
						</div>
						<div>
							<!-- 나라 확인 -->
							<div class="hk_c-section-md">
								<div class="hk_apply-roaming-box">
									<div class="hk_national-area">
										<div class="hk_national-txt01">
											<div class="hk_national-txt_def">일본</div>
										</div>
									</div>
									<!-- 시간:한국시간/현지타임 -->
									<div class="hk_c-inpfield hk_mt-30">
										<div class="hk_c-label">
											<p class="h5">기준 시간</p>
										</div>
										<div class="hk_c-radio-group">
											<div class="hk_c-radio-box">
												<span class="hk_c-radio hk_mr-10">
													<input id="_uid_206_0" name="_uid_206" type="radio" value="K">
													<label for="_uid_206_0" class="hk_text-radio">
														<span class="hk_txt">한국시간</span>
													</label>
												</span>
											</div>
											<div class="hk_c-radio-box">
												<span class="hk_c-radio">
													<input id="_uid_206_1" name="_uid_206" type="radio" value="L">
													<label for="_uid_206_1" class="hk_text-radio">
														<span class="hk_txt">현지 수도 시간<br><small>(서머타임 미적용)</small></span>
													</label>
												</span>
											</div>
										</div>
									</div>
	
									<!-- 사용 시작 일시 -->
									<div class="hk_form-wrap">
										<div class="hk_c-inpform hk_inp-hFix">
											<div class="hk_c-label">
												<p class="h5">사용 시작 일시</p>
											</div>
											<div class="hk_datepicker-form">
												<div class="hk_c-inpform">
													<div class="hk_c-inpitem">
														<input placeholder="" maxlength="100" title="해외로밍 사용 시작일 입력" type="text" class="hk_c-inp hk_c-inp--dropdown" value="2024-07-24">
													</div>
												</div>
												<div class="hk_c-inpitem--dropdown">
													<div class="hk_c-inpite hk_c-inp hk_c-inp--dropdown">
													</div>
												</div> 
											</div>
	
											<div class="hk_datepicker-form hk_mt-20">
												<div class="hk_c-inpform">
													<div class="hk_c-inpitem">
														<input placeholder="" maxlength="100" title="해외로밍 사용 시작일 입력" type="text" class="hk_c-inp hk_c-inp--dropdown" value="11시30">
													</div>
												</div>
												<div class="hk_c-inpitem--dropdown">
													<div class="hk_c-inpite hk_c-inp hk_c-inp--dropdown">
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- 사용기간 -->
									<div class="hk_form-wrap">
										<div class="hk_c-inpform hk_inp-hFix">
											<div class="hk_c-label">
												<p class="h5">사용기간</p>
											</div>
											<div class="hk_datepicker-form">
												<div class="hk_c-inpform">
													<div class="hk_c-inpitem">
														<input placeholder="" maxlength="100" title="해외로밍 사용 시작일 입력" type="text" class="hk_c-inp hk_c-inp--dropdown" value="7일">
													</div>
												</div>
												<div class="hk_c-inpitem--dropdown">
													<div class="hk_c-inpite hk_c-inp hk_c-inp--dropdown">
													</div>
												</div> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
			<!-- footer bottom-->
			<footer class="hk_modal-footer sticky">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						다음
					</button>
				</div>
			</footer>
			<!-- footer BTN End-->
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<!--시간선택 팝업 -->
<div class="hk_modal-wrap hk_popup-wrapper hk_bottom-popup hidden">
	<div class="hk_blacklayer appear"></div>
	<div class="hk_popup-content hk_bottom-popup appear">
		<div class="hk_modal-content">
			<header class="hk_modal-header">
				<button type="button" class="hk_c-btn-close-nobar">닫기</button>
			</header>
			<div class="hk_modal-body">
				<div class="hk_c-body-content">
					<div class="hk_simcard-sheet">
						<div class="hk_time-picker-container hk_scroll-contents--30vh">
							<div class="hk_time-picker">
								<div class="hk_time-picker-column">
									<div class="hk_time-picker-scrollable hk_day-picker">
										<button id="_uid_201" class="hk_time-picker-option hk_dayPicker active"><span>오전</span></button>
										<button id="_uid_202" class="hk_time-picker-option hk_dayPicker"><span>오후</span></button>
									</div>
								</div>
								<div class="hk_time-picker-column">
									<div class="hk_time-picker-scrollable hk_day-picker">
										<button class="hk_time-picker-option hk_dayPicker"><span>1시</span></button>
										<button class="hk_time-picker-option hk_dayPicker active"><span>2시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>3시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>4시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>5시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>6시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>7시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>8시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>9시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>10시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>11시</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>12시</span></button>
									</div>
								</div>
								<div class="hk_time-picker-column">
									<div class="hk_time-picker-scrollable hk_day-picker">
										<button class="hk_time-picker-option hk_dayPicker"><span>00분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>01분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>02분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>03분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>04분</span></button>
										<button class="hk_time-picker-option hk_dayPicker active"><span>05분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>06분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>07분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>08분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>09분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>10분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>11분</span></button>
										<button class="hk_time-picker-option hk_dayPicker"><span>12분</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<footer class="hk_modal-footer">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						확인
					</button>
				</div>
			</footer>
			<!-- Footer End-->
		</div>
	</div>
</div>
<!--기간 날자선택 팝업 -->
<div class="hk_modal-wrap hk_popup-wrapper hk_bottom-popup hidden">
	<div class="hk_blacklayer appear"></div>
	<div class="hk_popup-content hk_bottom-popup appear">
		<div class="hk_modal-content">
			<header class="hk_modal-header">
				<button type="button" class="hk_c-btn-close-nobar">닫기</button>
			</header>
			<div class="hk_modal-body-pb0">
				<div class="hk_c-body-content">
					<div class="hk_simcard-sheet">
						<div class="hk_popcont-wrap hk_scroll-contents hk_scroll-contents--40vh">
							<div class="hk_checkradio-wrap hk_radio-wrap--basic-check">
								<ul class="hk_c-card-list">
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">1일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">2일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2  select">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">3일</p>
														</div>
													</div>
													<span class="hk_icon_select"></span>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">4일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">5일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">6일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">7일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">8일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">9일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
									<li>
										<div class="hk_c-card-radio-2">
											<div class="hk_c-radio">
												<input type="radio">
												<label class="hk_text-radio">
													<div class="hk_popcont">
														<div class="hk_contents__text-wrap">
															<p class="hk_contents__title">10일</p>
														</div>
													</div>
													<i class="icon"></i>
												</label>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<footer class="hk_modal-footer">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						확인
					</button>
				</div>
			</footer>
			<!-- Footer End-->
		</div>
	</div>
</div>

<!--모달 팝업 영역 END-->

</body>
</html>
