<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper hk_roamingFarePage">
	<!-- 헤더 영역 -->
	<header class="header">
		<button type="button" class="c-btn prev">이전</button>
		<h1 class="page-title">로밍 요금제</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<!-- 내 데이터 사용패턴 -->
	<div class="content">
		<div class="hk_content-section hk_roamingfare_layout">
			<div class="hk_selfcontents">
				<div class="hk_content-section hk_rom">
					<div class="hk_rom_title">
						내 데이터 사용패턴은?
					</div>
				</div>
				<div class="hk_content-section-next hk_mt-0">
					<div class="hk_radio-wrap--confirm">
						<div class="hk_title"><p>
							지난 달 국내에서 사용한 <strong class="text-point"> 하루 </strong> 평균 데이터는
						<strong class="text-point">91MB</strong> 입니다.
						</p>
						<p class="hk_mt-8">
							여행 중 예상되는 데이터 사용량은 <strong class="text-point">0.1GB</strong> 입니다.
						</p>
						</div>

					</div>
					<div class="hk_information-wrap hk_mt-8 hk_ml-10">
						<ul class="hk_information-wrap--list hk_c-bullet-type-cirlce hk_form-circle">
							<li class="hk_cir-list">고객님이 지난달 사용한 요금제 데이터를 기준으로 계산했어요.</li>
						</ul>
					</div>

					<!-- my list -->
					<div class="hk_radio-wrap hk_mt-40">
						<ul class="hk_c-card-list" checked="checked">
							<li>
								<div class="hk_c-card-radio-2">
									<div class="hk_c-radio">
										<input id="_up_01" name="_up_01" type="radio" value="01">
										<label for="_up_01" class="hk_text-radio">
											<div class="hk_check-contents">
												<div class="hk_contents__text-wrap">
													<p class="hk_contents__title"><strong>해외에서도 유튜브, 넷플릭스 놓칠 수 없어요.</strong></p>
													<p class="hk_contents__sub-text hk_mt-8">고화질 영상 스트리밍 1시간: 약 1GB 필요</p>
												</div>
											</div>
											<i class="icon"></i>
										</label>
									</div>
								</div>
							</li>
							<li>
								<div class="hk_c-card-radio-2">
									<div class="hk_c-radio">
										<input id="_up_01" name="_up_01" type="radio" value="01">
										<label for="_up_01" class="hk_text-radio">
											<div class="hk_check-contents">
												<div class="hk_contents__text-wrap">
													<p class="hk_contents__title"><strong>SNS에 사진을 올리거나 웹서핑 정도만 할래요.</strong></p>
													<p class="hk_contents__sub-text hk_mt-8">웹서핑 1,000페이지: 약 500MB필요 <br>
														음악 스트리밍 100곡: 약 500MB필요 <br>
														웹툰 10회분: 약 100MB 필요
													</p>
												</div>
											</div>
											<i class="icon"></i>
										</label>
									</div>
								</div>
							</li>
							<li>
								<div class="hk_c-card-radio-2">
									<div class="hk_c-radio">
										<input id="_up_01" name="_up_01" type="radio" value="01">
										<label for="_up_01" class="hk_text-radio">
											<div class="hk_check-contents">
												<div class="hk_contents__text-wrap">
													<p class="hk_contents__title"><strong>카카오톡, 구글맵만 사용해요.</strong></p>
													<p class="hk_contents__sub-text hk_mt-8">카카오톡 메시지 1만건 주고받기 : 약 10MB 필요 <br>
														*사진이나 영상은 데이터가 더 필요해요
													</p>
												</div>
											</div>
											<i class="icon"></i>
										</label>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- footer bottom-->
			<footer class="hk_modal-footer sticky">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						조회하기
					</button>
				</div>
			</footer>
			<!-- footer BTN End-->
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->


<!--모달 팝업 영역 END-->

</body>
</html>
