<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body><!-- modal popup뜰때 dimmed 영역 no-scroll -->
<div class="page-wrapper hk_roamingFarePage">
	<!-- 헤더 영역 -->
    <header class="header">
		<h1 class="page-title">로밍 요금제</h1>
		<button type="button" class="c-btn">닫기</button>
    </header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<!-- 로밍신청 확인내역1 -->
	<div class="content ">
		<div class="hk_content-section hk_roamingfare_layout">
			<div class="hk_p-plan">
				<div class="hk_plan-roaming">
					<div class="hk_section-plan">
						<div class="hk_list-form-group">
							<dl class="hk_list-form-group__view">
								<div>
									<dt>휴대폰 번호</dt>
									<dd><strong>010-12**-334**</strong></dd>
								</div>
								<div>
									<dt>요금제</dt>
									<dd><strong>로밍패스 9GB</strong></dd>
								</div>
								<div>
									<dt>이용 서비스</dt>
									<dd>[온라인 가입 혜택] 기본 데이터 8GB + 추가 1GB 제공</dd>
								</div>
								<div>
									<dt>이용기간</dt>
									<dd>최대 30일</dd>
								</div>
								<div>
									<dt>음성</dt>
									<dd>받는 전화:무료, 거는 전화:1.98원/초</dd>
								</div>
								<div>
									<dt>지원국가</dt>
									<dd>83개국</dd>
								</div>
								<div>
									<dt>월 납부 금액</dt>
									<dd><p class="hk_price">29,000원/최대 30일</p> <p class="hk_price__text">부가세 포함 금액</p></dd>
								</div>

								<p class="hk_c-text-type-info-1">대폭 확대된 데이터 용량으로 최대 30일 동안 실속있게! 데이터를 다 써도 최대 400 kbps 속도로 계속 사용</p>
							</dl>
						</div>
						<div class="hk_c-section-md hk_information-wrap">
							<ul class="bullet">
								<li>요금제에 가입하면 데이터 로밍 차단 서비스는 자동으로 해지됩니다.</li>
								<li>83개국 내 여러 국가를 여행하는 경우, 별도 설정 없이 자유롭게 이용 가능합니다.</li>
								<li>기본 데이터를 다 쓰면 400kbps 속도로 계속 이용 가능합니다.</li>
								<li>이용 기간이 끝나면, 데이터 로밍 차단 서비스에 자동으로 가입됩니다.</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- footer bottom-->
			<footer class="hk_modal-footer sticky">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						다음
					</button>
				</div>
			</footer>
			<!-- footer BTN End-->
		</div>
	</div>

	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->

<!--모달 팝업 영역 END-->

</body>
</html>
