<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>

<body>
<div class="page-wrapper chargePage">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">실시간 요금</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->

	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="tapnav-wrap">
			<ul class="tabnav">
				<li class="dx-tab"><a href="javascript:void(0)" role="button" class="active">지난 달 요금</a></li>
				<li class="dx-tab"><a href="javascript:void(0)" role="button" class="">이번 달 실시간 요금</a></li>
			</ul>
		</div>

		<div class="tabcontent">
			<!-- 지난 달 요금 -->
			<div class="tab">    
				<div class="content-section dev-section">
					<div class="card cardtype-1">
						<p class="charge-title">2024년 06월 사용요금은<br><span class="charge t-special">132,930원</span>입니다.</p>
						<p class="charge-text">사용기간: <span class="period">2024-05-01 ~ 2024-05-31</span></p>
					</div>
					<ul class="bullet mt8">
						<li>휴대폰 할부 금액 등은 포함되지 않아 실제 청구 금액과 다를 수 있습니다.</li>
						<li>정확한 청구금액은 매월 13일 경 발행되는 청구서로 확인해 주세요.</li>
					</ul>
				</div>

				<div class="content-section dev-section pd0">
					<h2 class="sec-title"><span>지난 달 이용요금</span></h2>

					<!-- Accordion -->
					<div class="accordion-group">
						<div class="accordion-box linetype-1 d-accoBox">
							<div class="accordion-header d-accoBtn" role="button">
								<div class="text">
									<span class="acco-tit">이동통신</span>
									<span class="charge-info">127,162원</span>
								</div>
								<div class="accordion-btn">
									<i class="toggleIcon"></i>
								</div>
							</div>
							<div class="accordion-body bg-gray">
								<ul class="item-list">
									<li class="item">
										<span class="l-item">월정액</span>
										<span class="r-item">25,500원</span>
									</li>
									<li class="item">
										<span class="l-item">통화료</span>
										<span class="r-item">110원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 방송/행사문자전송료</span>
										<span class="r-item">110원</span>
									</li>
									<li class="item">
										<span class="l-item">부가서비스 이용료</span>
										<span class="r-item">3,946원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 2개 번호 이용(듀얼넘버)서비스</span>
										<span class="r-item">1,100원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 통화연결음+매달1곡</span>
										<span class="r-item">513원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- I폰 분실/파손 보험 250</span>
										<span class="r-item">2,333원</span>
									</li>
									<li class="item">
										<span>할인요금</span>
										<span class="r-item">-8,834원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 프리미어 요금제 약정할인</span>
										<span class="r-item">-1,750원</span>
									</li>
									<li class="item sub">
										<span class="l-item">선택약정 25% 할인</span>
										<span class="r-item">-7,084원</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="accordion-box linetype-1 d-accoBox">
							<div class="accordion-header d-accoBtn" role="button">
								<div class="text">
									<span class="acco-tit">세금 및 공통요금</span>
									<span class="charge-info">5,768원</span>
								</div>
								<div class="accordion-btn">
									<i class="toggleIcon"></i>
								</div>
							</div>
							<div class="accordion-body bg-gray">
								<ul class="item-list">
									<li class="item sub">
										<span class="l-item">- 부가가치세</span>
										<span class="r-item">5,777원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 10원미만 할인</span>
										<span class="r-item">-9원</span>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="accordion-box linetype-1 d-accoBox">
							<div class="accordion-header d-accoBtn" role="button">
								<div class="text">
									<span class="acco-tit">지난달 요금 계(A)</span>
									<span class="charge-info">132,930원</span>
								</div>
								<div class="accordion-btn">
									<i class="toggleIcon"></i>
								</div>
							</div>
							<div class="accordion-body bg-gray no-data">
								<!-- <ul class="item-list">
									<li class="item"></li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>

				<!-- 연관 시나리오 -->
				<div class="content-section">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
						<div class="card-header">
							<h2 class="info-title">관련 메뉴 바로가기</h2>
						</div>
						<div class="card-body chips-group">
							<button type="button" class="btn chip">시나리오1</button>
							<button type="button" class="btn chip">시나리오2</button>
						</div>
					</div>
				</div>

				<!-- 관련 메뉴 바로가기 data-end-trace-code="트레이스코드" / data-title-use-yn="N" : 타이틀 필요없을 경우 -->
				<!-- <div class="content-section hidden">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code=""></div>
				</div> -->
			</div>

			<!-- 이번 달 실시간 요금 -->
			<div class="tab hidden">    
				<div class="content-section dev-section">
					<div class="card cardtype-1">
						<p class="charge-title">현재까지 사용한 청구 요금은<br><span class="charge t-special">23,556원</span>입니다.</p>
						<p class="charge-text">사용기간: <span class="period">2024-06-01 ~ 현재</span></p>
					</div>
					<ul class="bullet mt8">
						<li>이번 달 1일부터 현재까지의 사용 요금을 확인할 수 있습니다.</li>
						<li>휴대폰 할부, 소액결제, 해외 로밍 요금 등은 실시간 확인이 되지 않아 실제 청구 금액과 다를 수 있습니다.</li>
						<li>정확한 이번 달 청구금액은 다음 달 13일 경 발행되는 청구서로 확인해 주세요.</li>
					</ul>
				</div>

				<div class="content-section dev-section pd0">
					<h2 class="sec-title"><span>실시간 이용요금</span></h2>

					<!-- Accordion -->
					<div class="accordion-group">
						<div class="accordion-box linetype-1 d-accoBox">
							<div class="accordion-header d-accoBtn" role="button">
								<div class="text">
									<span class="acco-tit">이동통신</span>
									<span class="charge-info">23,554원</span>
								</div>
								<div class="accordion-btn">
									<i class="toggleIcon"></i>
								</div>
							</div>
							<div class="accordion-body bg-gray">
								<ul class="item-list">
									<li class="item">
										<span class="l-item">월정액</span>
										<span class="r-item">25,500원</span>
									</li>
									<li class="item">
										<span class="l-item">통화료</span>
										<span class="r-item">110원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 방송/행사문자전송료</span>
										<span class="r-item">110원</span>
									</li>
									<li class="item">
										<span class="l-item">부가서비스 이용료</span>
										<span class="r-item">3,946원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 2개 번호 이용(듀얼넘버)서비스</span>
										<span class="r-item">1,100원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 통화연결음+매달1곡</span>
										<span class="r-item">513원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- I폰 분실/파손 보험 250</span>
										<span class="r-item">2,333원</span>
									</li>
									<li class="item">
										<span>할인요금</span>
										<span class="r-item">-8,834원</span>
									</li>
									<li class="item sub">
										<span class="l-item">- 프리미어 요금제 약정할인</span>
										<span class="r-item">-1,750원</span>
									</li>
									<li class="item sub">
										<span class="l-item">선택약정 25% 할인</span>
										<span class="r-item">-7,084원</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="content-section dev-section pd0">
					<!-- Accordion -->
					<div class="accordion-group">
						<div class="accordion-box linetype-1 acco-active">
							<div class="accordion-header d-accoBtn" role="button">
								<div class="text">
									<span class="acco-tit">휴대폰 할부 내역</span>
								</div>
								<div class="accordion-btn hidden">
									<i class="toggleIcon"></i>
								</div>
							</div>
							<div class="accordion-body">
								<ul class="item-list">
									<li class="item">
										<span class="l-item">월 할부금액</span>
										<span class="r-item">62,380원</span>
									</li>
									<li class="item">
										<span class="l-item">남은 할부금액</span>
										<span class="r-item">246,490원 (4회 / 총 24회)</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- 연관 시나리오 -->
				<div class="content-section">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
						<div class="card-header">
							<h2 class="info-title">관련 메뉴 바로가기</h2>
						</div>
						<div class="card-body chips-group">
							<button type="button" class="btn chip">시나리오1</button>
							<button type="button" class="btn chip">시나리오2</button>
						</div>
					</div>
				</div>

				<!-- 관련 메뉴 바로가기 data-end-trace-code="트레이스코드" / data-title-use-yn="N" : 타이틀 필요없을 경우 -->
				<!-- <div class="content-section hidden">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code=""></div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<!-- alert 팝업 예시 -->
<div class="modal-wrap popup-wrapper center-popup hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit">확인</h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>
					휴대폰 번호를 정확히 입력해주세요.
				</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard">확인</button>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
		</div>
	</div>
</div>
<!--모달 팝업 영역 END-->

<script>
	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
		});
	});
</script>

</body>

</html>