<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper bt-accopage immPaymentPage">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">입금 전용 계좌</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section subserviceNotice bg-gray">
			<p><span>2025년 03월</span> 현재,<br/>납부하실 요금은 총 <span class="t-special">0,000,000</span>원입니다.</p>
			<p>(미납요금 <span class="t-special">0,000,000</span>원 포함)</p>
		</div>
		<div class="content-section">
			<div class="hk_recipt_info">
				고객(납부자)명 : <span class="t-special">김*신</span><p></p>
				이용중인 입금전용계좌 <span class="t-special">5</span>개
			</div>
		</div>
		<div class="content-section devider">
			<div class="inputInfo f-col">
				<div class="check-box">
					<input type="checkbox" name="certification" id="bankChk01">
					<label for="bankChk01" class="t-checkbox chkFlex">
						<i class="icon"></i>
						<span class="text"><span class="bank-txt">SC제일은행</span><span class="acct-txt">1243251285496</span></span>
					</label>
				</div>
				<div class="check-box">
					<input type="checkbox" name="certification" id="bankChk02">
					<label for="bankChk02" class="t-checkbox chkFlex">
						<i class="icon"></i>
						<span class="text"><span class="bank-txt">국민은행</span><span class="acct-txt">40409011593046</span></span>
					</label>
				</div>
				<div class="check-box">
					<input type="checkbox" name="certification" id="bankChk03">
					<label for="bankChk03" class="t-checkbox chkFlex">
						<i class="icon"></i>
						<span class="text"><span class="bank-txt">농협</span><span class="acct-txt">01935464490307</span></span>
					</label>
				</div>
				<div class="check-box">
					<input type="checkbox" name="certification" id="bankChk04">
					<label for="bankChk04" class="t-checkbox chkFlex">
						<i class="icon"></i>
						<span class="text"><span class="bank-txt">우리은행</span><span class="acct-txt">48859107218910</span></span>
					</label>
				</div>
				<div class="check-box">
					<input type="checkbox" name="certification" id="bankChk05">
					<label for="bankChk05" class="t-checkbox chkFlex">
						<i class="icon"></i>
						<span class="text"><span class="bank-txt">KEB하나</span><span class="acct-txt">83892111440537</span></span>
					</label>
				</div>
				<div class="check-box">
					<input type="checkbox" name="certification" id="bankChk06">
					<label for="bankChk06" class="t-checkbox chkFlex">
						<i class="icon"></i>
						<span class="text"><span class="bank-txt">신한은행</span><span class="acct-txt">56210031600368</span></span>
					</label>
				</div>
			</div>
			<div class="btn-group pd0">
				<button type="button" class="btn standard line">입금전용계좌 추가</button>
			</div>
		</div>
		<div class="content-section devider">
			<!-- <h2 class="section-tit"><span>입금전용계좌 문자 수신 번호</span></h2> -->
            <div class="content-box">
                <div class="inputInfo">
                    <label  class="info-label">
                        입금전용계좌 문자 수신 번호
                    </label>
                    <div class="custom-info">
                        <input placeholder="번호입력" type="tel" class="custom-inp">
                    </div>
                    <p class="error-txt hidden">에러메시지</p>
                </div>
				<div class="info-msg">
					<ul class="bullet">
						<li>은행 계좌를 선택 후 문자로 받기를 클릭해주세요.</li>
						<li>입금전용계좌는 24시간 입금이 가능합니다.</li>
					</ul>
				</div>
				<div class="btn-group pd0">
					<!-- 버튼 비활성화시 disabled 클래스 추가 
						<button type="button" class="btn standard disabled">
					-->
					<!-- 버튼 활성화시 disabled 클래스 제거 
						<button type="button" class="btn standard">
					-->
					<button type="button" class="btn standard">입금전용계좌 문자로 받기</button>
				</div>
            </div>
		</div>

		<div class="popup-footer">
		</div>
		<!-- 하단 선택 아코디언 -->
        <div class="accordion-group">
            <div class="accordion-box notice d-accoBox">
                <div class="accordion-header d-accoBtn">
                    <div class="text">
                        <p>꼭 확인하세요.</p>
                    </div>
                    <div class="accordion-btn">
                        <i class="toggleIcon"></i>
                    </div>
                </div>
				<div class="accordion-body">
					<ul class="acco-list">
						<li>입금전용계좌는 고객님의 전용 납부 계좌입니다.</li>
						<li>입금전용계좌는 24시간 입금이 가능하며, 납부 하시면 바로 반영됩니다.</li>
						<li>은행이나 카드<span class="t-special"> 자동이체 고객은 결제 기간 중 신용카드 또는 입금전용계좌로 납부 하시면 요금이 두 번 결제될 수 있습니다.</span></li>
						<li>요금이 두 번 결제된 경우 자동 환불되거나 다음달 청구 금액에서 차감 됩니다.</li>
					</ul>
				</div>
            </div>
        </div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<!--입금 전용 계좌 추가 팝업 -->
<div class="modal-wrap popup-wrapper ip-pop01 bottom-popup hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content slideUp">
		<!-- popup-header -->
		<div class="popup-header c-btn-x">
			<div class="header-section">
                <h1 class="pop-tit pl0"><span>입금전용계좌 추가</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
            <div class="content-section">
				<div class="info-boxWrap">
					입금전용계좌 신규/추가 발급을 위해<p></p>
					<span class="t-special">원하시는 은행을 선택 후 확인</span> 버튼을 눌러주세요.
				</div>
				<div class="flexWrap-group mt16">
					<div class="checkbox-wrap">
						<div class="check-box">
							<!-- 
								체크박스 비활성시 속성값 disabled 추가 
								<input type="checkbox" name="certification" id="popbankChk01" disabled>
							-->
							<input type="checkbox" name="certification" id="popbankChk01" disabled>
							<label for="popbankChk01" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">신한은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk02">
							<label for="popbankChk02" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">SC제일은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk03">
							<label for="popbankChk03" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">국민은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk04">
							<label for="popbankChk04" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">광주은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk05">
							<label for="popbankChk05" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">우리은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk06">
							<label for="popbankChk06" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">경남은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk07">
							<label for="popbankChk07" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">신한은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk08">
							<label for="popbankChk08" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">씨티은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk09">
							<label for="popbankChk09" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">KEB하나</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk10">
							<label for="popbankChk10" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">대구은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk11">
							<label for="popbankChk11" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">기업은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk12">
							<label for="popbankChk12" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">우체국</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk13">
							<label for="popbankChk13" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">부산은행</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk14">
							<label for="popbankChk14" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">케이뱅크</span></span>
							</label>
						</div>
					</div>
					<div class="checkbox-wrap">
						<div class="check-box">
							<input type="checkbox" name="certification" id="popbankChk15">
							<label for="popbankChk15" class="t-checkbox chkFlex">
								<i class="icon"></i>
								<span class="text"><span class="bank-txt">은행예시1</span></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<!-- 
					비활성 상태일 경우 버튼클래스에 disabled 추가
					<button type="button" class="standard disabled">확인</button> 
				-->
				<button type="button" class="standard">확인</button>
			</div>
		</div>
	</div>
</div>
<!--발급한 은행 있음 알림 팝업-->
<div class="modal-wrap popup-wrapper center-popup hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>
					이미 이용중인 입금전용계좌가 있습니다.
				</p>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="standard g-line">아니오</button>
				<button type="button" class="standard">예</button>
			</div>
		</div>
	</div>
	<!--기본 팝업 END-->
</div>   
<!--발급 결과 안내 팝업-->
<div class="modal-wrap popup-wrapper center-popup hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>
					입금전용계좌를 정상 발급 하였습니다.
				</p>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="standard g-line">아니오</button>
				<button type="button" class="standard">예</button>
			</div>
		</div>
	</div>
	<!--기본 팝업 END-->
</div> 

<script>
	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>

</body>
</html>
