<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
	
</head>
<body class="openModal">

<div class="page-wrapper roamingPage">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">해외로밍 부가서비스</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="tapnav-wrap">
			<ul class="tabnav">
				<li class="dx-tab"><a role="button" class="active">음성/데이터 로밍 차단</a></li>
				<li class="dx-tab"><a role="button" class="">도착알리미/안내방송</a></li>
			</ul>
		</div>
		<div class="tabcontent">
			<!-- Tab 음성/데이터 로밍 차단 -->
			<div class="tab">
				<div class="content-section">
					<div class="section-wrap">
						<div class="section-body roaming-list accordion-group">
							<!-- 데이터 로밍 -->
							<div class="card-box accordion-box dataRoaming d-accoBox">
								<div class="card-header accordion-header">
									<div class="info-box">
										<h2 class="info-title"><span class="t1">데이터 로밍 차단</span><span class="t2">무료</span></h2>
										<p class="info-text">와이파이가 연결되었을 때만 인터넷을 사용할 수 있도록 해주는 서비스</p>
										<div class="card-button btn-group">										
											<button type="button" class="btn btn-secondary d-accoBtn" >상세보기</button>
											<button type="button" class="btn btn-primary" id="roaming1">신청하기</button>
										</div>
									</div>
								</div>
								<div class="card-body accordion-body bg-gray">
									<div class="acco-box">
										<ul class="dot-list">
											<li class="list-tit">서비스내용</li>
											<li>해외에서 데이터 로밍을 차단해 줍니다.</li>
											<li>'데이터 로밍 차단'을 하지 않은 경우에도, 별도 가입없이 하루 최대 5,500원으로 카톡 텍스트 메시지 무제한 이용이 가능합니다. (일 데이터 이용 5,500원 초과 시 400kbps 속도 제한)</li>
										</ul>
										<ul class="dot-list mt16">
											<li class="list-tit">이용안내</li>
											<li>가입 후 해지하지 않으면 U<sup>+</sup>해외 로밍 서비스 지원 국가 방문 시 별도 등록없이 바로 이용할 수 있습니다.</li>
											<li>해외에서 데이터를 이용하려면 해당 부가 서비스를 해지한 후 요금제에 가입해 주세요.</li>
											<li>데이터로밍 차단 중에도 모바일 U<sup>+</sup>로밍(m.roaming.uplus.co.kr)에서 해외 요금제를 가입할 수 있습니다. 접속 이용요금은 무료입니다.</li>
										</ul>
									</div>
								</div>
							</div>
					
							<!-- 음성 로밍 -->
							<div class="card-box accordion-box voiceRoaming d-accoBox">
								<div class="card-header accordion-header">
									<div class="info-box">
										<h2 class="info-title"><span class="t1">음성 로밍 차단</span><span class="t2">무료</span></h2>
										<p class="info-text">해외에서는 문자메시지를 보내거나 전화를 걸 수 없도록 해주는 서비스</p>
										<div class="card-button btn-group">	
											<button type="button" class="btn btn-secondary d-accoBtn" >상세보기</button>
											<button type="button" class="btn btn-primary" id="roaming2">해지하기</button>
										</div>
									</div>
									
								</div>
								<div class="card-body accordion-body bg-gray">
									<div class="acco-box ">
										<ul class="dot-list">
											<li class="list-tit">서비스내용</li>
											<li>해외에서 음성통화 수신 및 발신과 단문메시지 발신을 차단해 줍니다.</li>
											<li>U<sup>+</sup>해외 로밍 서비스 지원 국가에서 이용할 수 있습니다.</li>
										</ul>
										<ul class="dot-list mt16">
											<li class="list-tit">이용안내</li>
											<li>가입 후 해지하지 않으면 U<sup>+</sup>해외 로밍 서비스 지원 국가 방문 시 별도 등록없이 바로 이용할 수 있습니다.</li>
											<li>단문메시지 수신은 이용할 수 있습니다.</li>
											<li>데이터 해외로밍과 멀티메시지를 이용하는 경우 추가요금이 발생합니다.</li>
											<li>선불 휴대폰 이용 고객은 가입할 수 없습니다.</li>
											<li>청소년 요금제 가입 고객은 해당 부가서비스가 자동으로 가입되어 있습니다.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 연관 시나리오 -->
				<div class="content-section">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
						<div class="card-header">
							<h2 class="info-title">관련 메뉴 바로가기</h2>
						</div>
						<div class="card-body chips-group">
							<button type="button" class="btn chip">시나리오1</button>
							<button type="button" class="btn chip">시나리오2</button>
						</div>
					</div>
				</div>

				<!-- 관련 메뉴 바로가기 data-end-trace-code="트레이스코드" / data-title-use-yn="N" : 타이틀 필요없을 경우 -->
				<!-- <div class="content-section hidden">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code=""></div>
				</div> -->
			</div>

			<!-- Tab 도착알라미/안내방송 -->
			<div class="tab hidden">
				<div class="content-section">
					<div class="section-wrap">
						<div class="section-body roaming-list accordion-group">
							<!-- 도착알라미 -->
							<div class="card-box accordion-box arrivalAlarm d-accoBox">
								<div class="card-header accordion-header">
									<div class="info-box">
										<h2 class="info-title"><span class="t1">해외 도착 알리미</span><span class="t2">무료</span></h2>
										<p class="info-text">최대 5명에게 해외 도착 사실을 문자메시지로 알려주는 서비스</p>
										<div class="card-button btn-group">										
											<button type="button" class="btn btn-secondary d-accoBtn" >상세보기</button>
											<button type="button" class="btn btn-primary" id="roaming3">신청하기</button>
										</div>
									</div>
								</div>
								<div class="card-body accordion-body bg-gray">
									<div class="acco-box">
										<ul class="dot-list">
											<li class="list-tit">서비스내용</li>
											<li>해외에 도착했다는 문자메시지를 최대 5명에게 자동으로 전송해 줍니다.</li>
											<li>U<sup>+</sup>해외 로밍 서비스 지원 국가에서 이용할 수 있습니다.</li>
										</ul>
										<ul class="dot-list mt16">
											<li class="list-tit">이용안내</li>
											<li>출국 전에 미리 신청해야 이용할 수 있습니다.</li>
											<li>가입 후 해지하지 않으면 U<sup>+</sup>해외로밍 서비스 지원 국가 방문 시 별도 등록 없이 바로 이용할 수 있습니다.</li>
											<li>연락 받을 번호는 한국 이동통신사업자의 번호만 입력할 수 있습니다.</li>
											<li>첫 방문 국가에 도착했을 때만 알림 문자메시지가 발송됩니다.</li>
											<li>방문 국가의 네트워크가 원활하지 않은 경우 문자메시지 전송이 지연되거나 발송되지 않을 수 있습니다.</li>
											<li>선불 휴대폰 이용 고객은 가입할 수 없습니다.</li>
											<li>청소년 요금제 이용고객은 ‘해외로밍 일시허용’에 가입하면, 해당 서비스를 이용할 수 있습니다.</li>
										</ul>
									</div>
								</div>
							</div>
					
							<!-- 안내방송 -->
							<div class="card-box accordion-box roamingInfo d-accoBox">
								<div class="card-header accordion-header">
									<div class="info-box">
										<h2 class="info-title"><span class="t1">로밍 안내방송</span><span class="t2">무료</span></h2>
										<p class="info-text">전화를 건 사람에게 로밍 중임을 알려주는 서비스</p>
										<div class="card-button btn-group">	
											<button type="button" class="btn btn-secondary d-accoBtn" >상세보기</button>
											<button type="button" class="btn btn-primary" id="roaming4">변경/해지</button>
										</div>
									</div>
									
								</div>
								<div class="card-body accordion-body bg-gray">
									<div class="acco-box ">
										<ul class="dot-list">
											<li class="list-tit">서비스내용</li>
											<li>전화를 건 사람에게 해외로밍 중인 고객에게 국제전화 요금이 부과된다는 사실을 음성으로 알려줍니다.</li>
											<li>U<sup>+</sup>해외 로밍 서비스 지원 국가에서 이용할 수 있습니다.</li>
											<li>해외로밍 안내 인사말: “해외로밍/여행/출장 중인 고객에게 국제전화 요금이 부과됩니다.”</li>
											<li>현지시간을 함께 안내하는 인사말: “해외로밍/여행/출장 중인 고객에게 국제전화 요금이 부과되며, 현지 시간은 00시 00분입니다.”</li>
											<li>해외 체류 시 현지 연결음을 미 노출하고 싶으시면 ‘미사용(국내 연결음)’ 선택 시 국내 연결음으로 연결됩니다.</li>
										</ul>
										<ul class="dot-list mt16">
											<li class="list-tit">이용안내</li>
											<li>출국 전에 미리 신청해야 이용할 수 있습니다.</li>
											<li>가입 후 해지하지 않으면 U<sup>+</sup>해외 로밍 서비스 지원 국가 방문 시 별도 등록없이 바로 이용할 수 있습니다.</li>
											<li>방문 국가의 네트워크 상황에 따라 연결이 원활하지 않은 경우 현지 시각 오차가 발생되거나 안내되지 않을 수 있습니다.</li>
											<li>선불 휴대폰 이용 고객은 가입할 수 없습니다.</li>
											<li>청소년 요금제 이용고객은 ‘해외로밍 일시허용’에 가입하면, 해당 서비스를 이용할 수 있습니다.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 연관 시나리오 -->
				<div class="content-section">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code="">
						<div class="card-header">
							<h2 class="info-title">관련 메뉴 바로가기</h2>
						</div>
						<div class="card-body chips-group">
							<button type="button" class="btn chip">시나리오1</button>
							<button type="button" class="btn chip">시나리오2</button>
						</div>
					</div>
				</div>

				<!-- 관련 메뉴 바로가기 data-end-trace-code="트레이스코드" / data-title-use-yn="N" : 타이틀 필요없을 경우 -->
				<!-- <div class="content-section hidden">
					<div class="card-box menu-shortcuts" data-rel-scenario data-end-trace-code=""></div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<!-- 데이터로밍차단  : 신청하기 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop roamingPlan dataroaming hidden" id="roaming1-1">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 신청하기</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box non-icon"> 
					<p class="tit">데이터 로밍 차단</p>
					<p class="txt no_mt">와이파이가 연결되었을 때만 인터넷을 사용할 수 있도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard d-bt">서비스 신청</button>
			</div>
		</div>
	</div>
</div>
<!-- 데이터로밍차단  : 해지하기 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop roamingPlan dataroaming hidden" id="roaming1-2">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 해지하기</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box non-icon"> 
					<p class="tit">데이터 로밍 차단</p>
					<p class="txt no_mt">와이파이가 연결되었을 때만 인터넷을 사용할 수 있도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard  d-bt">서비스 해지</button>
			</div>
		</div>
	</div>
</div>
<!-- 음성로밍차단 : 신청하기 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop roamingPlan voiceroaming hidden" id="roaming2-1">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 신청하기</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box non-icon"> 
					<p class="tit">음성 로밍 차단</p>
					<p class="txt no_mt">해외에서는 문자메시지를 보내거나 전화를 걸 수 없도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard d-bt">서비스 신청</button>
			</div>
		</div>
	</div>
</div>
<!-- 음성로밍차단  : 해지하기 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop roamingPlan voiceroaming hidden"id="roaming2-2">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 해지하기</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box non-icon"> 
					<p class="tit">음성 로밍 차단</p>
					<p class="txt no_mt">해외에서는 문자메시지를 보내거나 전화를 걸 수 없도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div> 
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard d-bt">서비스 해지</button>
			</div>
		</div>
	</div>
</div>
<!-- 해외도착알리미 : 신청하기 full-popup -->
<div class="modal-wrap popup-wrapper roamingPop roamingPlan arrivalAlarm hidde">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit">부가서비스 신청하기</h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="section-wrap">
					<div class="section-title">
						<div class="info-box">
							<h2 class="info-title">해외 도착 알리미</h2>
							<p class="info-text">최대 5명에게 해외 도착 사실을 문자메시지로 알려주는 서비스 (무료)</p>													
						</div>
						<div class="card-box product-info">			
							<p class="list-box">
								<span class="list-data">010-12**-56**</span>
							</p>
						</div>							
					</div>
					<div class="section-body">
						<div class="info-box">
							<p class="info-text fz14">나의 해외 도착을 알려줄 휴대폰 번호를 입력해 주세요.</p>
						</div>
						<div class="column-group">
							<div class="column-item">
								<label class="info-label">휴대폰 번호 1</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" class="custom-inp" value="" />									
									<button type="button" class="clear-btn " title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 2</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 3</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" maxlength="11" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 4</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" maxlength="11" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 5</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
						</div>
						<ul class="bullet">
							<li>해외에 도착한 뒤 휴대폰 전원을 켜면, 신청한 번호로 문자메시지가 자동 전송됩니다.</li>
							<li>문자메시지는 ‘[LG U<sup>+</sup>] (휴대폰번호) 고객님이 (한국기준날짜, 시간, 도착국가) 에 도착하셨습니다.’ 로 전송됩니다.</li>
							<li>메시지 발신 번호는 ‘82-2-3416-7010’ 입니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn btn-secondary">취소</button>
				<button type="button" class="btn btn-primary">서비스 신청</button>
			</div>			
		</div>
	</div>
</div>
<!-- 해외도착알리미 : 변경/해지 하기 full-popup -->
<div class="modal-wrap popup-wrapper roamingPop roamingPlan arrivalAlarm hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit">부가서비스 변경/해지하기</h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="section-wrap">
					<div class="section-title">
						<div class="info-box">
							<h2 class="info-title">해외 도착 알리미</h2>
							<p class="info-text">최대 5명에게 해외 도착 사실을 문자메시지로 알려주는 서비스 (무료)</p>													
						</div>
						<div class="card-box product-info">			
							<p class="list-box">
								<span class="list-data">010-12**-56**</span>
							</p>
						</div>							
					</div>
					<div class="section-body">
						<div class="info-box">
							<p class="info-text fz14">나의 해외 도착을 알려줄 휴대폰 번호를 입력해 주세요.</p>
						</div>
						<div class="column-group">
							<div class="column-item">
								<label class="info-label">휴대폰 번호 1</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" class="custom-inp" value="01012345678" />									
									<button type="button" class="clear-btn " title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 2</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 3</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" maxlength="11" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 4</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" maxlength="11" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
							<div class="column-item">
								<label class="info-label">휴대폰 번호 5</label>
								<div class="custom-info hasClear">
									<input type="tel" name="" placeholder="‘-’ 없이 숫자만 입력" class="custom-inp" value="" />
									<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
										<span class="hidden">입력한 문자 삭제</span>
									</button>
								</div>
								<p class="error-txt hidden">휴대폰 번호를 정확히 입력해주세요.</p>
							</div>
						</div>
						<ul class="bullet">
							<li>해외에 도착한 뒤 휴대폰 전원을 켜면, 신청한 번호로 문자메시지가 자동 전송됩니다.</li>
							<li>문자메시지는 ‘[LG U<sup>+</sup>] (휴대폰번호) 고객님이 (한국기준날짜, 시간, 도착국가) 에 도착하셨습니다.’ 로 전송됩니다.</li>
							<li>메시지 발신 번호는 ‘82-2-3416-7010’ 입니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">			
			<div class="btn-group">
				<button type="button" class="btn btn-secondary">취소</button>
				<button type="button" class="btn btn-secondary">서비스 해지</button>
				<button type="button" class="btn btn-primary">서비스 변경</button>
			</div>
		</div>
	</div>
</div>
<!-- 로밍안내방송 : 신청하기 full-popup -->
<div class="modal-wrap popup-wrapper roamingPop roamingPlan infoMessage hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit">부가서비스 신청하기</h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="section-wrap">
					<div class="section-title">
						<div class="info-box">
							<h2 class="info-title">로밍 안내방송</h2>
							<p class="info-text">전화를 건 사람에게 로밍 중임을 알려주는 서비스 (무료)</p>
						</div>
						<div class="card-box product-info">
							<p class="list-box">
								<span class="list-data">010-12**-56**</span>
							</p>
						</div>
					</div>
					<div class="section-body">
						<div class="info-box">
							<p class="info-text fz14">로밍/여행/출장 중인지 멘트를 설정할 수 있습니다.</p>
						</div>						
						<div class="column-group">							
							<div class="column-item">
								<div class="check-box check-sm">
									<input type="checkbox" id="timeOption1" />
									<label for="timeOption1" class="t-checkbox">
										<i class="icon"></i>
										<span class="text">현지 시간을 함께 안내</span>
									</label>
								</div>
								<div class="r-radio-group">
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg1" id="roamingMsg_00" value="00" checked />
											<label for="roamingMsg_01" class="radio-txt">
												<i class="icon"></i>
												<span>로밍</span>
											</label>
										</span>
									</div>
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg1" id="roamingMsg_01" value="01" />
											<label for="roamingMsg_02" class="radio-txt">
												<i class="icon"></i>
												<span>여행</span>
											</label>
										</span>
									</div>
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg1" id="roamingMsg_02" value="02" />
											<label for="roamingMsg_03" class="radio-txt">
												<i class="icon"></i>
												<span>출장</span>
											</label>
										</span>
									</div>
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg1" id="roamingMsg_03" value="03" />
											<label for="roamingMsg_04" class="radio-txt">
												<i class="icon"></i>
												<span>미사용(국내연결음)</span>
											</label>
										</span>
									</div>
								</div>
							</div>
							<div class="column-item">
								<div class="info-box msgChange">
									<i class="icon"></i>
									<p class="info-text">해외 <span class="t-special">로밍</span> 중인 고객에게 국제전화 요금이 부과<span>됩니다.</span></p>
									<p class="info-text">해외 <span class="t-special">로밍</span> 중인 고객에게 국제전화 요금이 부과<span>되며 <span class="t-special">현지 시간은 00시 00분입니다.</span></span></p>
									
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn btn-secondary">취소</button>
				<button type="button" class="btn btn-primary">서비스 신청</button>
			</div>			
		</div>
	</div>
</div>
<!-- 로밍안내방송 : 변경/해지 하기 full-popup -->
<div class="modal-wrap popup-wrapper roamingPop roamingPlan infoMessage hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<button type="button" class="prev-btn">이전</button>
				<h1 class="pop-tit">부가서비스 변경/해지하기</h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="section-wrap">
					<div class="section-title">
						<div class="info-box">
							<h2 class="info-title">로밍 안내방송</h2>
							<p class="info-text">전화를 건 사람에게 로밍 중임을 알려주는 서비스 (무료)</p>
						</div>
						<div class="card-box product-info">
							<p class="list-box">
								<span class="list-data">010-12**-56**</span>
							</p>
						</div>
					</div>
					<div class="section-body">
						<div class="info-box">
							<p class="info-text fz14">로밍/여행/출장 중인지 멘트를 설정할 수 있습니다.</p>
							<!-- 미사용시 멘트 -->
							<p class="info-text fz14 hidden">해외 체류 중에도 로밍 안내 멘트를 사용하지 않고 국내 통화연결음으로 설정할 수 있습니다.</p>
						</div>						
						<div class="column-group">							
							<div class="column-item">
								<div class="check-box check-sm">
									<input type="checkbox" id="timeOption2" checked />
									<label for="timeOption2" class="t-checkbox">
										<i class="icon"></i>
										<span class="text">현지 시간을 함께 안내</span>
									</label>
								</div>
								<div class="r-radio-group">
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg2" id="roamingMsg_04" value="00" checked />
											<label for="roamingMsg_04" class="radio-txt">
												<i class="icon"></i>
												<span>로밍</span>
											</label>
										</span>
									</div>
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg2" id="roamingMsg_05" value="01" />
											<label for="roamingMsg_05" class="radio-txt">
												<i class="icon"></i>
												<span>여행</span>
											</label>
										</span>
									</div>
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg2" id="roamingMsg_06" value="02" />
											<label for="roamingMsg_06" class="radio-txt">
												<i class="icon"></i>
												<span>출장</span>
											</label>
										</span>
									</div>
									<div class="r-radio-box">
										<span class="r-radio">
											<input type="radio" name="roamingMsg2" id="roamingMsg_07" value="03" />
											<label for="roamingMsg_07" class="radio-txt">
												<i class="icon"></i>
												<span>미사용(국내연결음)</span>
											</label>
										</span>
									</div>
								</div>
							</div>
							<div class="column-item">
								<div class="info-box msgChange">
									<i class="icon"></i>
									<p class="info-text">해외 <span class="t-special">로밍</span> 중인 고객에게 국제전화 요금이 부과<span>됩니다.</span></p>
									<p class="info-text">해외 <span class="t-special">로밍</span> 중인 고객에게 국제전화 요금이 부과<span>되며 <span class="t-special">현지 시간은 00시 00분입니다.</span></span></p>
									
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn btn-secondary">취소</button>
				<button type="button" class="btn btn-secondary hidden">서비스 해지</button>
				<button type="button" class="btn btn-primary hidden">서비스 변경</button>
			</div>			
		</div>
	</div>
</div>


<!-- 해외도착알리미 : 휴대폰 번호 유효성 검사 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop rmcomfirm hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>휴대폰 번호를 1개 이상 등록해 주세요.</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard  d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 신청하기 확인 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop rmcomfirm hidden" id="roaming1-1-1">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>신청하시겠습니까?</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard  d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 해지하기 확인 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop rmcomfirm hidden" id="roaming1-2-2">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>해지하시겠습니까?</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard  d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 변경하기 확인 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop rmcomfirm hidden" >
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>변경하시겠습니까?</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 신청하기 확인 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop rmcomfirm hidden" id="roaming1-1-1">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>신청하시겠습니까?</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard  d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 해지하기 확인 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop rmcomfirm hidden" id="roaming1-2-2">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>해지하시겠습니까?</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard  d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 변경하기 확인 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop rmcomfirm hidden" >
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>확인</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>변경하시겠습니까?</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard g-line">취소</button>
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>



<!-- 데이터로밍차단 : 신청 완료 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-success hidden" id="roaming1-1-1-1">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 신청 완료</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box success"> 
					<p class="tit">데이터 로밍 차단<br>신청이 완료되었습니다.</p>
					<p class="txt no_mt">와이파이가 연결되었을 때만 인터넷을 사용할 수 있도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 데이터로밍차단 : 해지 완료 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-success hidden" id="roaming1-1-1-2">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 해지 완료</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box success"> 
					<p class="tit">데이터 로밍 차단<br>해지가 완료되었습니다.</p>
					<p class="txt no_mt">와이파이가 연결되었을 때만 인터넷을 사용할 수 있도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 음성로밍차단 : 신청 완료 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-success hidden" id="roaming2-1-1-1">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 신청 완료</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box success"> 
					<p class="tit">음성 로밍 차단<br>신청이 완료되었습니다.</p>
					<p class="txt no_mt">해외에서는 문자메시지를 보내거나 전화를 걸 수 없도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 음성로밍차단 : 해지 완료 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-success hidden" id="roaming2-1-1-2">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 해지 완료</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box success"> 
					<p class="tit">음성 로밍 차단<br>해지가 완료되었습니다.</p>
					<p class="txt no_mt">해외에서는 문자메시지를 보내거나 전화를 걸 수 없도록 해주는 서비스 (무료)</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 해외도착알리미 : 신청 완료 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-success hidden" >
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 신청 완료</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box success"> 
					<p class="tit">해외 도착 알리미<br>신청이 완료되었습니다.</p>
					<p class="txt no_mt">최대 5명에게 해외 도착 사실을 문자메시지로 알려주는 서비스</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 해외도착알리미 : 해지 완료 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-success hidden" >
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 해지 완료</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box success"> 
					<p class="tit">해외 도착 알리미<br>해지가 완료되었습니다.</p>
					<p class="txt no_mt">최대 5명에게 해외 도착 사실을 문자메시지로 알려주는 서비스</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 해외도착알리미 : 변경 완료 -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-success hidden" >
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 변경 완료</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box success"> 
					<p class="tit">해외 도착 알리미<br>변경이 완료되었습니다.</p>
					<p class="txt no_mt">최대 5명에게 해외 도착 사실을 문자메시지로 알려주는 서비스</p>
					<div class="card-box product-info">
						<p class="list-box">
							<span class="list-data">010-12**-56**</span>
						</p>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 해외로밍 부가서비스 신청 : 실패 - 사용X -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-fail hidden" id="roaming-fail">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 신청 실패</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box caution"> 
					<p class="tit">음성 로밍 차단<br>신청이 완료되지 않았습니다.</p>
					<p class="txt no_mt">상담사를 바로 연결해 드리겠습니다.<br>끊지 마시고 잠시만 기다려주세요.</p>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 해외로밍 부가서비스 해지 : 실패 - 사용X -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-fail hidden" id="roaming-fail2">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 신청 실패</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box caution"> 
					<p class="tit">음성 로밍 차단<br>해지가 완료되지 않았습니다.</p>
					<p class="txt no_mt">상담사를 바로 연결해 드리겠습니다.<br>끊지 마시고 잠시만 기다려주세요.</p>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 해외로밍 부가서비스 변경 : 실패 - 사용X -->
<div class="modal-wrap popup-wrapper center-popup roamingPop plan-fail hidden" id="roaming-fail3">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>부가서비스 변경 실패</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="caution-box caution"> 
					<p class="tit">해외도착알리미<br>변경이 완료되지 않았습니다.</p>
					<p class="txt no_mt">상담사를 바로 연결해 드리겠습니다.<br>끊지 마시고 잠시만 기다려주세요.</p>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="standard d-bt">확인</button>
			</div>
		</div>
	</div>
</div>


<!--모달 팝업 영역 END-->

<script>
	const accordionItems = document.querySelectorAll(".d-accoBox");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBtn");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>
</body>
</html>
