<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper hk_roamingFarePage">
	<!-- 헤더 영역 -->
	<header class="header">
		<button type="button" class="c-btn prev">이전</button>
		<h1 class="page-title">이용내역</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<!-- 로밍신청 영수증 -->
	<div class="content">
		<div class="hk_content-section hk_roamingfare_layout">
			<div class="hk_p-plan">
				<div class="hk_plan-roaming">
					<div class="hk_section-plan hk_pb-20">
						<div class="content-section bg-gray">
							<div class="section-tit">
								<span>이용중인 요금제</span>
							</div>

							<div id="plan_list"> <!-- 개발자 영역 -->
								<!-- 요금제 없을 경우 -->
								<div class="card-box no-list hidden">
									<div class="card-header">
										<h2 class="info-title">현재 이용중인 요금제가 없어요</h2>
										<button type="button" class="btn btn-sm btn-line-primary">가입</button>
									</div>
								</div>
	
								<!-- 요금제 있을 경우 -->
								<div class="card-box">
									<div class="card-header">
										<h2 class="info-title">제로 프리미엄 중국/일본</h2>
										<button type="button" class="btn btn-sm btn-line-primary">변경/해지</button>
									</div>
									<div class="card-body">
										<div class="list-box">
											<div>
												<label class="list-label">국가</label>
												<div class="list-data">중국</div>
											</div>
											<div>
												<label class="list-label">기간</label>
												<div class="list-data">
													<span>2024-08-20~2024-08-30</span>
													<div class="tooltip-wrap">
														<button type="button" aria-describedby="tooltip" class="button tooltip-btn">툴팁버튼</button>
														<div class="p-tooltip" role="tooltip">
															<div class="tooltip-inner">
																<span>
																	이용기간은 현재시간 기준으로 안내됩니다.<br>
																	한국시간:2024.08.20 20:07-2024.08.30 20:07
																</span>
																<button type="button" class="tooltip-close"><span class="hidden">닫기</span></button>
															</div>
															<div id="arrow" data-popper-arrow></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="hk_c-section-md hk_pb-0">
							<!-- 최근 이용내역 및.. -->
							<div class="hk_rom_title">
								가장 최근에 이용하신 <span class="hk_rom-pink"> 로밍 내역</span>이에요 
							</div>
							<div class="hk_recipt_info">
								로밍 요금은 로밍을 신청/사용하신 다음 달 요금에 포함되어 청구돼요. <p></p>
								조회된 내역 외에 다른 로밍 내역이 궁금하시면, 로밍 이용 기간을 입력 후 조회버튼을 눌려주세요.
							</div>
							<!-- 사용기간 -->
							<div class="hk_form-wrap">
								<div class="hk_c-inpform hk_inp-hFix">
									<div class="hk_rom_sub">
										사용기간
										<div class="hk_btn-cancelAcc">
											<button class="hk_c-btn-outline-pink">
												조회
											</button>
										</div>
									</div>
									<div class="hk_datepicker-form">
										<div class="hk_c-inpform">
											<div class="hk_c-inpitem">
												<input placeholder="" maxlength="100" title="해외로밍 사용 시작일 입력" type="text" class="hk_c-inp hk_c-inp--dropdown" value="2023-12-24">
											</div>
										</div>
										<div class="hk_c-inpitem--dropdown">
											<div class="hk_c-inpite hk_c-inp hk_c-inp--dropdown">
											</div>
										</div> 

										<div class="hk_c-inpform">
											<div class="hk_c-inpitem">
												<input placeholder="" maxlength="100" title="해외로밍 사용 시작일 입력" type="text" class="hk_c-inp hk_c-inp--dropdown" value="2023-12-26">
											</div>
										</div>
										<div class="hk_c-inpitem--dropdown">
											<div class="hk_c-inpite hk_c-inp hk_c-inp--dropdown">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="hk_rom_sub hk_mt-10">
									이용내역
								</div>
								<div class="hk_list-form-group hk_form-rouned-line">
									<!-- 이용내역이 없는경우 -->
									<div class="hk_inner hidden">
										<dl class="hk_description-pd0">
											<div>
												<dt>
													이용내역이 없어요
												</dt>
											</div>
										</dl>
									</div>
										
									<dl class="hk_list-form-group__recipt">
										<div>
											<dt>방문국가</dt>
											<dd><strong>일본</strong></dd>
										</div>
										<div>
											<dt>이용기간</dt>
											<dd><strong>(3일) 23.12.24-23.12.26</strong></dd>
										</div>
										<div>
											<dt>이용 요금제</dt>
											<dd>기본 데이터 8GB + 추가 1GB 제공</dd>
										</div>
										<div>
											<dt> </dt>
											<dd>수신 100분</dd>
										</div>
										<div>
											<dt>총 금액</dt>
											<dd><p class="price">39,000원</p> </dd>
										</div>
									</dl>
								</div>
							</div>
							<div class="hk_rom_title hk_mt-20">
								<span class="hk_rom-pink"> 로밍 영수증</span>을 발급해 드릴까요? 
							</div>
							<div class="hk_recipt_info">
								발급 받으실 이메일 주소를 입력해 주세요. <p></p>
								입력하신 이메일로 영수증을 받아보실 수 있습니다.
							</div>
							<div class="hk_c-inpform-group email">
								<div class="hk_c-inpform is-clear">
									<div class="hk_c-inpitem Email">
										<input id="custEmail" name="_name" placeholder="sample" title="이메일 아이디 입력" type="text" class="hk_c-inpEmail">
										<button title="입력한 문자 삭제" class="hk_c-btn-clear-1"><span class="is-blind">입력한 문자 삭제</span></button>
									</div>
								</div>
								<div class="hk_between-at">@</div>
								<div class="hk_c-selform">
									<select id="_email" title="이메일 주소 직접선택" class="hk_c-select fc-gray">
										<option value="" class="">uplus.com</option>
										<option value="select">직접 입력</option>
										<option value="daum.net">daum.net</option>
										<option value="naver.com">naver.com</option>
										<option value="gmail.com">gmail.com</option>
										<option value="hotmail.com">hotmail.com</option>
										<option value="nate.com">nate.com</option>
									</select>
								</div>
							</div>
							<!-- 이메일 직접입력시 -->
							<div class="">
								<input id="custEmail" name="_name" placeholder=" " title="이메일 아이디 직접입력" type="text" class="hk_c-inpEmail">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer bottom-->
			<footer class="hk_modal-footer hk_pb-0">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						확인
					</button>
				</div>
			</footer>
			<!-- footer BTN End-->
		</div>

	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<!-- 로밍영수증 조회 full-popup -->
<div class="modal-wrap popup-wrapper roamingFarePop rmReceipt hidde">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<button type="button" class="c-btn prev">이전</button>
				<h1 class="pop-tit">로밍영수증 조회</h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="hk_rom_title">
					이용내역
				</div>

				<div class="hk_row hk_table-wrap">
					<table class="hk_table hk_b-table hk_table-bordered">
						<colgroup>
							<col style="width: 40%">
							<col style="width: 60%">
						</colgroup>
						<thead>
							<tr>
								<th>방문 나라</th>
								<th class="hk_rom-pink">사용 기간</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="hk_txt-left">일본</td>
								<td>2024.07.15 ~ 2024.07.31 </td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="hk_row hk_table-wrap">
					<table class="hk_table hk_b-table hk_table-bordered">
						<colgroup>
							<col style="width: 30%">
							<col style="width: 30%">
							<col style="width: 40%">
						</colgroup>
						<thead>
							<tr>
								<th>항목</th>
								<th>금액</th>
								<th>사용일수/건수/양</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>SMS</td>
								<td class="hk_price-strong hk_txt-right">900원</td>
								<td>6건</td>
							</tr>
							<tr>
								<td>로밍패스 2배 <br> 27GB_디지털</td>
								<td class="hk_price-strong hk_txt-right">53,636원</td>
								<td>5일</td>
							</tr>
							<tr>
								<td>부가세</td>
								<td class="hk_price-strong hk_txt-right">5,453원</td>
								<td>-</td>
							</tr>
							<tr>
								<td class="hk_total-td">총 사용금액</td>
								<td class="hk_price-strong hk_txt-right">59,989원</td>
								<td>5일</td>
							</tr>
						</tbody>
					</table>
				</div>

				<ul class="bullet mt16">
					<li>해외 로밍 이용 내역의 금액과 최종 청구금액은 다를 수 있습니다.</li>
					<li>음성 이용 요금의 경우 최종 청구금액과 다를 수 있으므로 참고용으로 활용 부탁 드립니다.</li>
					<li>서비스 이용 요금은 해외사업자의 과금자료를 기준으로 부과되므로 서비스 이용 후 1-2개월 후에 청구될 수 있으며, 이용기간에 따라 분할 청구될 수 있습니다.</li>
				</ul>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn">로밍영수증 발급</button>
			</div>
		</div>
	</div>
</div>

<!-- 영수증 발급완료 alert 팝업 -->
<div class="hk_modal-wrap hk_popup-wrapper center-popup hidden">
	<div class="hk_blacklayer appear"></div>
	<div class="hk_popup-content hk_alert-popup appear">
		<!--popup-header-->
		<div class="hk_popup-header">
			<div class="hk_header-section">
				<h1 class="hk_pop-tit"><span></span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!--popup-body-->
		<div class="hk_popup-body">
            <div class="hk_content-cau-section">
                <div class="hk_c-caution2">
                    <strong>로밍영수증이 발급되었습니다. <br/>
						이메일을 확인해 주세요.<p></p>
                    </strong>
                </div>
				
            </div>
            <div class="hk_c-btn-group hk_mt-0 hk_mb-10">
                <button type="button" class="hk_standard">확인</button>
            </div>
		</div>
		<!-- popup-footer -->
		<div class="hk_popup-footer">
		</div>
	</div>
</div>
<!-- 영수증 발급완료 alert 팝업 End -->

<!-- 영수증 발급실패 alert 팝업 -->
<div class="hk_modal-wrap hk_popup-wrapper center-popup hidden">
	<div class="hk_blacklayer appear"></div>
	<div class="hk_popup-content hk_alert-popup appear">
		<!--popup-header-->
		<div class="hk_popup-header">
			<div class="hk_header-section">
				<h1 class="hk_pop-tit"><span></span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!--popup-body-->
		<div class="hk_popup-body">
            <div class="hk_content-cau-section">
				<div class="hk_c-caution1">
                    <strong>로밍영수증 발급이 실패하였습니다. </strong>
                </div>
				<!-- subtext 있을경우 예제 -->
				<!-- <div class="hk_c-caution-subtxt">
					이메일 확인 후 다시 시도해 주세요
				</div> -->
            </div>
            <div class="hk_c-btn-group hk_mt-0 hk_mb-10">
                <button type="button" class="hk_standard">확인</button>
            </div>
		</div>
		<!-- popup-footer -->
		<div class="hk_popup-footer">
		</div>
	</div>
</div>
<!-- 영수증 발급실패 alert 팝업 End -->
<!--모달 팝업 영역 END-->


<!-- popper tooltip js -->
<script>
	const tooltipBtn = document.querySelector('.tooltip-btn');
	const tooltip = document.querySelector('.p-tooltip');

	const popperInstance = Popper.createPopper(tooltipBtn, tooltip, {
		placement: 'top',
		modifiers: [
			{
				name: 'offset',
				options: {
					offset: [0, 8],
				},
			},
			{
				name: 'flip',
				options: {
					fallbackPlacements: ['top', 'bottom'],
				},
			},
		],
	});

	function show() {
		// Make the tooltip visible
		tooltip.setAttribute('data-show', '');

		// Enable the event listeners
		popperInstance.setOptions((options) => ({
			...options,
			modifiers: [
				...options.modifiers,
				{ name: 'eventListeners', enabled: true },
			],
		}));

		// Update its position
		popperInstance.update();
	}

	function hide() {
		// Hide the tooltip
		tooltip.removeAttribute('data-show');

		// Disable the event listeners
		popperInstance.setOptions((options) => ({
			...options,
			modifiers: [
				...options.modifiers,
				{ name: 'eventListeners', enabled: false },
			],
		}));
	}

	const showEvents = ['click', 'focus'];
	const hideEvents = ['click(.tooltip-close);', 'blur'];

	showEvents.forEach((event) => {
		tooltipBtn.addEventListener(event, show);
	});

	hideEvents.forEach((event) => {
		tooltipBtn.addEventListener(event, hide);
	});

	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>
</body>
</html>
