<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper hk_roamingFarePage">
	<!-- 헤더 영역 -->
    <header class="header">
		<h1 class="page-title">로밍영수증 조회</h1>
		<button type="button" class="c-btn">닫기</button>
    </header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<!-- 로밍신청 영수증 -->
	<div class="content">
		<div class="hk_content-section hk_roamingfare_layout">
			<div class="hk_selfcontents hk_pt-10">
				<div class="hk_content-section hk_rom">
					<div class="hk_rom_title">
						이용내역
					</div>
                </div>
				<div class="hk_c-section-md hk_pt-0">
					<div class="hk_row hk_table-wrap">
						<table class="hk_table hk_b-table hk_table-bordered">
							<colgroup>
								<col style="width: 40%">
								<col style="width: 60%">
							</colgroup>
							<thead>
								<tr>
									<th>방문 나라</th>
									<th class="hk_rom-pink">사용 기간</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="hk_txt-left">일본</td>
									<td>2024.07.15 ~ 2024.07.31 </td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="hk_row hk_table-wrap">
						<table class="hk_table hk_b-table hk_table-bordered">
							<colgroup>
								<col style="width: 30%">
								<col style="width: 30%">
								<col style="width: 40%">
							</colgroup>
							<thead>
								<tr>
									<th>항목</th>
									<th>금액</th>
									<th>사용일수/건수/양</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>SMS</td>
									<td class="hk_price-strong hk_txt-right">900원</td>
									<td>6건</td>
								</tr>
								<tr>
									<td>로밍패스 2배 <br> 27GB_디지털</td>
									<td class="hk_price-strong hk_txt-right">53,636원</td>
									<td>5일</td>
								</tr>
								<tr>
									<td>부가세</td>
									<td class="hk_price-strong hk_txt-right">5,453원</td>
									<td>-</td>
								</tr>
								<tr>
									<td class="hk_total-td">총 사용금액</td>
									<td class="hk_price-strong hk_txt-right">59,989원</td>
									<td>5일</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="hk_c-section-md hk_information-wrap">
					<ul class="hk_c-bullet-type-cirlce hk_form-circle glow">
						<li class="hk_cir-list glow">해외 로밍 이용 내역의 금액과 최종 청구금액은 다를 수 있습니다.</li>
						<li class="hk_cir-list glow">음성 이용 요금의 경우 최종 청구금액과 다를 수 있으므로 참고용으로 활용 부탁 드립니다.</li>
						<li class="hk_cir-list glow">서비스 이용 요금은 해외사업자의 과금자료를 기준으로 부과되므로 서비스 이용 후 1-2개월 후에 청구될 수 있으며, 이용기간에 따라 분할 청구될 수 있습니다.</li>
					</ul>
				</div>
			</div>
			<!-- footer bottom-->
			<footer class="hk_modal-footer sticky">
				<div class="hk_c-btn-group">
					<button class="hk_c-btn-solidbox-2">
						로밍영수증 발급
					</button>
				</div>
			</footer>
			<!-- footer BTN End-->
		</div>
 
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<!-- 영수증 발급완료 alert 팝업 -->
<div class="hk_modal-wrap hk_popup-wrapper center-popup hidden">
	<div class="hk_blacklayer appear"></div>
	<div class="hk_popup-content hk_alert-popup appear">
		<!--popup-header-->
		<div class="hk_popup-header">
			<div class="hk_header-section">
				<h1 class="hk_pop-tit"><span></span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!--popup-body-->
		<div class="hk_popup-body">
            <div class="hk_content-cau-section">
                <div class="hk_c-caution2">
                    <strong>로밍영수증이 발급되었습니다. <br/>
						이메일을 확인해 주세요.<p></p>
                    </strong>
                </div>
				
            </div>
            <div class="hk_c-btn-group hk_mt-0 hk_mb-10">
                <button type="button" class="hk_standard">확인</button>
            </div>
		</div>
		<!-- popup-footer -->
		<div class="hk_popup-footer">
		</div>
	</div>
</div>
<!-- 영수증 발급완료 alert 팝업 End -->

<!-- 영수증 발급실패 alert 팝업 -->
<div class="hk_modal-wrap hk_popup-wrapper center-popup hidden">
	<div class="hk_blacklayer appear"></div>
	<div class="hk_popup-content hk_alert-popup appear">
		<!--popup-header-->
		<div class="hk_popup-header">
			<div class="hk_header-section">
				<h1 class="hk_pop-tit"><span></span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!--popup-body-->
		<div class="hk_popup-body">
            <div class="hk_content-cau-section">
				<div class="hk_c-caution1">
                    <strong>로밍영수증 발급이 실패하였습니다. </strong>
                </div>
				<!-- subtext 있을경우 예제 -->
				<!-- <div class="hk_c-caution-subtxt">
					이메일 확인 후 다시 시도해 주세요
				</div> -->
            </div>
            <div class="hk_c-btn-group hk_mt-0 hk_mb-10">
                <button type="button" class="hk_standard">확인</button>
            </div>
		</div>
		<!-- popup-footer -->
		<div class="hk_popup-footer">
		</div>
	</div>
</div>
<!-- 영수증 발급실패 alert 팝업 End -->

<!--모달 팝업 영역 END-->

</body>
</html>
