@charset "utf-8";

/* ============================================= */
/* Element										 */
/* ============================================= */
.vertical {display: flex !important; flex-direction: column !important;}
.t-special { color: var(--common--secondary) !important;}

/* 필수 표시 */
.required {
	overflow: hidden;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 0 4px 5px;
	white-space: nowrap;
	background-image: url(../images/common_icon.svg);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: -300px 0;
}

/* =================================================
	layout											
================================================= */
/* page-wrapper */
.page-wrapper {
	width: 100%;
	height: 100%;
	font-size: 1em; /*기본폰트 사이즈 지정, 계산용 16px*/
}
.no-header .content {
	padding-top: 0;
}
/* header 영역 */
.header {
	display: flex;
	width: 100%;
	min-height: 112px;
	text-align: left;
	position: fixed;
	top: 0;
	left:0;
	border-bottom: 1px solid #efefef;
	background-color: var(--common--white);
	padding: 0 8px;
	z-index: 1;
	align-items: center;
}
/* .header h1 {
	width: 100%;
	height: 100%;
	min-height: 48px;
	display: inline-block;
} */
.c-btn,
.prev-btn {
	position: relative;
	height: 40px;
	width: 40px;
	min-width: 40px;
	color: rgba(255, 255, 255, 0);
	white-space: nowrap;
	border: 0;
	background-color: inherit;
	text-indent: 999999px;
	padding: 0;
	overflow: hidden;
}
.c-btn::after {
	display: inline-block;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/common_icon.svg);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: -400px -160px;
}
.c-btn.prev::after {
	background-image: url(../images/ico-prev-btn.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

/* content 영역 */
.content {
	width: 100%;
	height: 100%;
	padding-top: 48px; /*헤더 높이 입력*/
	display: flex;
	flex-direction: column;
	z-index: 0;
}
.content > *:last-child {
	padding-bottom: 2.5em;
}

/* 종료 화면 */
/* endPage > content-section */
.endPage .content-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
	padding: 25px;
	margin: auto 0;
}



/* =================================================
	component											
================================================= */
/* bullet List */
.bullet,
.acco-list,
.list.dot-list,
.dot-list {
	--bulletList-font-size : 0.750rem;
	--bulletList-bullet-size : 0.1667em;
	--bullet-to-section-mg : 0.5000em; /* 들여쓰기 */
	--bulletList-between-pd : 0.1667em; /* 행간 */

	--bulletList-font-color : #555;
	--bulletList-font-weight : 400;
	--bulletList-font-lineHeight : 1.4;
	--bulletList-bullet-color : var(--bulletList-font-color);

	--bulletList-bullet-translateY : calc( var(--bulletList-font-size) - calc( var(--bulletList-bullet-size) + calc( var(--bulletList-bullet-size)/2 ) ) );
	--bulletList-bullet-translateX : calc( calc( var(--bulletList-font-size)/2 ) - var(--bulletList-font-size) );
	--bullet-to-word-pd : calc( var(--bulletList-font-size)/2 );


	

	font-size: var(--bulletList-font-size);
	font-weight: var(--bulletList-font-weight);
	color: var(--bulletList-font-color);
	line-height: var(--bulletList-font-lineHeight);
	padding-left: var(--bullet-to-word-pd);
	margin-left: var(--bullet-to-section-mg);
}
.bullet > li,
.acco-list > *,
.list.dot-list > li,
.dot-list > li {
	display: block;
	position: relative;
	font-size: 10px;
	line-height: unset;
	padding: var(--bulletList-between-pd) 0;
}
.bullet > li::before,
.acco-list > *::before,
.dot-list > li::before {
	content: " ";
	display: inline-block;
	width: var(--bulletList-bullet-size);
	height: var(--bulletList-bullet-size);
	border-radius: var(--bulletList-bullet-size);
	background-color: var(--bulletList-bullet-color);
	position: absolute;
	top: 0;
	transform: translateY( var(--bulletList-bullet-translateY) );
	left: var(--bulletList-bullet-translateX);  
}

/* dot-list, acco-list */
.dot-list .list-tit,
.acco-list .list-tit {
	left: -8px;
	font-weight: 500;
}
.dot-list .list-tit::before,
.acco-list .list-tit::before {
	display: none;
}
.dot-list .subdot-list::before,
.acco-list .subdot-list::before {
	display: none;
}
.acco-list {
	margin-top: 4px;
	margin-bottom: 4px;
}
/* 카드 섹션 영역 */
.card {
	width: 100%;
	padding: 12px 10px 12px 14px;
	overflow: unset;
	border-radius: 8px;
	border: 1px solid #C4C4C4;
	position: relative;
	background-color: var(--common--white);
}
.card p {
	font-size: 10px;
	line-height: 1.5;
}
.card .small {
	margin-top: 6px;
	font-size: 13px;
}
.card~.card {
	margin-top: 16px;
}

/* 콘텐트 섹션 */
.content-section {
	position: relative;
	padding: 20px;
	text-align: left;
}
.title-section {
	padding: 38px 20px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.title-section .section-tit-lg {
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: -.04em;
	font-weight: 700;
}
.title-section ~ .content-section {
	padding-top: 0;
}
.info-txt {
	font-size: 16px;
	font-weight: 500;
	color: #555555;
	line-height: 1.5;
}
.content-section.button-section >* {
	margin-top: 20px;
}
.content-section.button-section >*:first-child {
	margin-top: 0;
}
.section-tit {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
	padding: 0 0 16px;
	display: flex;
	justify-content: space-between;
}
.section-tit > span {
	font-weight: 600;
	display: block;
}
/* flex 박스 : content-row */
.content-row {
	display: flex;
	/* padding: 6px 0; */
	/* font-size: 13px; */
	justify-content: space-between;
	align-items: center;
}
.content-row ~ .content-row {
	padding: 6px 0;
}
.content-row:last-child {
	padding-bottom: 0;
}

/* button btn */
button {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}
.btn {
	min-height: 2.5000rem;
	font-size: 14px;
	font-weight: 500;
	line-height: 110%;
	border-radius: 10px;
	padding: 0.25rem 0.5rem;
}
.btn-round {
	border-radius: 3.5rem !important;
	padding: 0.25rem 1rem;
}
.btn-primary {
	background-color: var(--common--secondary) !important;
	border: 1px solid var(--common--secondary) !important;
	color: var(--common--white) !important;
}
.btn-secondary {    
	background-color: var(--common--white) !important;
	border: 1px solid #bbb !important;
	color: #000 !important;
}
.btn-line-primary {
	background-color: var(--common--white) !important;
	border: 1px solid var(--common--secondary) !important;
	color: var(--common--secondary) !important;
}
.btn-line-secondary {
	background-color: var(--common--white) !important;
	border: 1px solid #bbb !important;
	color: #000 !important;
}
.btn-gray {
	background-color: #F3F5F6 !important;
	border: 1px solid #f3f5f6 !important;
	color: #66707A !important;
}
/* button disabled */
button:disabled,
button.disabled,
.btn:disabled,
.btn.disabled,
.button:disabled,
.button.disabled {
	background-color: #929292 !important;
	border: 1px solid #929292 !important;
	color: #505050 !important;
	outline: none !important;
	-webkit-tap-highlight-color: transparent !important;
}

/* btn-group */
.btn-group {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	gap: 0.375em;
	padding: 0 20px 20px;
	margin-top: 16px;
}
.btn-group:has(.btn-sm) {
	width: auto;
	margin: 16px auto 0;
}
.btn-group > .btn,
.btn-group.btn-group-sm > .standard {
	min-width: auto;
	flex: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.bottom-button .btn-group > .btn,
.popup-footer .btn-group > .btn {
	min-height: 52px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 13px;
}
.popup-body .btn-group,
.btn-group.btn-group-sm {
	max-width: 320px;
	margin: 16px auto 0;
	align-items: stretch;
}
.popup-body .btn-group.vertical {
	max-width: unset;
}
.popup-body .btn-group:not(.vertical) > .btn:not(.btn-sm),
.popup-body .btn-group:not(.vertical) > .standard,
.btn-group.btn-group-sm:not(.vertical) > .btn:not(.btn-sm),
.btn-group.btn-group-sm:not(.vertical) > .standard {
	max-width: 45%;
}
.popup-body .btn-group.btn-group-sm.vertical {
	flex-direction: column-reverse !important;
}
.popup-body .btn-group:not(.btn-group-sm).vertical {
	align-items: center;
}
/* bottom-button : content inner fixed button */
.bottom-button {
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;    
	margin-top: auto;
	background-color: var(--common--white);
	padding: 0 !important;
}
.bottom-button .btn-group .standard {  
	width: 100%;
	min-height: 52px;  
	border-radius: 13px;
	font-size: 16px;
	font-weight: 500;
}
.bottom-button .btn-group::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: -10px;
	width: 100%;
	height: 10px;
	background: linear-gradient(0deg,var(--common--white),hsla(0,0%,100%,0));
}
/* fit button : 서비스 상세 화면 - 서비스 가입, 해지 등 */
.btn-group-solid {
	margin-top: 0;
	padding: 0;
	gap: 0;
}
.btn-group.btn-group-solid .btn {
	border-radius: 0 !important;
}
.btn-solid-primary {
	background-color: var(--common--secondary) !important;
	border: 1px solid var(--common--secondary) !important;
	color: var(--common--white) !important;
	border-radius: 0 !important;
}
.btn-solid-secondary {
	background-color: #000 !important;
	border: 1px solid #000 !important;
	color: var(--common--white) !important;
	border-radius: 0 !important;
}

/* 종료/팝업 버튼 : 공통 */
/* 일반 : btn-group-sm */
.btFlexible .btn-group-sm .btn,
.popup-wrapper .btn-group-sm .btn {
	background-color: var(--common--white);
	border: 1px solid #bbb;
	color: #000;
}
.btFlexible .btn-group-sm .btn:last-child,
.popup-wrapper .btn-group-sm .btn:last-child {	
	background-color: var(--common--secondary);
	border: 1px solid var(--common--secondary);
	color: var(--common--white);
}
/* Full : bottom-button > btn-group */
/* 기본버튼 :라인 */
.btFlexible .bottom-button .btn-group .btn,
.popup-wrapper .popup-footer .btn-group .btn {
	background-color: var(--common--white);
	border: 1px solid #bbb;
	color: #000;
}
/* fit Btn : .btn-group.btn-group-solid */
.btFlexible .bottom-button .btn-group.btn-group-solid .btn,
.popup-wrapper .popup-footer .btn-group.btn-group-solid .btn {
	background-color: #000;
	border: 1px solid #000;
	color: var(--common--white);
}
/* 가로 정렬 버튼 : bottom-button > btn-group */
/* 마지막:primary */
.btFlexible .bottom-button .btn-group:not(.vertical) .btn:last-child:not(.btn-line-secondary),
.btFlexible .bottom-button .btn-group:not(.vertical) .btn:last-child:not(.btn-withghost):not(.btn-line-secondary),
.popup-wrapper .popup-footer .btn-group:not(.vertical) .btn:last-child:not(.btn-withghost):not(.btn-line-secondary),
.popup-wrapper .btn-group:not(.vertical) .btn:last-child:not(.btn-withghost):not(.btn-line-secondary) {
	background-color: var(--common--secondary);
	border: 1px solid var(--common--secondary);
	color: var(--common--white);
}
.page-wrapper .content .btn-group.btn-group-sm .btn,
.center-popup .popup-body .btn-group:not(.vertical):not(.btn-group-solid) .btn {
	border-radius: 20px;
}
/* 세로 정렬 버튼 : bottom-button > btn-group.vertical */
/* 마지막:ghost */
.btFlexible .bottom-button .btn-group.vertical .btn:nth-child(n+2):last-child:not(.btn-line-secondary),
.btFlexible .bottom-button .btn-group.vertical .btn.btn-withghost:not(.btn-line-secondary),
.popup-wrapper .popup-footer .btn-group.vertical .btn:last-child:not(.btn-line-secondary),
.popup-wrapper .popup-footer .btn-group.vertical .btn.btn-withghost:not(.btn-line-secondary) {
	background-color: transparent;
	border: 0;
	color: #666;
}
/* 가로/세로 정렬 버튼 :  */
/* 메인버튼: primary */
.btFlexible .bottom-button .btn-group.vertical .btn:first-child:not(.btn-line-secondary):not(.btn-withghost),
.popup-wrapper .popup-footer .btn-group.vertical .btn:first-child:not(.btn-line-secondary) {
	background-color: var(--common--primary);
	border: 1px solid var(--common--primary);
	color: var(--common--white);
}

.btFlexible .content-section .bottom-button .btn-group {
	padding-left: 0;
	padding-right: 0;
}
.btFlexible .btn-group.vertical .btn:first-child,
.btFlexible .btn-group.vertical .btn.btn-withghost + .btn,
.popup-wrapper .popup-footer .btn-group.vertical .btn.btn-withghost + .btn {
	margin-top: 0;
}
.btFlexible .content:has(.bottom-button) {
	padding-bottom: 0;
	justify-content: space-between;
}
.btFlexible .content:has(.bottom-button) {
	justify-content: unset;
}

/* input select textarea */
/* input : 인풋 기본 */
::placeholder {
	color: #929292;
	opacity: 1;
}
::-webkit-input-placeholder {
	color: #929292;
	opacity: 1;
}
::-ms-input-placeholder {
	color: #929292;
	opacity: 1;
}
textarea::-webkit-input-placeholder {
	color: #929292;
	opacity: 1;
}
textarea:-ms-input-placeholder {
	color: #929292;
	opacity: 1;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
select {
	width: 100%;
	/*height: 40px;*/
	padding: 9px 0 10px;
	background-color: var(--common--white);
	font-size: 14px;
	font-weight: 400;
	color: #000;
	border-bottom: 1px solid #bbb;	
	caret-color: var(--common--secondary);
	outline: none !important;
}
/* input : 입력 disabled, readonly, focus*/
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="tel"]:focus, 
input[type="date"]:focus, 
select:focus, 
textarea:focus {
	border-color: #000;
}
input[type="text"]:disabled, 
input[type="password"]:disabled, 
input[type="email"]:disabled, 
input[type="number"]:disabled, 
input[type="tel"]:disabled, 
input[type="date"]:disabled, 
textarea:disabled,
select:disabled,
input[type="text"]:disabled:focus, 
input[type="password"]:disabled:focus, 
input[type="email"]:disabled:focus, 
input[type="number"]:disabled:focus, 
input[type="tel"]:disabled:focus, 
input[type="date"]:disabled:focus, 
textarea:disabled:focus,
select:disabled:focus,
input[type="text"]:read-only, 
input[type="password"]:read-only, 
input[type="email"]:read-only, 
input[type="number"]:read-only, 
input[type="tel"]:read-only, 
input[type="date"]:read-only, 
textarea:read-only,
input[type="text"]:read-only:focus, 
input[type="password"]:read-only:focus, 
input[type="email"]:read-only:focus, 
input[type="number"]:read-only:focus, 
input[type="tel"]:read-only:focus, 
input[type="date"]:read-only:focus, 
textarea:read-only:focus {
	color: #666;
	border-color: #ddd;
}
/* input custom */
.custom-info {
	display: flex;
	align-items: center;
	font-size: 14px;
	flex: 1;
	gap: 14px;
}
.custom-info .custom-inp {
	flex: 1;
	letter-spacing: -.02em;
}
.info-label {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
	color: #000;
	text-align: left;
	margin-right: auto;
}
.inputInfo ~ .inputInfo {
	margin-top: 43px;
}
.custom-info ~ .custom-info {
	margin-top: 12px;
}
/* inputInfo 내 간격조정 */
.inputInfo > .select-box + .select-box,
.inputInfo > .custom-info + .custom-info,
.inputInfo > .select-box + .custom-info,
.inputInfo > .custom-info + .select-box {
	margin-top: 8px;
}
/* input : 입력 에러 */
.error-txt {
	width: 100%;
	margin-top: 8px;
	text-align: left;
	font-size: 12px;
	font-weight: 400;
	color: #FF5252;
	display: none;
}
.error input, 
.error textarea, 
.error select {
	border-color: #FF5252;
}
.error .error-txt {
	display: block;
}
.inputInfo-lg .custom-info.error {
	border-bottom: 2px solid #FF5252;
}

/* radio : 라디오 기본(원형 라디오) */
.r-radio-group {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.r-radio-box {
	flex: 1 1 50%;
	padding: 0.75em 0 0;
	text-align: left;
}
.r-radio {
	display: inline-flex;
	position: relative;
	min-width: 16px;
	min-height: 16px;
	padding-right: 16px;
	color: #000;
	text-align: left;
	cursor: pointer;
	align-items: center;
}
.r-radio input[type=radio] {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 16px;
	height: 16px;
	background: transparent;
	border: 0;
	outline: 0;
	opacity: 0;
}
.r-radio-box .r-radio label {
	margin-right: 8px;
}
.r-radio .radio-txt {
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
}
.r-radio .icon {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background-image: url(../images/radio_default.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
.r-radio input[type=radio]:checked~.radio-txt>.icon {
	background-image: url(../images/radio_checked.svg);
}
.r-radio input[type=radio]:disabled~.radio-txt>.icon {
	background-image: url(../images/radio_disabled.svg);
}
.r-radio input[type=radio]:checked:disabled~.radio-txt>.icon {
	background-image: url(../images/radio_checked_disabled.svg);
}
/* radio : 박스 타입 */
.radio-group {
	display: flex;
	width: 100%;
	padding-top: 8px;
	gap: 6px;
}
.radio-group .radio-box {
	overflow: hidden;
	position: relative;
	display: inline-flex;
	background-color: var(--common--white);
	flex: 1 100%;
}
.radio-group .radio-box .radio-btn {
	width: 100%;
	padding: 0;
	min-width: auto;
	min-height: auto;
	display: inline-flex;
	position: relative;
	color: #000;
	text-align: left;
	cursor: pointer;
}
.radio-btn input[type=radio] {
	position: absolute;
	top: 2px;
	left: 2px;
	background: transparent;
	border: 0;
	outline: 0;
	opacity: 0;
}
.radio-box .radio-btn .text-radio {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 40px;
	background-color: var(--common--white);
	border: 1px solid #bbb;
	border-radius: 4px;
	word-break: break-word;
	vertical-align: baseline;
	font-size: 14px;
}
.radio-box .radio-btn .text-radio>.txt {
	width: 100%;
	margin-left: 0;
	text-align: center;
	color: #666;
	font-weight: 500;
	padding: 8px 0;
	display: inline-block;
	vertical-align: baseline;
}
.radio-box .radio-btn .text-radio>.s-txt {
	width: 100%;
	color: #666;
}
.radio-box input[type=radio]:checked + .text-radio {
	border: 2px solid #000;
}
.radio-box input[type=radio]:checked + .text-radio .txt {
	color: #000;
}
.radio-box input[type=radio]:checked + .text-radio .s-txt {
	color: #000;
}
.radio-box input[type=radio]:disabled + .text-radio {
	background-color: #eee;
}
.radio-box input[type=radio]:disabled + .text-radio>.txt {
	color: #666;
}
.radio-box input[type=radio]:disabled + .text-radio>.s-txt {
	color: #666;
}
/* vertical radio-box */
.radio-group.vertical .radio-box {
	flex: 1 1 40%;
	max-width: 100%;
}
.radio-group.vertical .radio-box .radio-btn .text-radio {
	flex-direction: column;
	justify-content: center
}
.radio-group.vertical .radio-box .radio-btn .text-radio>.txt {
	text-align: left;
}
.radio-group.vertical .radio-box .radio-btn .text-radio {
	border: none;
	padding: 10px 16px 16px 16px;
}
.radio-group.vertical .radio-box input[type=radio] + label::before {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	border: 1px solid #bbb;
	border-radius: 7px;
}
.radio-group.vertical .radio-box input[type=radio]:checked + label::before {
	border: 2px solid #000;
}
/* radio : 선택형 카드 타입 */
.card-list {
	display: flex;
	flex-direction: column;
}
.card-list li {
	flex: 1;
}
.card-list li+li {
	margin-top: 16px;
}
/* 일반(이벤트형) 선택형 카드 타입 */
.card-choice {
	width: 100%;
	height: 100%;
	position: relative;
}
.card-choice {
	display: flex;
	min-height: 90px;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 7px;
	padding: 24px 20px;
	gap: 8px;
}
.card-choice.choice {
	border: 2px solid var(--common--secondary);
}
.card-choice .text-wrap {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.card-choice .text-wrap .contents-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}
.card-choice .text-wrap .contents-sub-text {
	display: flex;
	flex-wrap: wrap;
	margin: 4px 0 0;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: -.05em;
	color: #66707a;
}




/* 뱃지 : flag-group - 일시정지, 사용중, 인기, 최신 등 */
.flag-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
}
.flag-box {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 3px 8px;
	/* min-width: 37px; */
	/* height: 18px; */
	line-height: auto;
	border-radius: 6px;
	background-color: var(--common--white);
	color: #000;
	font-size: 10px;
	font-weight: 500;
}
.flag-box.store {
	background-color: #FFEFD5;
}
.flag-box.able {
	border-color: #e6007e;
	color: #e6007e;
}
.flag-box.disabled {
	color: #666;
	background-color: #ccc;
	border-color: #ccc; 
}

/* list */
.list {
	width: 100%;
	text-align: left;
}
.list li {
	font-size: 13px;
	color: #000;
	position: relative;
	line-height: 1.5;
	letter-spacing: -0.05em;
	font-weight: 400;
}
.list-tit {
	margin-bottom: 2px;
	font-weight: 500;
}
.list ~ .list {
	margin-top: 16px;
}
/* Line-list */
.line-list {
	width: 100%;
}
.line-list > li {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 16px 20px;
	border-bottom: 1px solid #eee;
}




/* 성공, 주의, 안내 - 기본 */
.caution-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	line-height: 1.4;
	color: #000;	
	margin: auto 0;
	text-align: center;
}
.caution-section .tit {
	font-size: 1.1250rem;
	font-weight: 700;
	margin-top: 0.25em;
}
.caution-section .txt {
	font-size: 13px;
	color: #666666;
}
/* 성공, 주의, 안내 - content-section > caution-section */ 
.content-section .caution-section {
	padding: 32px 0;
}
.content-section .caution-section .tit {
	font-size: 1rem;
}


/* popup : 팝업 영역 */
/*modal open시 body scroll 제어*/
.openModal {
	overflow: hidden !important;
}
.blacklayer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

/* 팝업 스타일 : 공통 */
.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	transform: translateY(0);
	z-index: 999;
}
.modal-wrap.bottom-popup,
.popup-wrapper.bottom-popup {
	align-items: flex-end;
}
.modal-wrap.center-popup,
.popup-wrapper.center-popup {
	justify-content: center;
	align-items: center;
}
.popup-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--common--white);
	overflow: auto;
	z-index: 1;
}
.popup-header .header-section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
}
.pop-tit {
	width: 100%;
	font-size: 16px;
	line-height: 1.5px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.c-btn.prev + .pop-tit {
	padding-left: 4px;
}
.popup-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 60px;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	overflow-y: auto;
	background-color: var(--common--white);
}
.popup-footer {
	width: 100%;
	background-color: var(--common--white);
	position: relative;
}
.popup-footer .btn-group::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: -10px;
	width: 100%;
	height: 10px;
	background: linear-gradient(0deg,var(--common--white),hsla(0,0%,100%,0));
}
.appear {
	animation: fade-in .3s forwards;
}
.slideUp {
	animation: slide-up .3s;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slide-up {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

/* 바텀팝업 : 기본 */
.bottom-popup .popup-content {
	max-height: 90vh;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}
.bottom-popup .popup-header:not(.c-btn-x) .header-section {
	justify-content: center;
}
.bottom-popup .popup-body {
	max-height: calc(100% - 72px);
}
/* 바텀팝업 : X 버튼 */
.bottom-popup .popup-header.c-btn-x .header-section {
	padding: 24px 24px 8px;
}
.bottom-popup .popup-header.c-btn-x .header-section .pop-tit {
	font-size: 16px;
	line-height: 1.5;
}


/* 전체 팝업 TYPE2 */
.popup-content.full-popup  {
	height: 100%;
	max-height: unset;
	border-radius: 0;
}
.full-popup .header-section {
	height: 48px;
	border-bottom: 1px solid #efefef;
}
.full-popup .popup-body {
	height: 100%;
	max-height: none;
}
/* 팝업 내 notice 아코디온 Y */
.popup-body.bt-accopage> *:nth-last-child(2) {
	/*padding-bottom: 2.5em;*/
	margin-bottom: auto;
}
.popup-body.bt-accopage> *:last-child {
	padding-bottom: 0;
}

/* alert 팝업 */
.popup-content.alert-popup  {
	border-radius: 14px;
	overflow: hidden;
	max-width: 460px;
	margin: 0 20px;
	height: fit-content;
}
.alert-popup .header-section {
	height: 60px;
	background-color: #f5f5f5;
}
.alert-popup  .header-section .c-btn {
	width: 40px;
	height: 40px;
}
.alert-popup .header-section .c-btn::after {
	display: inline-block;
	content: "";
	width: 40px;
	height: 40px;
	background: transparent;
	border-radius: 0;
	top: 0;
	left: 0;
	background-image: url(../images/common_icon.svg);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: -400px -160px;
}
.alert-popup .popup-body {
	font-size: 16px;
	line-height: 1.4;
	color: #000;
}
.alert-popup .popup-body .content-section,
.center-popup .popup-body .content-section {
	padding: 40px 20px 20px;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	gap: 1.25em;
}
.alert-popup .popup-body .content-section .tit,
.alert-popup .popup-body .content-section h1 {
	color: #000;
	font-weight: 700;
}
.alert-popup .popup-body .content-section .txt {
	color: #66707a;
}
.alert-popup .popup-body .content-section .txt-l {
	font-size: 20px;
	font-weight: 700;
}
.alert-popup .popup-body .content-section .img {
	padding-top: 24px;
	margin: 0 auto;
	max-width: 260px;
}
.alert-popup .popup-body .content-section .img img {
	width: 100%;
}
/* alert-popup  > popup-body > btn-group */
.alert-popup .popup-body .btn-group {
	padding: 0 20px 24px;
}



/* 농협 작업 */
.header .page-title {
	flex: 1 auto;
	width: 100%;
    height: 100%;
	min-height: 48px;
	display: flex;
	align-items: center;
    column-gap: 4px;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 8px 0 20px;
}
/* header : vertical (button-section 정렬) */
.header.vertical {
	height: auto;
	padding: 0;
}
.button-section {
	position: relative;
	width: 100%;
	padding: 12px 28px;
	border-radius: 0 0 16px 16px;
	box-shadow: 0 4px 9px rgba(0, 0, 0, 0.09);
}
.button-section .util-box {
	display: flex;
	flex-direction: row;
	gap: 24px;
}
.button-section .util-box .btn {
	flex: 1 1 auto;
	font-size: 13px;
	text-align: center;
	color: var(--common--white);
	display: flex;
	justify-content: center;
    align-items: center;
	border-radius: 30px;
	padding: 4px 12px;
	gap: 4px;
}
.button-section .util-box .btn.callbot {
	background-color: #2EBA6A;
}
.button-section .util-box .btn.callEnd {
	background-color: #FF5252;
}
.button-section .util-box .btn.callEnd::before {
	content: "";
	display: inline-block;
	width: 22px;
	min-width: 22px;
	height: 22px;
	background: url(../images/callEnd.svg) no-repeat center;
	background-size: cover;
}
.button-section .arrowBtn {
	position: absolute;
	width: 28px;
	min-width: 28px;
	height: 28px;
	border-radius: 28px;
	left: 50%;
	transform: translateX(-50%) rotate(0deg);
	box-shadow: 0 4px 9px rgba(0, 0, 0, 0.09);
}
.button-section .arrowBtn::after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 3rem;
	background-color: var(--common--white);
	background-image: url(../images/openBtn.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.header.vertical.close .util-box {
	display: none;
}
.header.vertical.close .arrowBtn::after {
	transition: all .3s ease;
	transform: rotate(180deg);
}
/* header : vertical 일 경우 content padding-top 수정 */
.header.vertical ~ .content {
	padding-top: 114px;
}
.header.vertical.close ~ .content {
	padding-top: 74px;
}
/* header 내 로고 필요할 경우 */
.page-title.logo::before {
	content: "";
	display: inline-block;
	width: 65px;
	min-width: 65px;
	height: 15px;
	background: url(../images/logo.png) no-repeat center;
	background-size: cover;
}
/* sc0002.html card 작업 */
.loanExtension .card~.card {
	margin-top: 15px;
}
.loanExtension .card {
	border-radius: 8px;
	border: 1px solid #c4c4c4;
	padding: 12px 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.loanExtension .card.is-select {
	border: 1px solid var(--common--secondary);
	box-shadow: 0 2px 4px rgba(1,90,173,0.46);
}
.loanExtension .card-info {
	padding-left: 4px;
	padding-bottom: 9px;
}
.loanExtension .card-info:last-child {
	padding-bottom: 0;
}
.loanExtension .content-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.loanExtension .content-row .info-txt {
	font-size: 14px;
	line-height: 1.5;
	color: #000;
}
.loanExtension .card.is-select .content-row .info-txt{
	color: var(--common--secondary);
}
.loanExtension .content-row .tit {
	font-size: 12px;
	line-height: 16px;
	color: #555555;
}
.loanExtension .content-row .txt {
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
	color: #000;
}
.loanExtension .flag-box {
	padding: 3px 8px;
	border-radius: 6px;
	font-size: 10px;
	line-height: 1.5;
	color: #000;
}
.loanExtension .flag-box.store {
	background-color: #FFEFD5;
}
.loanExtension .flag-box.nonFace {
	background-color: #E4FCE9;
}
.loanExtension .flag-box.autoExt {
	background-color: #FCE4E4;
}
.loanExtension .content-row ~ .content-row {
    padding: 6px 0 0;
}
.loanExtension .card-list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	row-gap: 16px;
	column-gap: 18px;
	flex-wrap: wrap;
}
.loanExtension .card-list > li {
	flex: 1 calc(50% - 16px);
	width: 50%;
	height: 121px;
	min-height: 121px;
}
.loanExtension .card-list li+li {
    margin-top: unset;
}
.loanExtension .card-choice {
	display: flex;
	flex-direction: column;
	align-items: unset;
	row-gap: 8px;
	border: 1px solid #C4C4C4;
	border-radius: 8px;
	padding: 14px 14px 9px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.loanExtension .card-choice .text-wrap {
	font-size: 12px;
	line-height: 1.5;
	color: #000;
	text-align: left;
}
.loanExtension .card-choice .text-wrap .contents-title {
	font-size: 12px;
	line-height: 1.5;
}
.loanExtension .card-choice .text-wrap.tooltip .contents-title::after{
	display: inline;
	content: '';
	padding-right: 16px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(../images/ico-tooltip.svg);
	background-size: 12px 12px;
	background-position: left 4px center;
}
.loanExtension .card-choice .img-wrap {
	display: flex;
	justify-content: flex-end;
	/* margin-left: auto; */
}
.loanExtension .card-choice .img-wrap img {
	width: 61px;
}
.loanExtension .list.dot-list .list-tit {
	font-size: 13px;
	line-height: 1.5;
	color: #000;
	margin-bottom: 7px;
}
.loanExtension .btn-group {
	padding: 0;
	margin-top: 16px;
}
.loanExtension .btn-group .btn-gray {
	width: 100%;
	border-radius: 7px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #2c2c2c !important;
	padding: 7px 0;
	text-align: center;
}
/* sc0002.html 비대면 대출 기간 연장 팝업 */
.nonfaceLoan .img-group {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	margin-top: 20px;
}
/* sc0004.html 임대차계약서 안내 팝업 */
.leaseAgreement .popup-body .info-txt {
	font-weight: 400;
	color: #000;
}
/* sc0005.html card 작업 */
.loanExtension .account .card-info {
	padding-bottom: 4px;
}
.loanExtension .account .card-info:last-child {
	padding-bottom: 0;
}


@media only screen and ( min-width: 920px ), only screen and ( min-width: 748px ) and (orientation:portrait) {
	
}

/* Mobile Standard */
@media only screen and ( max-width: 320px ) {
	
}

/* Mobile Small */
@media only screen and ( max-width: 280px ) {
	
}







