<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">스스로 해결 가이드</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section">
			<div class="inputInfo">
				<div class="select-box">
					<select class="select-form">
						<option value="">전체</option>
						<option value="">모바일</option>
						<option value="">인터넷</option>
						<option value="">IPTV</option>
						<option value="">인터넷 전화</option>
						<option value="">스마트홈</option>
						<option value="">꿀팁</option>
					</select>
				</div>
			</div>
			<div class="inputInfo no_mt">
				<div class="inputBox">
					<div class="custom-info inBtn">
						<input id="" name="" placeholder="찾고 싶은 내용을 입력하세요" type="text" class="custom-inp">
						<button type="button" class="find-btn"><span class="hidden">검색</span></button>
					</div>
				</div>
			</div>
			<div class="content-row">
				<ul class="list dot-list">
					<li>모바일에서 동영상 및 포스트 확인 시 3G/LTE/5G 네트워크를 이용하는 경우 가입한 요금제에 따라 데이터 이용료가 발생할 수 있습니다.</li>
					<li>데이터 이용료가 발생하는 것을 원하지 않는 경우에는 와이파이로 연결해 주시기 바랍니다.</li>
				</ul>
			</div>
		</div>

		<!-- 메인 콘텐츠 영역 -->
		<div class="content-section devider">
			<div class="content-row">
				<p class="bold">총 <span class="t-special bold">225</span>건 스스로 해결 가이드 방법 검색</p>
			</div>
			
			<!-- 검색 결과 없을 경우 -->
			<div class=" caution-section caution mt26">
				<strong class="tit">
					검색결과가 없습니다.
				</strong>
			</div>
			
			<!-- 검색 결과 있을 경우 / 영상 목록 -->
			<div class="content-row vertical">
				<div id="video_list_area">
					<!-- card 반복 -->
					<div class="card pd0 mg16"> <!-- mg16 개발자 추가 마진 클래스 -->
						<a class="card-img play" href="javascript:void(0);">
							<img src="../../../../static/images/internet_wifi.jpg" alt="[인터넷] 와이파이를 사용하고 싶어요">
						</a>
						<div class="card-info">
							<p class="info-tit bold">[<span>인터넷</span>]</p>
							<p class="small no_mt ft-gray"><span>와이파이를 사용하고 싶어요</span></p>
						</div>
					</div>
					<div class="card pd0">
						<a class="card-img play" href="javascript:void(0);">
							<img src="../../../../static/images/internet_wifi.jpg" alt="[인터넷] 와이파이를 사용하고 싶어요">
						</a>
						<div class="card-info">
							<p class="info-tit bold">[<span>인터넷</span>]</p>
							<p class="small no_mt ft-gray"><span>와이파이를 사용하고 싶어요</span></p>
						</div>
					</div>
				</div>
			</div>   
		</div>
		
		<div class="btn-group">
			<button type="button" class="moreBtn"><span class="more-arrow">더보기</span></button>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<div class="modal-wrap">
	<!-- 동영상 팝업 -->
	<div class="popup popup-2 utube hidden">
		<div class="pop-wrap">
			<div class="pop-content">
				<div class="pop-header">
					<h1 class="pop-tit">[인터넷] 와이파이를 사용하고 싶어요</h1>
					<button type="button" class="c-btn">닫기</button>
				</div>
				<div class="pop-body">
					<div class="content-section">
						<div class="videoPlay">
							<iframe frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="[U+와이파이] 와이파이를 사용하고 싶어요" width="640" height="360" src="https://www.youtube.com/embed/Wyq7fdq5LDI?enablejsapi=1&amp;origin=https%3A%2F%2Fm.lguplus.com&amp;widgetid=1" id="widget2" data-gtm-yt-inspected-103384474_525="true" data-gtm-yt-inspected-103384474_641="true"></iframe>
						</div>
				</div>
				</div>
				<div class="pop-footer">
					<div class="btn-group">
						<button class="standard g-line">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 동영상 팝업 END-->
</div>   
<!--모달 팝업 영역 END-->


</body>
</html>
