<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body class="">

<div class="page-wrapper bt-accopage">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">홈서비스 설치장소 변경 신청</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->

	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="service-section">
			<div class="service-box" role="button">
				<div class="text-area">
					<span class="svCategory">U+ 인터넷</span>
					<span class="svInfo">부산광역시 강서구 녹산산단382로 ***</span>
				</div>
				<div class="btn-area">
					<button type="button" class="btn chgBtn">선택 변경</button>
				</div>
			</div>
		</div>

		<div class="tapnav-wrap">
			<ul class="tabnav">
				<li class=""><a role="button" class="active">이사 신청</a></li>
				<li class=""><a role="button" class="">집안 내 이동 신청</a></li>
			</ul>
		</div>

		<div class="tabcontent">
			<!-- tab: 이사 신청 -->
			<div class="tab">
				<div class="content-section">
					<div class="content-box">
						<div class="content-row no_pt">
							<p class="tit">가입서비스</p>
							<p class="bold">U+인터넷/U+ TV/U+ 홈IoT</p>
						</div>
						<div class="content-row">
							<p class="tit">현재 설치장소</p>
							<p class="bold">경기도 광명시 오리로***</p>
						</div>
						<div class="content-row">
							<p class="ft-gray">*이사 등의 이유로 인터넷, IPTV 등 서비스의 설치장소를 변경 신청할 수 있습니다.</p>
						</div>
					</div>
				</div>

				<div class="content-section devider">
					<h2 class="section-tit"><span>가입서비스 상세</span></h2>
					<div class="table-box">
						<table class="table">
							<thead class="thead">
								<tr>
									<th class="">가입서비스</th>
									<th>요금제</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>U+ 인터넷</th>
									<td>와이파이기본_기가안심_1G_FTTH</td>
								</tr>
								<tr>
									<th>U+ TV</th>
									<td>일반형</td>
								</tr>
								<tr>
									<th>U+ 홈IoT</th>
									<td>(모바일)구글패키지</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="content-section devider">
					<h2 class="section-tit">
						<span>변경 신청 정보 입력</span>
						<span class="required-info"><span class="required"></span>표시는 필수 입력항목입니다.</span>
					</h2>

					<div class="inputInfo">
						<label class="info-label">
							이사 후 설치장소 주소
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="custom-info inBtn">
							<input placeholder="도로명 주소, 건물명 또는 지번 입력" type="text" class="custom-inp" readonly>
							<div class="btn-group">
								<button title="주소검색" class="request-btn" onclick="openAddr();"><span class="">주소검색</span></button>
							</div>
						</div>
						<div class="custom-info">
							<input type="text" class="custom-inp" readonly>
						</div>
						<p class="error-txt hidden">주소를 입력해 주세요.</p>
					</div>

					<div class="inputInfo">
						<label class="info-label">
							연락 받을 분
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="custom-info">
							<input placeholder="이름 입력" type="text" class="custom-inp">
						</div>
						<p class="error-txt hidden">연락 받을 분을 입력해 주세요.</p>
					</div>

					<div class="inputInfo">
					<label class="info-label">
							연락처
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="custom-info">
							<input placeholder='"-"없이 숫자만 입력' type="text" class="custom-inp">
						</div>
						<p class="error-txt hidden">연락처를 입력해 주세요.</p>
						<p class="error-txt hidden">연락처 항목에 정확한 연락처를 입력해 주세요.</p>
					</div>

					<div class="inputInfo">
						<label class="info-label">
							요청사항
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="textarea-box">
							<textarea placeholder="요청사항 입력"></textarea>
							<p class="textarea-info">0/200자</p>
						</div>
					</div>

					<div class="inputInfo">
						<label class="info-label">
							설치 희망일
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="custom-info calendar">
							<input type="text" class="custom-inp datepicker" id="datepicker" readonly>
							<i class="calendar-icon"></i>
						</div>
						<p class="error-txt hidden">설치 희망일을 선택해 주세요.</p>
						<ul class="list dot-list">
							<li>희망일자의 방문 시간이 정해지면 홈매니저가 별도로 연락을 드립니다.</li>
						</ul>
					</div>
					
					<!-- 설치비 필수 안내 -->
					<div class="inputInfo">
						<div class="check-box">
							<input type="checkbox" id="installCost">
							<label for="installCost" class="t-checkbox">
								<i class="icon"></i>
								<div class="text">
									<p>설치비 필수 안내를 확인하였습니다.</p>
								</div>
							</label>
						</div>
						<div class="content-row">
							<ul class="dot-list bg-gray">
								<li>서비스센터와 정확한 방문 일자는 협의해야 하며 실제 방문 시점(주말/공휴일/평일야간)에 따라 25% 할증된 추가 설치비가 청구될 수 있습니다.</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-primary" disabled>신청</button>
				</div>

				<div class="accordion-group">
					<div class="accordion-box notice d-accoBox" role="button">
						<div class="accordion-header d-accoBtn">
							<div class="text">
								<p>꼭 확인하세요</p>
							</div>
							<div class="accordion-btn">
								<i class="toggleIcon"></i>
							</div>
						</div>
						<div class="accordion-body">
							<ul class="list dot-list">
								<li>홈매니저 방문 전 알림톡을 보내드립니다. 요청하신 날짜에 홈매니저 방문이 어려운 경우, 일정 조율을 위해 서비스센터 상담사가 고객님께 전화를 드릴 예정입니다.</li>
								<li>서비스와 관련된 모뎀, 와이파이 공유기, 셋톱박스(인터넷-TV연결기기)등 이전 설치할 상품 구성 기기를 빠짐없이 모두 챙겨 주시기 바랍니다.</li>
								<li>기기가 있어야 설치가 가능합니다.</li>
								<li>정확한 방문 일자 및 시간은 서비스센터에서 순차적으로 연락 드리니 전화 꼭 받아주십시오.</li>
								<li>설치 희망일 14일 동안 3회 이상 통화가 어려울 경우 이사 접수는 취소되며 요금은 정상 부과 됩니다.</li>
								<li>방문시 설치 주변 환경에 따라 설치가 지연되거나, 구조상의 문제로 설치가 어려울 수 있으며, 설치가 어려울 경우 고객센터에서 연락을 드립니다. 14일 동안 3회 이상 통화 불가시 한달 일시정지 후에 처리되지 않을 경우 최종일반해지로 할인반환금 청구됩니다.</li>
								<li>모뎀 및 장비, 부속품은 꼭 챙기신 후에 이사하시는 곳으로 가주시기 바랍니다.광랜F(FM모뎀), VM모뎀, GW, CPG(전화모뎀)등 유선 장비를 이용 중이신 경우 단자함 또는 신발장에서 확인 가능합니다.</li>
								<li>장비를 분실하게 될 경우 장비변상금 청구될 수 있습니다.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- tab: 집안 내 이동신청 -->
			<div class="tab hidden">
				<div class="content-section">
					<div class="content-box">
						<div class="content-row no_pt">
							<p class="tit">가입서비스</p>
							<p class="bold">U+인터넷/U+ TV/U+ 홈IoT</p>
						</div>
						<div class="content-row">
							<p class="tit">현재 설치장소</p>
							<p class="bold">경기도 광명시 오리로***</p>
						</div>
						<div class="content-row">
							<p class="ft-gray">* 댁내에서 인터넷, TV 등 서비스의 설치장소를 변경 신청할 수 있습니다.</p>
						</div>
					</div>
				</div>

				<div class="content-section devider">
					<h2 class="section-tit">
						<span>집안 내 이동 서비스 선택</span>
						<span class="required-info"><span class="required"></span>표시는 필수 입력항목입니다.</span>
					</h2>
					<!-- 가입 서비스 -->
					<div class="inputInfo">
						<label class="info-label">
							가입 서비스
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="card">
							<ul class="input-flex">
								<li>
									<div class="check-box">
										<input id="1" type="checkbox" name="check" checked>
										<label for="1" class="t-checkbox">
											<i class="icon"></i>
											<span class="text">인터넷</span>
										</label>
									</div>
								</li>
								<li>
									<div class="check-box">
										<input id="2" type="checkbox" name="check">
										<label for="2" class="t-checkbox">
											<i class="icon"></i>
											<span class="text">IPTV</span>
										</label>
									</div>
								</li>
								<li>
									<div class="check-box">
										<input id="3" type="checkbox" name="check">
										<label for="3" class="t-checkbox">
											<i class="icon"></i>
											<span class="text">스마트홈</span>
										</label>
									</div>
								</li>
								<li>
									<div class="check-box">
										<input id="4" type="checkbox" disabled>
										<label for="4" class="t-checkbox">
											<i class="icon"></i>
											<span class="text">전화</span>
										</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="content-row">
							<p class="ft-gray">* 고객님의 집안 내 이동을 원하시는 서비스를 선택해 주세요.</p>
						</div>
					</div>
				</div>

				<div class="content-section devider">
					<h2 class="section-tit">
						<span>변경 신청 정보 입력</span>
						<span class="required-info"><span class="required"></span>표시는 필수 입력항목입니다.</span>
					</h2>
		
					<div class="inputInfo">
						<label class="info-label">
							연락 받을 분
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="custom-info">
							<input placeholder="이름 입력" type="text" class="custom-inp">
						</div>
						<p class="error-txt hidden">연락 받을 분을 입력해 주세요.</p>
					</div>
		
					<div class="inputInfo">
					<label class="info-label">
							연락처
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="custom-info">
							<input placeholder="'-'없이 숫자만 입력" type="text" class="custom-inp">
						</div>
						<p class="error-txt hidden">연락처를 입력해 주세요.</p>
						<p class="error-txt hidden">연락처 항목에 정확한 연락처를 입력해 주세요.</p>
					</div>
		
					<div class="inputInfo">
						<label class="info-label">
							요청사항
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="textarea-box">
							<textarea placeholder="요청사항 입력"></textarea>
							<p class="textarea-info">0/200자</p>
						</div>
					</div>
		
					<div class="inputInfo">
						<label class="info-label">
							설치 희망일
							<span class="required"><i class="hidden">필수항목</i></span>
						</label>
						<div class="custom-info calendar">
							<input type="text" class="custom-inp datepicker" id="datepicker" readonly>
							<i class="calendar-icon"></i>
						</div>
						<p class="error-txt hidden">설치 희망일을 선택해 주세요.</p>
						<ul class="dot-list">
							<li>희망일자의 방문 시간이 정해지면 홈매니저가 별도로 연락을 드립니다.</li>
						</ul>
					</div>
					
					<!-- 설치비 필수 안내 -->
					<div class="inputInfo">
						<div class="check-box">
							<input type="checkbox" id="installCost">
							<label for="installCost" class="t-checkbox">
								<i class="icon"></i>
								<div class="text">
									<p>설치비 필수 안내를 확인하였습니다.</p>
								</div>
							</label>
						</div>
						<div class="content-row">
							<ul class="list dot-list bg-gray">
								<li>서비스센터와 정확한 방문 일자는 협의해야 하며 실제 방문 시점(주말/공휴일/평일야간)에 따라 25% 할증된 추가 설치비가 청구될 수 있습니다.</li>
							</ul>
						</div>
					</div>
				</div>
		
				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-primary" disabled>신청</button>
				</div>

				<div class="accordion-group">
					<div class="accordion-box notice d-accoBox" role="button">
						<div class="accordion-header d-accoBtn">
							<div class="text">
								<p>꼭 확인하세요</p>
							</div>
							<div class="accordion-btn">
								<i class="toggleIcon"></i>
							</div>
						</div>
						<div class="accordion-body">
							<ul class="list dot-list">
								<li>홈매니저 방문 전 알림톡을 보내드립니다. 요청하신 날짜에 홈매니저 방문이 어려운 경우, 일정 조율을 위해 서비스센터 상담사가 고객님께 전화를 드릴 예정입니다.</li>
								<li>서비스와 관련된 모뎀, 와이파이 공유기, 셋톱박스(인터넷-TV연결기기)등 이전 설치할 상품 구성 기기를 빠짐없이 모두 챙겨 주시기 바랍니다.</li>
								<li>기기가 있어야 설치가 가능합니다.</li>
								<li>정확한 방문 일자 및 시간은 서비스센터에서 순차적으로 연락 드리니 전화 꼭 받아주십시오.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<!-- 주소 찾기 팝업 -->
<div class="modal-wrap popup-wrapper address hidden">
	<form style="width: 100%; height: 100%;">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>이사 후 설치장소 주소 찾기</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<h2 class="section-tit"><span>주소 검색하기</span></h2>
				<div class="inputInfo">
					<div class="custom-info inBtn">
						<input name="" placeholder="도로명주소, 건물명 또는 지번입력" type="text" class="custom-inp">
						<button class="find-btn"><span class="hidden">검색</span></button>
					</div>
					<ul class="list dot-list">
						<li class="list-tit">검색 유의사항</li>
						<li>정확하게 검색할 수 있도록 아래 양식에 맞게 주소를 입력하고 검색 버튼을 누르세요.</li>
						<li>도로명 + 건물번호 (예, 테헤란로 501)</li>
						<li>도로명 + 건물명 (예, 월드컵북로 유플러스)</li>
						<li>지역명 (동/읍/면) + 번지 (예, 삼성동 157-27)</li>
						<li>지역명 (동/읍/면) + (산) 번지 (예, 남면 산 130)</li>
						<li>지역명 (동/읍/면) + 건물명 또는 아파트명 (예, 상암동 월드컵파크)</li>
					</ul>
				</div>
			</div>

			<!-- 검색 결과 없을 경우 -->
			<div class="content-section devider ">
				<div class=" caution-section caution mt26">
					<strong class="tit">
						검색결과가 없습니다.<br>
						검색 유의사항을 확인해보세요.
					</strong>
				</div>
			</div>

			<!-- 검색 결과 있을 경우 -->
			<div class="content-section devider hidde">
				<h2 class="section-tit center"><span>주소선택</span></h2>
				<div class="inputInfo table-box">
					<table class="table">
						<thead class="thead">
							<tr>
								<th>선택</th>
								<th>구분</th>
								<th class="addr">주소</th>
								<th>우편번호</th>
							</tr>
						</thead>
						<tbody class="tbody">
							<tr>
								<td>
									<span class="r-radio">
										<input name="address" type="radio" value="" checked>
										<label for="" class="radio-txt">
											<i class="icon"></i>
										</label>
									</span>
								</td>
								<td><span>아파트</span></td>
								<td class="tleft"><span>경기도 광명시 하안동 864, (대림e-편한세상센트러빌)</span></td>
								<td><span>14256</span></td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- 기본주소 -->
				<div class="inputInfo">
					<label class="info-label">
						기본주소
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="custom-info">
						<input placeholder="기본주소 입력" type="text" class="custom-inp" value="경기도 광명시 하안동 864, (대림e-편한세상센트러빌)" readonly>
					</div>
				</div>

				<!-- 상세주소 -->
				<div class="inputInfo">
					<label class="info-label">
						상세주소
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<ul class="input-flex">
						<li>
							<div class="select-box">
								<select class="select-form">
									<option value="">선택</option>
									<option value="1">선택1</option>
									<option value="2">선택2</option>
								</select>
							</div>
						</li>
						<li>
							<div class="custom-info">
								<input type="text" maxlength="20" class="custom-inp" placeholder="건물명 입력" disabled>
							</div>
						</li>
					</ul>
					<p class="error-txt hidden" id="detailAddr">상세주소를 입력해 주세요.</p>
					<p class="error-txt hidden" id="buildingName">건물명을 입력해 주세요.</p>
					<ul class="input-flex detail">
						<li>
							<div class="custom-info">
								<input name="" placeholder="입력" type="text" maxlength="24" class="custom-inp">
							</div>
						</li>
						<li class="unit"><span>동</span></li>
						<li>
							<div class="custom-info">
								<input name="" placeholder="입력" type="text" maxlength="6" class="custom-inp">
							</div>
						</li>
						<li class="unit"><span>층</span></li>
						<li>
							<div class="custom-info">
								<input name="" placeholder="입력" type="text" maxlength="10" class="custom-inp">
							</div>
						</li>
						<li class="unit"><span>호</span></li>
					</ul>
					<!-- <p class="error-txt hidden" id="dong">동을 입력해 주세요.</p> -->
					<p class="error-txt hidden">층을 입력해 주세요.</p>
					<!-- <p class="error-txt hidden" id="ho">호을 입력해 주세요.</p> -->
				</div>

				<!-- SM 추가부분 : cd-title class 삭제하여 t-special 로 색만 적용 -->
				<div class="inputInfo hidden">
					<label class="info-label t-special">
						* 상세주소 입력 시, 건물명이 없는 경우 '주택'으로 입력하여 주시고,<br>입력할 동/호수가 없는 경우 동/호수란은 '0'으로 입력해주세요.
					</label>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn" onclick="closeAddr();">이전</button>
				<button type="button" class="btn" id="ok" disabled onclick="saveAddr();">조회</button>
			</div>
		</div>
	</div>
	</form>
</div>

<!-- 불가 지역 팝업 / 콜백 미사용시 -->
<div class="modal-wrap popup-wrapper unavailable hidde">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"></h1>
				<button class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body align_middle">
			<div class="content-section">
				<div class="caution-section caution no_pb">
					<strong class="tit">
						설치를 희망하는 주소지는 전문 상담사의 상담이 필요한 지역입니다.
					</strong>
					<p class="txt">
						고객님께서는 설치장소 변경을 위한 별도의 상담이 필요합니다.
					</p>
					<ul class="dot-list bg-gray">
						<li>고객센터 상담 가능 시간</li>
						<li class="subdot-list">평일 : 오전 9시 ~ 오후 6시</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button class="btn">취소</button>
				<button class="btn">상담사 연결</button>
			</div>
		</div>
	</div>
</div>

<!-- 불가 지역 팝업 / 콜백 사용시 -->
<div class="modal-wrap popup-wrapper unavailable2 hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body align_middle">
			<div class="content-section">
				<div class="caution-section caution no_pb">
					<strong class="tit">
						설치를 희망하는 주소지는 전문 상담사의 상담이 필요한 지역입니다.
					</strong>
					<p class="txt">고객님께서는 설치장소 변경을 위한 별도의 상담이 필요합니다.</p>
					<p class="txt">이전 설치 전담센터 1833-4591(유료)로 전화 주시거나 연락처를 남겨 주시면 상담사가 전화를 드립니다.</p>
					<ul class="dot-list bg-gray">
						<li>고객센터 상담 가능 시간</li>
						<li class="subdot-list">평일 : 오전 9시 ~ 오후 6시</li>
						<li>금요일 오후 4시 이후에 신청한 고객님께서는 월요일 낮 12시, 그 외 평일 오후 4시 이후에 신청한 고객님께서는 다음날 낮 12시 내로 연락을 드립니다.</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn">취소</button>
				<button type="button" class="btn">상담사 예약 신청</button>
			</div>
		</div>
	</div>
</div>

<!-- 예약 정보 확인 팝업 / 집안 내 이동 신청 완료 -->
<div class="modal-wrap popup-wrapper reservation hidde">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>집안 내 이동 신청 완료</span></h1>
				<button class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body bt-accopage">
			<!-- 신청 내역 -->
			<div class="content-section">
				<div class="content-box flex-start">
					<div class="content-row">
						<p class="tit">연락 받을 분</p>
						<p class="bold">홍*동</p>
					</div>
					<div class="content-row">
						<p class="tit">연락처</p>
						<p class="bold">010-12**56**-1234</p>
					</div>
					<div class="content-row">
						<p class="tit">설치 희망일</p>
						<p class="bold">2023년 12월 15일 오후 5시</p>
					</div>
					<div class="content-row">
						<p class="tit">집안 내 이동 서비스 선택</p>
						<p class="bold">인터넷</p>
					</div>
				</div>
			</div>

			<!-- 현재 설치장소 -->
			<div class="content-section devider">
				<h2 class="section-tit center"><span>현재 설치장소</span></h2>
				<div class="content-box flex-start">
					<div class="content-row no_pt">
						<p class="tit">이름</p>
						<p class="bold">최*진</p>
					</div>
					<div class="content-row">
						<p class="tit">가입서비스</p>
						<p class="bold">U+인터넷</p>
					</div>
					<div class="content-row">
						<p class="tit">현재 설치장소</p>
						<p class="bold">서울 중랑구 신내동 ***</p>
					</div>
				</div>
			</div>

			<!-- 서비스별 예상 설치비 -->
			<div class="content-section devider">
				<h2 class="section-tit center"><span>서비스별 예상 설치비</span></h2>
				<div class="table-box">
					<table class="table">
						<thead class="thead">
							<tr>
								<th>가입서비스</th>
								<th class="service">요금제</th>
								<th>설치비</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>U+ 인터넷</th>
								<td>와이파이기본_기가안심_1G_FTTH</td>
								<td class="amount">10,000원</td>
							</tr>
							<tr>
								<th>U+ TV</th>
								<td>일반형</td>
								<td class="amount">20,000원</td>
							</tr>
							<tr>
								<th>U+ 홈IoT</th>
								<td>(모바일)구글패키지</td>
								<td class="amount">15,000원</td>
							</tr>
							<tr class="bg-gray">
								<th>합계</th>
								<td colspan="2" class="amount bold t-special">45,000원</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="content-row">
					<ul class="dot-list">
						<li>서비스별 예상 설치비는 평일 기준 일반 설치비입니다.</li>
						<li>3년 이상 인터넷, 인터넷전화, IPTV를 이용한 경우 인터넷 이전 설치비는 면제됩니다. 단, 1년 내 해지시 설치비반환금이 청구됩니다.</li>
						<li>서비스센터와 정확한 방문 일자는 협의해야 하며 실제 방문 시점(주말/공휴일/평일야간)에 따라 25% 할증된 추가 설치비가 청구될 수 있습니다.</li>
					</ul>
				</div>
			</div>
			
			<div class="accordion-group">
				<div class="accordion-box notice d-accoBox" role="button">
					<div class="accordion-header d-accoBtn">
						<div class="text">
							<p>꼭 확인하세요</p>
						</div>
						<div class="accordion-btn">
							<i class="toggleIcon"></i>
						</div>
					</div>
					<div class="accordion-body">
						<ul class="acco-list">
							<li>홈매니저 방문 전 알림톡을 보내드립니다. 요청하신 날짜에 홈매니저 방문이 어려운 경우, 일정 조율을 위해 서비스센터 상담사가 고객님께 전화를 드릴 예정입니다.</li>
							<li>서비스와 관련된 모뎀, 와이파이 공유기, 셋톱박스(인터넷-TV연결기기)등 이전 설치할 상품 구성 기기를 빠짐없이 모두 챙겨 주시기 바랍니다.</li>
							<li>기기가 있어야 설치가 가능합니다.</li>
							<li>정확한 방문 일자 및 시간은 서비스센터에서 순차적으로 연락 드리니 전화 꼭 받아주십시오.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button class="btn">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 예약 정보 확인 팝업 / 이사 신청 완료-->
<div class="modal-wrap popup-wrapper reservation hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>이사 신청 완료</span></h1>
				<button class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body bt-accopage">
			<!-- 신청 내역 -->
			<div class="content-section">
				<div class="content-box flex-start">
					<div class="content-row">
						<p class="tit">변경 설치 장소</p>
						<p class="bold">서울시 송파구 송이로 ***</p>
					</div>
					<div class="content-row">
						<p class="tit">연락 받을 분</p>
						<p class="bold">홍*동</p>
					</div>
					<div class="content-row">
						<p class="tit">연락처</p>
						<p class="bold">010-12**56**-1234</p>
					</div>
					<div class="content-row">
						<p class="tit">설치 희망일</p>
						<p class="bold">2023년 12월 15일 오후 5시</p>
					</div>
				</div>
			</div>

			<!-- 현재 설치장소 -->
			<div class="content-section devider">
				<h2 class="section-tit center"><span>현재 설치장소</span></h2>
				<div class="content-box flex-start">
					<div class="content-row no_pt">
						<p class="tit">이름</p>
						<p class="bold">최*진</p>
					</div>
					<div class="content-row">
						<p class="tit">가입서비스</p>
						<p class="bold">U+인터넷</p>
					</div>
					<div class="content-row">
						<p class="tit">현재 설치장소</p>
						<p class="bold">서울 중랑구 신내동 ***</p>
					</div>
				</div>
			</div>

			<!-- 서비스별 예상 설치비 -->
			<div class="content-section devider">
				<h2 class="section-tit center"><span>서비스별 예상 설치비</span></h2>
				<div class="table-box">
					<table class="table">
						<thead class="thead">
							<tr>
								<th>가입서비스</th>
								<th class="service">요금제</th>
								<th>설치비</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>U+ 인터넷</th>
								<td>와이파이기본_기가안심_1G_FTTH</td>
								<td class="amount">10,000원</td>
							</tr>
							<tr>
								<th>U+ TV</th>
								<td>일반형</td>
								<td class="amount">20,000원</td>
							</tr>
							<tr>
								<th>U+ 홈IoT</th>
								<td>(모바일)구글패키지</td>
								<td class="amount">15,000원</td>
							</tr>
							<tr class="bg-gray">
								<th>합계</th>
								<td colspan="2" class="amount bold t-special">45,000원</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="content-row">
					<ul class="list dot-list">
						<li>서비스별 예상 설치비는 평일 기준 일반 설치비입니다.</li>
						<li>3년 이상 인터넷, 인터넷전화, IPTV를 이용한 경우 인터넷 이전 설치비는 면제됩니다. 단, 1년 내 해지시 설치비반환금이 청구됩니다.</li>
						<li>서비스센터와 정확한 방문 일자는 협의해야 하며 실제 방문 시점(주말/공휴일/평일야간)에 따라 25% 할증된 추가 설치비가 청구될 수 있습니다.</li>
					</ul>
				</div>
			</div>
			
			<div class="accordion-group">
				<div class="accordion-box notice d-accoBox" role="button">
					<div class="accordion-header d-accoBtn">
						<div class="text">
							<p>꼭 확인하세요</p>
						</div>
						<div class="accordion-btn">
							<i class="toggleIcon"></i>
						</div>
					</div>
					<div class="accordion-body">
						<ul class="acco-list">
							<li>홈매니저 방문 전 알림톡을 보내드립니다. 요청하신 날짜에 홈매니저 방문이 어려운 경우, 일정 조율을 위해 서비스센터 상담사가 고객님께 전화를 드릴 예정입니다.</li>
							<li>서비스와 관련된 모뎀, 와이파이 공유기, 셋톱박스(인터넷-TV연결기기)등 이전 설치할 상품 구성 기기를 빠짐없이 모두 챙겨 주시기 바랍니다.</li>
							<li>기기가 있어야 설치가 가능합니다.</li>
							<li>정확한 방문 일자 및 시간은 서비스센터에서 순차적으로 연락 드리니 전화 꼭 받아주십시오.</li>
							<li>설치 희망일 14일 동안 3회 이상 통화가 어려울 경우 이사 접수는 취소되며 요금은 정상 부과 됩니다.</li>
							<li>방문시 설치 주변 환경에 따라 설치가 지연되거나, 구조상의 문제로 설치가 어려울 수 있으며, 설치가 어려울 경우 고객센터에서 연락을 드립니다. 14일 동안 3회 이상 통화 불가시 한달 일시정지 후에 처리되지 않을 경우 최종일반해지로 할인반환금 청구됩니다.</li>
							<li>모뎀 및 장비, 부속품은 꼭 챙기신 후에 이사하시는 곳으로 가주시기 바랍니다.광랜F(FM모뎀), VM모뎀, GW, CPG(전화모뎀)등 유선 장비를 이용 중이신 경우 단자함 또는 신발장에서 확인 가능합니다.</li>
							<li>장비를 분실하게 될 경우 장비변상금 청구될 수 있습니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn">확인</button>
			</div>
		</div>
	</div>
</div>

<!--모달 팝업 영역 END-->




<script>
	$(document).ready(function(){
		$( function() {
			$( "#datepicker" ).datepicker({
				dateFormat: "yy-mm-dd",
				showMonthAfterYear: true,
				monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
				monthNamesShort: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
				dayNamesMin: [ "일", "월", "화", "수", "목", "금", "토" ],
			});
		});
	});
</script>
<script>
	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>
</body>
</html>
