<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper billChange bt-accopage">
	<!-- 헤더 영역 -->
	<header class="header">
		<button type="button" class="c-btn prev">이전</button>
		<h1 class="page-title">청구서 받는 방법 변경</h1>
		<button class="c-btn">멀티모달로 돌아가기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="service-section">
			<div class="service-box" role="button">
				<div class="text-area">
					<span class="svCategory">인터넷</span>
					<span class="svInfo">부산광역시 강서구 녹산산단382로 ***</span>
				</div>
				<div class="btn-area">
					<button type="button" class="btn chgBtn">선택 변경</button>
				</div>
			</div>
		</div>
		
		<div class="content-section">
			<div class="section-tit vertical">
				<span>나의 청구서</span>
				<div class="content-row t-bold">
					<p>현재 <span class="bold t-special">이메일 청구서</span>로 청구서를 받고 있습니다.</p> <!-- 이메일/문자(MMS)/우편/휴대폰 -->
				</div>
			</div>

			<div class="card no_pt no_pb">
				<div class="table-box change-table">
					<table class="table">
						<tbody>
							<tr>
								<th>청구서발행 정보</th>
								<td class="bold">abc*****@naver.com</td>
							</tr>
							<tr>
								<th>발행 방법 변경일</th>
								<td class="bold">2024-04-08</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="content-section devider">
			<div class="inputInfo mt16">
				<label class="info-label space-between">
					청구서발행 방법
					<a href="#" class="btn-arrow bold">청구서 샘플보기</a>
				</label>
				<div class="radio-group">
					<div class="radio-box">
						<span class="radio-btn">
							<input type="radio" name="bill" id="phone" >
							<label for="phone" class="text-radio">
								<!-- <span class="radio-icon phone"></span> -->
								<span class="txt">휴대폰</span>
							</label>
						</span>
					</div>
					<div class="radio-box">
						<span class="radio-btn">
							<input type="radio" name="bill" id="email" checked>
							<label for="email" class="text-radio">
								<!-- <span class="radio-icon pass"></span> -->
								<span class="txt">이메일</span>
							</label>
						</span>
					</div>
					<div class="radio-box">
						<span class="radio-btn">
							<input type="radio" name="bill" id="post">
							<label for="post" class="text-radio">
								<!-- <span class="radio-icon post"></span> -->
								<span class="txt">우편</span>
							</label>
						</span>
					</div>
					<div class="radio-box">
						<span class="radio-btn">
							<input type="radio" name="bill" id="mms">
							<label for="mms" class="text-radio">
								<!-- <span class="radio-icon mms"></span> -->
								<span class="txt">문자</span>
							</label>
						</span>
					</div>
				</div>
			</div>
		</div>

		<!-- phone area -->
		<div class="content-section hidden">
			<div class="btn-group">
				<button class="standard" type="button">다음</button>
			</div>
		</div>

		<!-- E-mail area -->
		<div class="content-section hidde">
			<div class="inputInfo">
				<label for="secuEmail" class="info-label">
					보안 이메일 설정
					<div class="tooltip-wrap">
						<button type="button" aria-describedby="tooltip" class="button tooltip-btn">툴팁버튼</button>
						<div class="p-tooltip" role="tooltip">
							<div class="tooltip-inner">
								<span>
									주민등록번호 앞 6자리로 본인확인 후 청구서를 확인할 수 있는 메일입니다.
								</span>
								<button type="button" class="tooltip-close"><span class="hidden">닫기</span></button>
							</div>
							<div id="arrow" data-popper-arrow></div>
						</div>
					</div>
					<!--<span class="required"><i class="hidden">필수항목</i></span>-->
				</label>
				<div class="r-radio-group">
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="use" checked>
							<label for="use" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">예</span>
							</label>
						</span>
					</div>
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="notUse" >
							<label for="notUse" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">아니오</span>
							</label>
						</span>
					</div>
				</div>
			</div>

			<div class="inputInfo">
				<label for="email" class="info-label">
					이메일
					<!--<span class="required"><i class="hidden">필수항목</i></span>-->
				</label>
				<div class="custom-info emailInfo">
					<ul class="input-flex">
						<li>
							<div class="custom-info wtBtn">
								<input placeholder="" type="text" class="custom-inp">
								<button type="button" class="clear-btn hidden" title="입력한 문자 삭제">
									<span class="hidden">입력한 문자 삭제</span>
								</button>
							</div>
						</li>
						<li class="unit">@</li>
						<li class="input-flex">
							<div class="select-box">
								<select class="select-form">
									<option>선택</option>
									<option>직접입력</option>
									<option>daum.net</option>
									<option>naver.com</option>
									<option>gmail.com</option>
								</select>
							</div>
						</li>
						<li class="hidden">
							<div class="custom-info wtBtn">
								<input placeholder="" type="text" class="custom-inp">
								<button type="button" class="clear-btn hidden" title="입력한 문자 삭제"><span class="hidden">입력한 문자 삭제</span></button>
							</div>
						</li>
					</ul>
				</div>
				<p class="error-txt hidden">이메일 형식이 잘못되었습니다.</p>
			</div>
			
			<div class="btn-group mt26">
				<button class="standard" type="button">다음</button>
			</div>

			<div class="bottom-txt tleft pd0 mt26">
				<p>청구서 받는 방법은 그대로 유지하고, 이메일 주소나 주소지만 바꾸려면 변경할 정보만 입력하고 [다음]을 누르세요.</p>
			</div>
		</div>

		<!-- Post area -->
		<div class="content-section mt16 hidden">
			<div class="inputInfo">
				<label class="info-label">
					우편물 수령 주소
					<!-- <span class="required"><i class="hidden">필수항목</i></span> -->
				</label>
				<div class="custom-info inBtn">
					<input placeholder="도로명 주소, 건물명 또는 지번 입력" type="text" class="custom-inp" readonly>
					<div class="btn-group">
						<button title="주소검색" class="request-btn"><span class="">주소찾기</span></button>
					</div>
				</div>
				<div class="custom-info">
					<input type="text" class="custom-inp" readonly>
				</div>
				<div class="custom-info">
					<input placeholder="상세주소 입력" type="text" class="custom-inp">
				</div>
				<p class="error-txt hidden">주소를 입력해 주세요.</p>
			</div>

			<div class="inputInfo">
				<label class="info-label">
					연락처
					<!-- <span class="required"><i class="hidden">필수항목</i></span> -->
				</label>
				<div class="custom-info">
					<input placeholder="연락처 입력" type="text" class="custom-inp">
				</div>
				<p class="error-txt hidden">연락처를 입력해 주세요.</p>
			</div>
			
			<div class="btn-group mt26">
				<button class="standard" type="button">다음</button>
			</div>

			<div class="bottom-txt tleft pd0 mt26">
				<p>청구서 받는 방법은 그대로 유지하고, 이메일 주소나 주소지만 바꾸려면 변경할 정보만 입력하고 [다음]을 누르세요.</p>
			</div>
		</div>

		<!-- MMS area -->
		<div class="content-section hidden">
			<div class="btn-group">
				<button class="standard" type="button">다음</button>
			</div>
		</div>

		<!-- accordion-area -->
		<div class="accordion-group">
			<div class="accordion-box notice d-accoBox" role="button">
				<div class="accordion-header d-accoBtn">
					<div class="text">
						<p>청구서 발송 날짜 안내</p>
					</div>
					<button type="button" class="accordion-btn" role="button">
                        <i class="toggleIcon"></i>
                    </button>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li>청구서는 매월 8일~16일 사이에 발송됩니다.</li>
						<li class="subdot-list">*단, 우편 청구서는 공휴일 및 우체국 배송 일정에 따라 변동될 수 있습니다.</li>
						<li>매월 8일 이후에는 당신의 U+앱에서 청구서를 바로 확인 하실 수 있습니다.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END --> 
</div>


<!--모달 팝업 영역-->
<!-- 청구서샘플보기 full-popup-->
<div class="modal-wrap popup-wrapper billSample hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<button type="button" class="c-btn prev">이전</button>
				<h1 class="pop-tit"><span>청구서 샘플보기</span></h1>
				<button class="c-btn">멀티모달로 돌아가기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<div class="inputInfo">
					<div class="select-box">
						<select class="select-form">
							<option value="">휴대폰 명세서</option>
							<option value="">이메일 명세서</option>
							<option value="">우편 명세서</option>
							<option value="">문자(MMS) 명세서</option>
						</select>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="bill-imgBox">
					<img src="../../../../static/images/billsample_phone.png" alt="휴대폰 명세서샘플" class="sample-img">
				</div>
			</div>
			<!-- <div class="content-section">
				<div class="bill-imgBox">
					<img src="../../../../static/images/billsample_email.png" alt="이메일 명세서샘플" class="sample-img hidden">
				</div>
			</div>
			<div class="content-section">
				<div class="bill-imgBox">
					<img src="../../../../static/images/billsample_post.png" alt="우편 명세서샘플" class="sample-img hidden">
				</div>
			</div>
			<div class="content-section">
				<div class="bill-imgBox">
					<img src="../../../../static/images/billsample_mms.png" alt="문자(MMS) 명세서샘플" class="sample-img hidden">
				</div>
			</div> -->
		</div>
	
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="standard">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 주소찾기 full-popup-->
<div class="modal-wrap popup-wrapper billAddress hidde">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<button type="button" class="prev-btn">이전</button>
				<h1 class="pop-tit"><span>주소 찾기</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<!-- <h2 class="section-tit"><span>주소 검색하기</span></h2> -->
				<div class="inputInfo">
					<div class="custom-info inBtn">
						<input name="" placeholder="도로명주소, 건물명 또는 지번입력" type="text" class="custom-inp">
						<button type="button" class="find-btn"><span class="hidden">검색</span></button>
					</div>
				</div>
				<div class="address-info hidde">
					<ul class="text-list">
						<li class="list-tit">우편번호 통합검색 Tip</li>
						<li>
							<span>도로명 + 건물주소</span>
							<span class="ft-black">예) 한강대로 32</span>
						</li>
						<li>
							<span>동/읍/면/리 + 번지</span>
							<span class="ft-black">예) 한강로 3가 65-228</span>
						</li>
						<li>
							<span>건물명, 아파트명</span>
							<span class="ft-black">예) 엘지유플러스</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="content-section no_pt">
				<!-- 결과가 없는 경우 -->
				<div class="caution-wrap hidde">
					<div class="caution-box caution"> 
						<p class="tit">검색결과가 존재하지 않습니다.</p>
					</div>
				</div>

				<!-- 결과가 있는 경우 -->
				<div class="address-result hidden">
					<div class="content-row">
						<p>신내6 을(를) 검색한 결과 총 <span class="t-special">24건</span>입니다.</p>
					</div>
					<div class="inputInfo">
						<div class="radio-group vertical">
							<div class="radio-box">
								<span class="radio-btn">
									<input id="11" name="address" type="radio">
									<label for="11" class="text-radio">
										<dl class="address-list">
											<dt>도로명</dt>
											<dd>서울특별시 광진구 용마산로 112, (중곡동)</dd>
										</dl>
										<dl class="address-list">
											<dt>지번</dt>
											<dd>서울특별시 광진구 중곡동 18-75 (중곡4동)</dd>
										</dl>
									</label>
								</span>
							</div>
							<div class="radio-box">
								<span class="radio-btn">
									<input id="22" name="address" type="radio">
									<label for="22" class="text-radio">
										<dl class="address-list">
											<dt>도로명</dt>
											<dd>서울특별시 광진구 용마산로 112, (중곡동)</dd>
										</dl>
										<dl class="address-list">
											<dt>지번</dt>
											<dd>서울특별시 광진구 중곡동 18-75 (중곡4동)</dd>
										</dl>
									</label>
								</span>
							</div>
							<div class="radio-box">
								<span class="radio-btn">
									<input id="33" name="address" type="radio">
									<label for="33" class="text-radio">
										<dl class="address-list">
											<dt>도로명</dt>
											<dd>서울특별시 광진구 용마산로 112, (중곡동)</dd>
										</dl>
										<dl class="address-list">
											<dt>지번</dt>
											<dd>서울특별시 광진구 중곡동 18-75 (중곡4동)</dd>
										</dl>
									</label>
								</span>
							</div>
							<div class="radio-box">
								<span class="radio-btn">
									<input id="44" name="address" type="radio">
									<label for="44" class="text-radio">
										<dl class="address-list">
											<dt>도로명</dt>
											<dd>서울특별시 광진구 용마산로 112, (중곡동)</dd>
										</dl>
										<dl class="address-list">
											<dt>지번</dt>
											<dd>서울특별시 광진구 중곡동 18-75 (중곡4동)</dd>
										</dl>
									</label>
								</span>
							</div>
							<div class="radio-box">
								<span class="radio-btn">
									<input id="55" name="address" type="radio">
									<label for="55" class="text-radio">
										<dl class="address-list">
											<dt>도로명</dt>
											<dd>서울특별시 광진구 용마산로 112, (중곡동)</dd>
										</dl>
										<dl class="address-list">
											<dt>지번</dt>
											<dd>서울특별시 광진구 중곡동 18-75 (중곡4동)</dd>
										</dl>
									</label>
								</span>
							</div>
						</div>
					</div>

					<!-- pagination -->
					<ul class="pagination center">
						<li class="pageItem disabled">
							<button aria-label="처음 페이지로 이동" class="pageLink">처음 페이지로 이동</button>
						</li>
						<li class="pageItem disabled">
							<button aria-label="이전 페이지로 이동" class="pageLink">이전 페이지로 이동</button>
						</li>
						<li class="pageItem active">
							<button type="button" aria-label="페이지 1" title="현재 페이지" class="pageLink">1</button>
						</li>
						<li class="pageItem">
							<button type="button" aria-label="페이지 2" class="pageLink">2</button>
						</li>
						<li class="pageItem">
							<button type="button" aria-label="페이지 3" class="pageLink">3</button>
						</li>
						<li class="pageItem">
							<button type="button" aria-label="페이지 4" class="pageLink">4</button>
						</li>
						<li class="pageItem disabled">
							<span class="pageLinkk">…</span>
						</li>
						<li class="pageItem">
							<button type="button" aria-label="다음 페이지로 이동" class="pageLink">다음 페이지로 이동</button>
						</li>
						<li class="pageItem">
							<button type="button" aria-label="마지막 페이지로 이동" class="pageLink">마지막 페이지로 이동</button>
						</li>
					</ul>
				</div>

				<div class="address-result-select hidden">
					<div class="inputInfo">
						<label class="info-label">
							도로명 주소
							<!-- <span class="required"><i class="hidden">필수항목</i></span> -->
						</label>
						<div class="custom-info">
							<input placeholder="서울특별시 광진구 용마산로 118, (중곡동, 조광빌딩)" type="text" class="custom-inp" readonly>
						</div>
					</div>
					<div class="inputInfo">
						<label class="info-label">
							지번 주소
							<!-- <span class="required"><i class="hidden">필수항목</i></span> -->
						</label>
						<div class="custom-info">
							<input placeholder="서울특별시 광진구 중곡동 18-72 조광빌딩 (중곡4동)" type="text" class="custom-inp" readonly>
						</div>
						<div class="custom-info">
							<input placeholder="상세주소" type="text" class="custom-inp">
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button class="standard" type="button">적용</button>
			</div>
		</div>
	</div>
</div>

<!-- 변경 불가 alert 팝업 -->
<div class="modal-wrap popup-wrapper center-popup nochgPhone hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit">확인</h1>
				<!-- <button type="button" class="c-btn">닫기</button> -->
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p>
					고객님의 휴대폰으로 받기가 이미 신청되었으므로 다시 신청하실 수 없습니다.
				</p>
			</div>
			<div class="btn-group">
				<button type="button" class="standard">확인</button>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer"></div>
	</div>
</div>

<!-- popper tooltip js -->
<script>
	const tooltipBtn = document.querySelector('.tooltip-btn');
	const tooltip = document.querySelector('.p-tooltip');

	const popperInstance = Popper.createPopper(tooltipBtn, tooltip, {
		placement: 'top',
		modifiers: [
			{
				name: 'offset',
				options: {
					offset: [0, 8],
				},
			},
			{
				name: 'flip',
				options: {
					fallbackPlacements: ['top', 'bottom'],
				},
			},
		],
	});

	function show() {
		// Make the tooltip visible
		tooltip.setAttribute('data-show', '');

		// Enable the event listeners
		popperInstance.setOptions((options) => ({
			...options,
			modifiers: [
				...options.modifiers,
				{ name: 'eventListeners', enabled: true },
			],
		}));

		// Update its position
		popperInstance.update();
	}

	function hide() {
		// Hide the tooltip
		tooltip.removeAttribute('data-show');

		// Disable the event listeners
		popperInstance.setOptions((options) => ({
			...options,
			modifiers: [
				...options.modifiers,
				{ name: 'eventListeners', enabled: false },
			],
		}));
	}

	const showEvents = ['click', 'focus'];
	const hideEvents = ['click(.tooltip-close);', 'blur'];

	showEvents.forEach((event) => {
		tooltipBtn.addEventListener(event, show);
	});

	hideEvents.forEach((event) => {
		tooltipBtn.addEventListener(event, hide);
	});

	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>



</body>
</html>
