<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper endPage no-header btFlexible complete endFail registerError">
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section">
			<div class="caution-box confirm-wrap">
				<div class="img-box fail">
					<img src="../../../../static/images/img_no_list.png" alt="서비스 가입이 완료되지 않았습니다.">
				</div>
				<strong class="tit">
					서비스 가입이<br>완료되지 않았습니다.
				</strong>
				<p class="txt">
					상담사를 바로 연결해 드리겠습니다.<br>
					끊지 마시고 잠시만 기다려주세요.
				</p>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<script>
	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>

</body>
</html>
