<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>

<body>
<div class="page-wrapper endPage no-header btFlexible complete endFail homeAsPage resetEnd">
	<!-- 콘텐츠 영역 -->
	<div class="content">		
		<div class="content-section">
			<div class="caution-box confirm-wrap">
				<div class="img-box fail">
					<img src="../../../../static/images/img_no_list.png" alt="시스템 오류로 서비스 리셋을 진행할 수 없어요">
				</div>
				<strong class="tit">
					앗! 시스템 오류로 서비스 리셋을<br/>진행할 수 없어요
				</strong>
				<p class="txt">
					아래 버튼을 눌러 다른 해결 방법을<br/>확인해 보세요.
				</p>
			</div>
			
			<!-- <div class="bottom-button">
				<div class="btn-group vertical">
					<button type="button" class="btn">홈매니저 방문 신청하기</button>					
					<button type="button" class="btn">종료</button>
					<button type="button" class="btn">상담사 연결</button>
				</div>
			</div> -->
			
		</div>
		<div class="bottom-button">
			<div class="btn-group vertical">
				<button type="button" class="btn">홈매니저 방문 신청하기</button>					
				<button type="button" class="btn">종료</button>
				<button type="button" class="btn">상담사 연결</button>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>


<!-- 망장애 알림중복신청불가 alert 팝업 -->
<div class="modal-wrap popup-wrapper center-popup numDuplicate hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup appear">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit">확인</h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<p class="tit">010-1234-5678 번호로<br>알림 받기를 이미 신청했어요</p>
			</div>
			<div class="btn-group btn-group-sm">
				<button type="button" class="btn btn-round btn-primary">확인</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>
