<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body><!-- openModal -->

<div class="page-wrapper homeAsPage networkFail">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">홈서비스 셀프해결/방문신청</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 : 네트워크 문제 -->
	<div class="content network-1 hidde">
		<div class="content-section title-section">
			<h2 class="section-tit-lg">앗! 선택한 지역의<br>네트워크에 문제가 있어요</h2>
			<p class="info-txt t-special">
				※ <span>09시 30분</span> 이후에 복구될 예정이며 지연될 가능성이 있으니 양해 부탁드립니다.
			</p>
		</div>
		<div class="content-section asCaution">
			<div class="caution-box confirm-wrap"> 
				<div class="img-box netFail">
					<img src="../../../../static/images/m_img_homeAS_checking.png" alt="신속하게 복구 중이에요">
				</div>
				<p class="tit">신속하게 복구 중이에요</p>
				<p class="txt">이용에 불편을 드려 죄송합니다.<br>복구 작업이 진행되는 동안 인터넷/와이파이/IPTV를<br>이용할 수 없으니 양해 부탁드립니다.</p>
				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-sm btn-gray">상담사 연결</button>
				</div>
			</div>
		</div>
		<div class="bottom-button">
			<div class="btn-group">
				<button type="button" class="btn btn-primary">복구되면 문자메시지로 알림 받기</button>
			</div>
		</div>
	</div>

	<!-- 콘텐츠 영역 : 네트워크 점검 -->
	<div class="content network-2 hidden">
		<div class="content-section title-section">
			<h2 class="section-tit-lg">선택한 지역에서 네트워크<br>점검을 진행하고 있어요</h2>	
			<p class="info-txt t-special">
				※ <span>09시 30분</span> 이후에 복구될 예정이며 지연될 가능성이 있으니 양해 부탁드립니다.
			</p>
		</div>
		<div class="content-section asCaution">
			<div class="caution-box confirm-wrap"> 
				<div class="img-box netFail">
					<img src="../../../../static/images/m_img_homeAS_checking.png" alt="보다 안정적인 서비스를 위해 점검 중이에요">
				</div>
				<p class="tit">보다 안정적인 서비스를 위해<br>점검 중이에요</p>
				<p class="txt">이용에 불편을 드려 죄송합니다.<br>점검하는 동안 인터넷/와이파이/IPTV를<br>이용할 수 없으니 양해 부탁드립니다.</p>
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-gray">상담사 연결</button>
				</div>
			</div>
		</div>
		<div class="bottom-button">
			<div class="btn-group">
				<button type="button" class="btn btn-primary">완료되면 문자메시지로 알림 받기</button>
			</div>
		</div>
	</div>

	<!-- 콘텐츠 영역 : 아파트 네트워크 점검 -->
	<div class="content network-3 hidden">
		<div class="content-section title-section">
			<h2 class="section-tit-lg">거주하는 아파트의<br>네트워크를 점검하고 있어요</h2>
			<p class="info-txt t-special">
				※ <span>09시 30분</span> 이후에 복구될 예정이며 지연될 가능성이 있으니 양해 부탁드립니다.
			</p> 
		</div>
		<div class="content-section asCaution">
			<div class="caution-box confirm-wrap"> 
				<div class="img-box netFail">
					<img src="../../../../static/images/m_img_homeAS_checking.png" alt="아파트 전기 설비 유지보수를 위해 점검 중이에요">
				</div>
				<p class="tit">아파트 전기 설비 유지보수를 위해<br>점검 중이에요</p>
				<p class="txt">이용에 불편을 드려 죄송합니다.<br>점검하는 동안 인터넷/와이파이/IPTV를<br>이용할 수 없으니 양해 부탁드립니다.</p>
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-gray">상담사 연결</button>
				</div>
			</div>
		</div>
		<div class="bottom-button">
			<div class="btn-group">
				<button type="button" class="btn btn-primary">완료되면 문자메시지로 알림 받기</button>
			</div>
		</div>
	</div>

	<!-- 콘텐츠 영역 : 번호 입력 -->
	<!-- <div class="content btFlexible chgNumber hidden">
		<div class="content-section title-section">
			<h2 class="section-tit-lg">
				<span>문자 메시지를 받을<br>휴대폰 번호를 입력해 주세요</span>
			</h2>
		</div>

		<div class="content-section">
			<div class="inputInfo inputInfo-lg chgNumInput">
				<div class="custom-info inBtn">
					<input type="tel" class="custom-inp" value="010-12**-56**" readonly>
					<button type="button" class="btn btn-sm btn-gray">변경하기</button>
				</div>			
				<label class="info-label">휴대폰 번호</label>
			</div>
		</div>

		<div class="bottom-button">
			<div class="btn-group">
				<button type="button" class="btn">확인</button>
			</div>
		</div>
	</div> -->
</div>

<!-- 연락받을 번호 입력 full-popup -->
<div class="modal-wrap popup-wrapper btFlexible chgNumber hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>홈서비스 셀프해결/방문신청</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section title-section">
				<h2 class="section-tit-lg">
					<span>알림 메시지를 받을<br>휴대폰 번호를 입력해 주세요</span>
				</h2>
			</div>

			<div class="content-section">
				<div class="inputInfo inputInfo-lg chgNumInput">
					<div class="custom-info">
						<input type="tel" class="custom-inp" value="010-12**-56**" readonly>
						<button type="button" class="btn btn-sm btn-gray">변경하기</button>
					</div>
					<label class="info-label">휴대폰 번호</label>
				</div>
			</div>
		</div>

		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
				<button type="button" class="btn">취소</button>
				<button type="button" class="btn">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 방문신청내역 휴대폰인증 full-popup-->
<div class="modal-wrap popup-wrapper homeAsPop AS_smsAuth hidden">
	<div class="popup-content full-popup slideUp">
		<!-- popup-header -->
		<div class="popup-header">
			<div class="header-section">
				<h1 class="pop-tit"><span>홈서비스 셀프해결/방문신청</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<!-- 고객명 -->
				<div class="inputInfo">
					<label for="custNm" class="info-label">
						고객명
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="custom-info">
						<input id="custNm" name="customerName" placeholder="고객명" type="text" maxlength="20" class="custom-inp d-ownInputCk" onkeyup="validate.inputTextCheck(this)">
					</div>
					<p class="error-txt hidden">고객명을 입력해주세요.</p>
				</div>

				<!-- 생년월일 -->
				<div class="inputInfo" id="myBirth">
					<label for="birth" class="info-label">
						생년월일
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="custom-info">
						<input id="birth" name="birth" placeholder="생년월일 8자리" maxlength="8" type="tel" class="custom-inp d-ownInputCk" onkeyup="validate.inputNumCheck(this)">
					</div>
					<p class="error-txt hidden">생년월일을 입력해주세요.</p>
				</div>

				<!-- 성별 -->
				<div class="inputInfo">
					<label for="gender" class="info-label">
						성별
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="r-radio-group">
						<div class="r-radio-box">
							<span class="r-radio">
								<input id="male" name="gender" type="radio" value="male" checked>
								<label for="male" class="radio-txt">
									<i class="icon"></i>
									<span class="customer-type">남</span>
								</label>
							</span>
						</div>
						<div class="r-radio-box">
							<span class="r-radio">
								<input id="female" name="gender" type="radio" value="female">
								<label for="female" class="radio-txt">
									<i class="icon"></i>
									<span class="customer-type">여</span>
								</label>
							</span>
						</div>
					</div>
				</div>

				<!-- 구분 -->
				<div class="inputInfo">
					<label for="holder" class="info-label">
						내/외국인
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="r-radio-group">
						<div class="r-radio-box">
							<span class="r-radio">
								<input id="local" name="holder" type="radio" value="local" checked>
								<label for="local" class="radio-txt">
									<i class="icon"></i>
									<span class="customer-type">내국인</span>
								</label>
							</span>
						</div>
						<div class="r-radio-box">
							<span class="r-radio">
								<input id="foreigner" name="holder" type="radio" value="foreigner">
								<label for="foreigner" class="radio-txt">
									<i class="icon"></i>
									<span class="customer-type">외국인</span>
								</label>
							</span>
						</div>
					</div>
				</div>

				<!-- 휴대폰번호 -->
				<div class="inputInfo">
					<label for="phoneNum" class="info-label">
						휴대폰번호
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="select-box">
						<select id="carrier" class="select-form">
							<option value="LG">LG U+ / LG U+(알뜰폰)</option>
							<option value="SKT">SKT</option>
							<option value="KT">KT</option>
							<option value="SKT">SKT(알뜰폰)</option>
							<option value="KT">KT(알뜰폰)</option>
						</select>
					</div>
					<div class="custom-info inBtn">
						<input id="phoneNo" name="phoneNum" placeholder="'-'없이 숫자만 입력" minlength="10" maxlength="11" type="tel" class="custom-inp"  autocomplete="off">
						<div class="btn-group exTime">
							<button title="인증번호 발송" class="request-btn" disabled><span class="">인증번호 발송</span></button>
						</div>
					</div>
					<p class="error-txt hidden">유효한 휴대폰 번호를 입력해주세요.</p>
				</div>
				
				<div class="inputInfo hidden"> <!-- 인증번호 발송 후 hidden 삭제 -->
					<label for="certNum" class="info-label">
						SMS 인증번호
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="custom-info inBtn">
						<input id="authNo" name="certNum" placeholder="인증번호 6자리 입력" maxlength="6" type="tel" class="custom-inp" autocomplete="off">
						<div class="btn-group exTime">
							<button title="인증하기" class="request-btn standard" disabled><span class="">인증하기</span></button>
						</div>
					</div>
					<div class="time-box hidde">
						<span class="time-txt"><span class="t-special">03:00</span></span>
						<button title="시간연장하기" class="request-btn"><span class="">시간연장하기</span></button>
					</div>
				</div>

				<div class="inputInfo">
					<div class="check-box">
						<input type="checkbox" name="certification" id="idid"> <!-- id 사용하실 경우 input id / label for 맞춰야 함 -->
						<label for="idid" class="t-checkbox">
							<i class="icon"></i>
							<span class="text">휴대폰 인증시 수집된 개인정보(성명, 생년월일, 성별, 휴대폰번호)는 개인정보 수집 이용정책과 같이 활용됨을 동의함</span>
						</label>
						<div class="content-row">
							<div class="info-btn agree-open"><a href="javascript:void(0)" class="btn-arrow">개인정보 수집 이용 안내</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group vertical">
				<button type="button" class="btn" disabled>변경하기</button>
			</div>
		</div>
	</div>
</div>

<!-- 망장애 알림중복신청불가 alert 팝업 -->
<div class="modal-wrap popup-wrapper center-popup numDuplicate hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup non-header appear">
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<strong class="tit">010-1234-5678 번호로<br>알림 받기를 이미 신청했어요</strong>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group vertical">
				<button type="button" class="btn">홈으로 가기</button>
			</div>
		</div>
	</div>
</div>

<!-- 상담사 연결 alert 팝업 -->
<div class="modal-wrap popup-wrapper center-popup homeAsPop hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content alert-popup non-header appear">
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section center">
				<strong class="tit">
					상담사를 통해 도와드릴게요.<br>연결 할까요?
				</strong>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group vertical">
				<button type="button" class="btn">상담사 연결</button>
				<button type="button" class="btn">취소</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>
