<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper bt-accopage">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">납부방법 관리</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="service-section">
			<div class="service-box" role="button">
				<div class="text-area">
					<span class="svCategory">U+ 인터넷 /...</span>
					<span class="svInfo">부산광역시 강서구 녹산산단382로 ***</span>
				</div>
				<div class="btn-area">
					<button type="button" class="btn chgBtn">선택 변경</button>
				</div>
			</div>
		</div>
		
		<div class="content-section">
			<h4 class="section-tit"><span>나의 요금 납부방법</span></h4>
			<div class="card no_pt no_pb">
				<div class="table-box change-table">
					<table class="table">
						<tbody th:object="${payMethodInfo}">
							<!--<tr th:if="*{paymMthdCd} == 'GR'">
								<th th:text="지로">지로</th>
								<td><span class="bold" th:text="*{paymMthdNm}">지로</span></td>
							</tr>-->
							<tr th:if="*{paymMthdCd} != 'GR'">
								<th th:text="*{paymMthdCd} == 'CM' ? 은행명 : 카드사">은행명</th>
								<td><span th:text="*{paymMthdCd} == 'CM' ? |*{bankNm}은행| : |*{cdcoNm}|">(1513513)</span> <span class="bold" th:text="|(*{paymMthdNm})|">4564654</span></td>
							</tr>
							<tr th:if="*{paymMthdCd} != 'GR'">
								<th th:text="*{paymMthdCd} == 'CM' ? 계좌번호 : 카드번호">카드번호</th>
								<td class="bold" th:text="*{paymMthdCd} == 'CM' ? *{eano} : *{ecno}">546464654</td>
							</tr>
							<tr th:if="*{paymMthdCd} != 'GR'">
								<th>출금일</th>
								<td class="bold" th:text="|${withdrawInfo.frstWdrwRgstDd}일|">1616일</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="btn-group">
			<button class="standard line" id="methodChgBtn">납부방법 변경</button>
			<button class="standard line" id="dateChgBtn" th:if="${payMethodInfo.paymMthdCd} != 'GR'">결제일 변경</button>
		</div>
		
		<div class="accordion-group">
			<div class="accordion-box notice d-accoBox">
				<div class="accordion-header d-accoBtn">
					<div class="text">
						<p>납부정보 변경 조건</p>
					</div>
					<button class="accordion-btn" tabindex="-1">
						<i class="toggleIcon"></i>
					</button>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li>모바일 가입 없이 구독서비스(유독)만 가입하신 고객님은 정책상 은행(계좌이체)납부로는 변경이 불가 합니다.</li>
						<li>가입자 명의의 은행계좌 또는 카드로 변경할 수 있습니다.</li>
					</ul>
				</div>
			</div>
			<div class="accordion-box notice d-accoBox">
				<div class="accordion-header d-accoBtn ">
					<div class="text">
						<p>납부방법 변경 안내</p>
					</div>
					<button class="accordion-btn" tabindex="-1">
						<i class="toggleIcon"></i>
					</button>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li class="list-tit">[카드 → 은행계좌 변경]</li>
						<li>카드에서 은행계좌로 변경 시, 출금일은 매달 15일이며 납부방법변경 방식(즉시, 다음달)에 따라 출금일이 변동될 수 있습니다. 출금 날짜에 통장잔고가 부족할 경우 추가로 출금됩니다.</li>
					</ul>
					<ul class="list dot-list">
						<li class="list-tit">[은행계좌 → 카드 변경]</li>
						<li>은행계좌에서 카드로 변경 시, 결제일은 매달 9일이며 납부방법 변경방식(즉시, 다음달)에 따라 출금일이 변동될 수 있습니다.</li>
						<li>납부방법은 동일하나 결제 카드 및 은행계좌만 변경한 경우, 변경 신청 후 영업일 기준 2~3일 후 해당 은행계좌 또는 카드로 요금이 결제됩니다.</li>
						<li>정확한 결제일을 확인하려면 당신의 U<sup>+</sup>앱 내 문의/접수 메뉴에서 문의하시기 바랍니다.</li>
					</ul>
				</div>
			</div>
			<div class="accordion-box notice d-accoBox">
				<div class="accordion-header d-accoBtn">
					<div class="text">
						<p>인증절차 안내</p>
					</div>
					<button class="accordion-btn" tabindex="-1">
                        <i class="toggleIcon"></i>
                    </button>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li>카드 결제 → 은행 계좌로 변경 시<br> : 자동출금 이용동의 후, 카카오인증/PASS인증/네이버인증 중 하나의 방법으로 인증이 필요합니다.</li>
						<li>지로 또는 은행 계좌 → 카드 결제로  변경 시<br> : U+휴대폰인증/카카오인증/PASS인증 중 하나의 방법으로 인증이 필요합니다.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<div class="modal-wrap">
	<!--기본 팝업-->
	<div class="popup popup-1 endPopup hidde">
		<div class="pop-wrap">
			<div class="pop-content">
				<div class="pop-header">
					<h1 class="pop-tit">확인</h1>
					<button class="c-btn">닫기</button>
				</div>
				<div class="pop-body">
					<p class="pop-txt">눈으로 보는 콜봇 서비스를 종료하고 기존 콜봇 서비스로 이동합니다.</p>
				</div>
				<div class="pop-footer">
					<div class="btn-group">
						<button class="standard">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--기본 팝업 END-->
</div>   
<!--모달 팝업 영역 END-->

<script>
	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>

</body>
</html>
