<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>
	<script src="../../../../static/js/easy-pie-chart/easypiechart.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper bt-accopage">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">납부방법 관리</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section">
			<h2 class="section-tit"><span>변경정보 입력</span></h2>
			<!-- 납부방법 변경 시 -->
			<div class="chpaymentType">
				<div class="inputInfo">
					<div for="choicePayment" class="info-label">
						납부 수단 선택
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</div>
					<div class="radio-group twoby">
						<div class="radio-box">
							<span class="radio-btn">
								<input id="bank" name="method" type="radio" value="bank" checked>
								<label for="bank" class="text-radio"><span class="txt">은행</span></label>
							</span>
						</div>
						<div class="radio-box">
							<span class="radio-btn">
								<input id="card" name="method" type="radio" value="card">
								<label for="card" class="text-radio"><span class="txt">카드</span></label>
							</span>
						</div>
					</div>
				</div>
				
				<!-- 납부방법 변경 중 카드 선택 시 -->
				<div id="cardInfo" class="cardInfo mt26 hiddn">
					<!-- 카드번호 -->
					<div class="inputInfo">
						<label for="cardNo" class="info-label">
							카드번호
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="cardNo" name="" placeholder='"-"없이 숫자만 입력' maxlength="19" type="tel" class="custom-inp d-cardInfoCk" onkeyup="validate.inputCardNoCheck(this)" autocomplete="off">
						</div>
						<p class="error-txt hidden">올바른 카드번호를 입력해 주세요.</p>
					</div>

					<!-- 카드사 -->
					<div class="inputInfo">
						<label for="cardComp" class="info-label">
							카드사
							<button class="q-btn tooltip" type="button">
								<span class="hidden">카드사 설명보기</span>
								<p class="tooltip-txt">
									은행계열 카드 <span class="t-special">하나SK카드, 하나카드 중 일부</span>는<br>
									카드사명이 BC카드로 표기됩니다.
								</p>
							</button>
						</label>
						<div class="custom-info">
							<input id="cardCompCd" class="hidden">
							<input id="cardComp" name="" placeholder="카드번호 입력 시 자동으로 표시됩니다." type="text" class="custom-inp" disabled>
						</div>
					</div>
					
					<!-- 카드 유효기간 -->
					<div class="inputInfo">
						<label for="expPeriod" class="info-label">
							카드 유효기간
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="expPeriod" name="" placeholder="OO년/OO월" maxlength="5" type="tel" class="custom-inp d-cardInfoCk" onkeyup="validate.inputNumCheck(this)" autocomplete="off">
						</div>
						<p class="error-txt hidden">카드 유효기간을 확인해 주세요.</p>
					</div>
					
					<!-- 고객유형 -->
					<div class="inputInfo">
						<label class="info-label">
							고객 유형
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="r-radio-group">
							<div class="r-radio-box">
								<span class="r-radio">
									<input id="cardPerType" name="cardCustomer" type="radio" value="10" checked>
									<label for="cardPerType" class="radio-txt">
										<i class="icon"></i>
										<span>개인</span>
									</label>
								</span>
							</div>
							<!-- <div class="r-radio-box">
								<span class="r-radio">
									<input id="cardBusiType" name="cardCustomer" type="radio" value="20">
									<label for="cardBusiType" class="radio-txt">
										<i class="icon"></i>
										<span>사업자(개인사업자)</span>
									</label>
								</span>
							</div> -->
						</div>
					</div>

					<!-- 카드명의자 구분 -->
					<div class="inputInfo" id="cardCreditHolder">
						<label for="cardHolder" class="info-label">
							카드 명의자 구분
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="r-radio-group">
							<div class="r-radio-box">
								<span class="r-radio">
									<input id="cardLocal" name="cardHolder" type="radio" value="11" checked>
									<label for="cardLocal" class="radio-txt">
										<i class="icon"></i>
										<span>내국인</span>
									</label>
								</span>
							</div>
							<div class="r-radio-box">
								<span class="r-radio">
									<input id="cardForeign" name="cardHolder" type="radio" value="12">
									<label for="cardForeign" class="radio-txt">
										<i class="icon"></i>
										<span>외국인</span>
									</label>
								</span>
							</div>
						</div>
					</div>
					
					<!-- 카드 명의자명 -->
					<div class="inputInfo">
						<label for="custNm" class="info-label">
							카드 명의자명
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="custNm" name="customerName" placeholder="카드 명의자명 입력" type="text" class="custom-inp d-cardInfoCk" onkeyup="validate.inputTextCheck(this)" autocomplete="off">
						</div>
						<p class="error-txt hidden">카드 명의자를 입력해 주세요.</p>
					</div>
					
					<!-- 사업자등록번호 -->
					<div class="inputInfo hidden" id="cardBusi">
						<label class="info-label">
							사업자등록번호
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="cardBusiNum" placeholder='"-"없이 10자리 숫자만 입력' maxlength="10" type="tel" class="custom-inp d-cardInfoCk" autocomplete="off">
						</div>
						<p class="error-txt hidden">사업자등록번호를 입력해 주세요.</p>
					</div>

					<!-- 생년월일 -->
					<div class="inputInfo cardSelf" id="cardBirth">
						<label class="info-label">
							생년월일
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="cBirth" placeholder="카드 명의자 생년월일 8자리" maxlength="8" type="tel" class="custom-inp d-cardInfoCk" onkeyup="validate.inputNumCheck(this)" autocomplete="off">
						</div>
						<p class="error-txt hidden">생년월일을 입력해 주세요.</p>
					</div>
				</div>
				<!-- 납부방법 변경 중 카드 선택 시 END-->
				
				<!-- 납부방법 변경 중 은행 선택 시 -->
				<div id="bankInfo" class="bankInfo mt26">
					<!-- 은행명 -->
					<div class="inputInfo">
						<label for="bankNm" class="info-label">
							은행명
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="select-box">
							<select id="bankList" class="select-form d-bankInfoCk" onchange="inputCheck(this)">
								<option value="">은행명 선택</option>
								<th:block th:each="bank : ${bankList}">
									<option th:value="${bank.paymMthdNm}" th:text="${bank.paymMthdNm}" th:attr="data-bankcd=${bank.paymBankCd}"></option>
								</th:block>
							</select>
						</div>
						<p class="error-txt hidden">은행명을 선택해 주세요.</p>
					</div>
					
					<!-- 계좌번호 -->
					<div class="inputInfo">
						<label for="accountNum" class="info-label">
							계좌번호
						</label>
						<div class="custom-info">
							<input id="accNum" name="accountNum" placeholder='"-"없이 숫자만 입력' type="tel" class="custom-inp d-bankInfoCk" minlength="10" maxlength="16" onkeyup="validate.inputNumCheck(this)" autocomplete="off">
						</div>
						<p class="error-txt hidden">계좌번호를 입력해 주세요.</p>
					</div>
					
					<!-- 고객유형 -->
					<div class="inputInfo">
						<label class="info-label">
							고객 유형
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="r-radio-group">
							<div class="r-radio-box">
								<span class="r-radio">
									<input id="bankPerType" name="bankCustomer" type="radio" value="10" checked>
									<label for="bankPerType" class="radio-txt">
										<i class="icon"></i>
										<span>개인</span>
									</label>
								</span>
							</div>
							<div class="r-radio-box">
								<span class="r-radio">
									<input id="bankBusiType" name="bankCustomer" type="radio" value="20">
									<label for="bankBusiType" class="radio-txt">
										<i class="icon"></i>
										<span>사업자(개인사업자)</span>
									</label>
								</span>
							</div>
						</div>
					</div>
					
					<!-- 사업자등록번호 -->
					<div class="inputInfo hidden" id="bankBusi">
						<label class="info-label">
							사업자등록번호
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="bankBusiNum" placeholder='"-"없이 10자리 숫자만 입력' maxlength="10" type="tel" class="custom-inp d-bankInfoCk" onkeyup="validate.inputNumCheck(this)" autocomplete="off">
						</div>
						<p class="error-txt hidden">사업자등록번호를 입력해 주세요.</p>
					</div>

					<!-- 예금주 구분 -->
					<div class="inputInfo" id="bankAcctHolder">
						<label for="accountHolder" class="info-label">
							예금주 구분
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="r-radio-group">
							<div class="r-radio-box">
								<span class="r-radio">
									<input id="bankLocal" name="accountHolder" type="radio" value="11" checked>
									<label for="bankLocal" class="radio-txt">
										<i class="icon"></i>
										<span>내국인</span>
									</label>
								</span>
							</div>
							<div class="r-radio-box">
								<span class="r-radio">
									<input id="bankForeign" name="accountHolder" type="radio" value="12">
									<label for="bankForeign" class="radio-txt">
										<i class="icon"></i>
										<span>외국인</span>
									</label>
								</span>
							</div>
						</div>
					</div>
					
					<!-- 예금주명 -->
					<div class="inputInfo">
						<label for="accholderName" class="info-label">
							예금주명
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="accNm" name="accholderName" placeholder="예금주명 입력" type="text" class="custom-inp d-bankInfoCk" onkeyup="validate.inputTextCheck(this)" autocomplete="off">
						</div>
						<p class="error-txt hidden">예금주명을 입력해 주세요.</p>
					</div>
					
					<!-- 생년월일 -->
					<div class="inputInfo" id="bankBirth">
						<label for="birth" class="info-label">
							생년월일
							<!--<span class="required"><i class="hidden">필수항목</i></span>-->
						</label>
						<div class="custom-info">
							<input id="bBirth" name="birth" placeholder="생년월일 8자리" maxlength="8" type="tel" class="custom-inp d-bankInfoCk" onkeyup="validate.inputNumCheck(this)" autocomplete="off">
							<button title="입력한 문자 삭제" class="clear-btn hidden"><span class="hidden">입력한 문자 삭제</span></button>
						</div>
						<p class="error-txt hidden">생년월일을 입력해 주세요.</p>
					</div>
				</div>
				<!-- 납부방법 변경 중 은행 선택 시 END-->
				
				<!-- 성별 -->
				<div class="inputInfo">
					<label for="gender" class="info-label">
						성별
						<!--<span class="required"><i class="hidden">필수항목</i></span>-->
					</label>
					<div class="r-radio-group">
						<div class="r-radio-box">
							<span class="r-radio">
								<input id="male" name="gender" type="radio" value="male" checked>
								<label for="male" class="radio-txt">
									<i class="icon"></i>
									<span>남</span>
								</label>
							</span>
						</div>
						<div class="r-radio-box">
							<span class="r-radio">
								<input id="female" name="gender" type="radio" value="female">
								<label for="female" class="radio-txt">
									<i class="icon"></i>
									<span>여</span>
								</label>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 납부방법 변경 시 END -->
			
			<!-- 고객 정보 활용 동의 -->
			<div class="inputInfo mt26" id="infoUseGuide">
				<label class="info-label">
					고객 정보 활용 동의
				</label>
				<div class="check-box">
					<input type="checkbox" name="infoAgree" id="autoPayAgree">
					<label for="autoPayAgree" class="t-checkbox">
						<i class="icon"></i>
						<span class="text">전자 서명을 위한 고객정보 활용동의</span>
					</label>
				</div>
				<div class="content-row">
					<ul class="list dot-list bg-gray">
						<li>은행계좌 자동이체를 선택할 경우, 매달 등록한 계좌에서 LG 유플러스 서비스 이용요금이 자동으로 출금됩니다.</li>
						<li>은행계좌 자동출금에 동의 후 납부방법이 가능합니다.</li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="standard g-line verifBtn" id="verifyBtn">실명확인 계좌 인증</button>
					<!-- 실명인증 되면 실명 확인 완료 텍스트 변경 -->
				</div>
			</div>
			<!-- 고객 정보 활용 동의 END -->
		</div>
		
		<div class="btn-group">
			<button type="button" class="standard g-line" id="backBtn">이전</button>
			<button type="button" class="standard" id="nextBtn" disabled>다음</button>
		</div>
		
		<div class="accordion-group">
			<div class="accordion-box notice d-accoBox">
				<div class="accordion-header d-accoBtn">
					<div class="text">
						<p>납부정보 변경 조건</p>
					</div>
					<div class="accordion-btn">
						<i class="toggleIcon"></i>
					</div>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li>모바일 가입 없이 구독서비스(유독)만 가입하신 고객님은 정책상 은행(계좌이체)납부로는 변경이 불가 합니다.</li>
						<li>가입자 명의의 은행계좌 또는 카드로 변경할 수 있습니다.</li>
					</ul>
				</div>
			</div>
			<div class="accordion-box notice d-accoBox">
				<div class="accordion-header d-accoBtn">
					<div class="text">
						<p>납부방법 변경 안내</p>
					</div>
					<div class="accordion-btn">
						<i class="toggleIcon"></i>
					</div>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li class="list-tit">[카드 → 은행계좌 변경]</li>
						<li>카드에서 은행계좌로 변경 시, 출금일은 매달 15일이며 납부방법변경 방식(즉시, 다음달)에 따라 출금일이 변동될 수 있습니다. 출금 날짜에 통장잔고가 부족할 경우 추가로 출금됩니다.</li>
					</ul>
					<ul class="list dot-list">
						<li class="list-tit">[은행계좌 → 카드 변경]</li>
						<li>은행계좌에서 카드로 변경 시, 결제일은 매달 9일이며 납부방법 변경방식(즉시, 다음달)에 따라 출금일이 변동될 수 있습니다.</li>
						<li>납부방법은 동일하나 결제 카드 및 은행계좌만 변경한 경우, 변경 신청 후 영업일 기준 2~3일 후 해당 은행계좌 또는 카드로 요금이 결제됩니다.</li>
						<li>정확한 결제일을 확인하려면 당신의 U+앱 내 문의/접수 메뉴에서 문의하시기 바랍니다.</li>
					</ul>
				</div>
			</div>
			<div class="accordion-box notice d-accoBox">
				<div class="accordion-header d-accoBtn">
					<div class="text">
						<p>인증절차 안내</p>
					</div>
					<button class="accordion-btn" tabindex="-1"></button>
						<i class="toggleIcon"></i>
					</button>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li>카드 결제에서 은행 계좌로 변경하려면, 자동출금 이용동의 후 SMS 2차 인증이 필요합니다.</li>
						<li>카드 결제로 변경하려면, SMS 2차 인증이 필요합니다.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<div class="modal-wrap">
	
</div>   
<!--모달 팝업 영역 END-->

<script>
	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>

</body>
</html>
