<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper endPage no-header btFlexible complete endFail">
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section">
			<div class="caution-box confirm-wrap">
				<div class="img-box fail">
					<img src="../../../../static/images/img_no_list.png" alt="선택약정할인 신청이 완료되지 않았습니다.">
				</div>
				<p class="tit">
					현재 선택약정할인을 받고 있어요.
				</p>
				<p class="txt">
					선택약정할인 재가입 예약은<br>
					약정이 끝나기 60일 전부터 가능해요.
				</p>
			</div>
			<div class="card discountCard">
				<div class="discountInfo">
					<p class="tit">현재 약정기간</p>
					<p class="date">2023년 06월 02일~2024년 06월 01일(12개월)</p>
				</div>
			</div>
			<div class="caution-box confirm-wrap">
				<p class="txt">
					화면을 보면서 상담 서비스를 종료하고<br>
					말로 하는 상담 서비스로 이동합니다.
				</p>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

</body>
</html>
