<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper endPage no-header btFlexible complete endSuccess">
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section">
			<div class="caution-box confirm-wrap">
				<div class="img-box comp">
					<img src="../../../../static/images/img_data_release.png" alt="선택약정할인 신청이 완료 되었습니다">		
				</div>
				<strong class="tit">
					선택약정할인 신청이<br>완료 되었습니다.
				</strong>
				<p class="txt-m">
					공시지원금(휴대폰 가격 할인) 약정기간인<br>
					<span class="bold">2024년 12월 01일</span> 까지는 기기를 변경하게 되면<br>
					할인 반환금(위약금)이 나와요.
				</p>
				<p class="txt">
					지금 받고 있는 약정할인이 끝나면<br>이어서 할인 받을 수 있어요.
				</p>
			</div>
			<div class="card discountCard">
				<div class="discountInfo">
					<p class="tit">현재 약정기간</p>
					<p class="date t-special">2023년 06월 02일~2024년 06월 01일(12개월)</p>
				</div>
				<div class="discountInfo"> 
					<p class="tit">현재 약정기간</p>
					<p class="date t-special">2023년 06월 02일~2024년 06월 01일(12개월)</p>
				</div>
			</div>
            <div class="card-box">
				<div class="card-header">
					<h2 class="info-title">관련 메뉴 바로가기</h2>
				</div>
				<div class="card-body chips-group">
					<button type="button" class="btn chip">시나리오1</button>
					<button type="button" class="btn chip">시나리오2</button>
				</div>
			</div>
			
			<div class="btn-group btn-group-sm">
				<button type="button" class="btn btn-round">종료</button>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

</body>
</html>
