<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper">
    <!-- 헤더 영역 -->
    <header class="header">
        <h1 class="page-title">요금 바로 납부하기</h1>
        <button class="c-btn">닫기</button>
    </header>
    <!-- 헤더 영역 END -->
    
    <!-- 콘텐츠 영역 -->
    <div class="content">
        <div class="content-section">
            <h2 class="section-tit"><span>간편결제</span></h2>
            <ul class="list">
                <li class="list-tit">간편결제 앱 결제가 완료된 경우</li>
                <li class="ft-gray">화면 하단의 <span class="t-special bold">[다음]</span> 버튼을 눌러주세요</li>
            </ul>
        </div>
        
        <div class="content-section">
            <ul class="list">
                <li class="list-tit">간편결제 앱 결제가 정상적으로 진행되지 않은 경우</li>
                <li>
                    <ul class="list dot-list bg-gray">
                    <li>오류가 계속 발생하는 경우 고객센터로 문의해 주세요.</li>
                    <li class="subdot-list">- LG 유플러스 고객센터 : 1544-0010(유료)</li>
                    <li class="subdot-list">- PAYCO 고객센터 : 1544-6891</li>
                    <li class="subdot-list">- 토스 고객센터 : 1599-4905</li>
                    <li class="subdot-list">- 카카오페이 고객센터 : 1644-7405</li>
                </ul>
                </li>
            </ul>
        </div>

        <div class="btn-group">
            <!--<button class="standard g-line">이전</button>-->
            <button class="standard">다음</button>
        </div>
    </div>
    <!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<div class="modal_wrap">
</div>   
<!--모달 팝업 영역 END-->

</body>
</html>
