<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/js/swiper-11.1.5/swiper-bundle.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css" />
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/swiper-11.1.5/swiper-bundle.js"></script>
	<script src="../../../../static/js/tooltip/popper.js"></script>		
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper bt-accopage">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">요금 바로 납부하기</h1>
		<button type="button" class="c-btn">닫기</button>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="service-section">
			<div class="service-box" role="button">
				<div class="text-area">
					<span class="svCategory">U+ 인터넷 /...</span>
					<span class="svInfo">부산광역시 강서구 녹산산단382로 ***</span>
				</div>
				<div class="btn-area">
					<button type="button" class="btn chgBtn">선택 변경</button>
				</div>
			</div>
		</div>
		
		<div class="content-section">
			<h2 class="section-tit"><span>결제 서비스 내역</span></h2>
			<div class="content-row t-bold">
				<p>당월 요금</p>
				<p><span>121,000</span>원</p>
			</div>
			<div class="content-row" th:each="svcList : ${cntcSvcList}">
				<p>- <span th:text="${svcList.svcNm}"></span>(<span th:text="${svcList.encnTlno}"></span>)</p>
				<p><span th:text="${svcList.currentBill}"></span>원</p>
			</div>
			<hr>
			<div class="content-row t-bold">
				<p>미납 요금</p>
				<p class="t-special"><span class="bold" th:text="${arrearAmt}"></span>원</p>
			</div>
			<hr>
			<div class="content-row t-bold fz16">
				<p class="tit">납부할 금액</p>
				<p class="t-special"><span class="bold" th:text="${paidAmt}"></span>원</p>
			</div>
		</div>
		
		<div class="content-section">
			<h2 class="section-tit"><span>결제 서비스 선택</span></h2>
			<div class="content-row">
				<div class="check-box">
					<input id="allpay" name="payment" type="radio" value="allpay" checked>
					<label for="allpay" class="t-checkbox">
						<i class="icon"></i>
						<span class="text">전체 요금 납부</span>
						<span class="text t-special bold flex-end"><span class="bold" th:text="${paidAmt}">1351354</span>원</span>
					</label>
				</div>
			</div>
			<div class="content-row pd0">
				<ul class="input-flex">
					<li>
						<div class="check-box">
							<input id="partialpay" name="payment" type="radio" value="partialpay">
							<label for="partialpay" class="t-checkbox">
								<i class="icon"></i>
								<span class="text">요금 부분 납부</span>
							</label>
						</div>
					</li>
					<li class="input-flex">
						<div class="custom-info">
							<input class="inputPay" id="inputMoney" type="tel" placeholder="납부금액 입력" autocomplete="off">
							<span class="text">원</span>
						</div>
					</li>
				</ul>
			</div>
			<p class="error-txt hidden">납부하실 금액은 최소 1,000원 이상이어야 합니다. 금액을 확인해 주시기 바랍니다.</p>
		</div>
		
		<div class="btn-group">
			<!-- <button class="g-line" id="backBtn">이전</button> -->
			<button class="standard" id="nextBtn">다음</button>
		</div>
		
		<div class="accordion-group">
			<div class="accordion-box notice d-accoBox">
				<div class="accordion-header d-accoBtn">
					<div class="text">
						<p>요금 납부 시 중복 결제 주의안내</p>
					</div>
					<div class="accordion-btn">
                        <i class="toggleIcon"></i>
                    </div>
				</div>
				<div class="accordion-body">
					<ul class="list dot-list">
						<li>은행이나 카드 <span class="t-special">자동이체 결제 기간 중 신용카드/입금 전용계좌 납부를 하시면 두 번 결제될 수 있으니,</span> 납부 전에 거래내역을 꼭 확인해 주시기 바랍니다</li>
						<li>중복 결제가 발생할 경우, 납부 방법 및 금액에 따라 자동으로 환불되거나 다음 달 요금에서 미리 결제됩니다</li>
						<li>요금이 두 번 납부가 될 경우 아래와 같이 환불처리 됩니다.</li>
						<li class="subdot-list">- 카드자동이체 – 카드즉납 → 카드자동이체 납부취소<br>(단, 동일금액 두 번 납부 시)</li>
						<li class="subdot-list">- 카드자동이체 – 카드즉납 납부취소</li>
						<li>법인명의의 사업자카드는 결제가 불가능합니다.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END -->
</div>

<!--모달 팝업 영역-->
<div class="modal-wrap">
	<!--기본 팝업-->
	<div class="popup popup-1 endPopup hidden">
		<div class="pop-wrap">
			<div class="pop-content">
				<div class="pop-header">
					<h1 class="pop-tit">확인</h1>
					<button class="c-btn">닫기</button>
				</div>
				<div class="pop-body">
					<p class="pop-txt">눈으로 보는 콜봇 서비스를 종료하고 기존 콜봇 서비스로 이동합니다.</p>
				</div>
				<div class="pop-footer">
					<div class="btn-group">
						<button class="standard">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--기본 팝업 END-->
</div>   
<!--모달 팝업 영역 END-->

<script>
	const accordionItems = document.querySelectorAll(".accordion-box");

	accordionItems.forEach((item) => {
		const header = item.querySelector(".d-accoBox > .accordion-header");
		header.addEventListener("click", () => {
			item.classList.toggle("acco-active");
	}   );
	});
</script>

</body>
</html>
