<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
    <link rel="stylesheet" type="text/css" href="../../../static/css/common.css">

    <!-- Scripts -->
</head>
<body>
    <div class="page-wrapper">
		<!-- 헤더 영역 -->
        <header class="header">
            <h1 class="page-title"></h1>
            <button type="button" class="c-btn">닫기</button>
        </header>
        <!-- 헤더 영역 END -->
	
		<!-- 콘텐츠 영역 -->
		<div class="content">
            <div class="content-section"></div>
		</div>
		<!-- 콘텐츠 영역 END -->
	</div>

    <!-- 연락받을 번호 입력 full-popup -->
    <div class="modal-wrap popup-wrapper btFlexiblehidden">
        <div class="popup-content full-popup slideUp">
            <!-- popup-header -->
            <div class="popup-header">
                <div class="header-section">
                    <h1 class="pop-tit"><span>홈서비스 셀프해결/방문신청</span></h1>
                    <button type="button" class="c-btn">닫기</button>
                </div>
            </div>
            <!-- popup-body -->
            <div class="popup-body">
                <div class="content-section title-section">
                    <h2 class="section-tit-lg">
                        <span>알림 메시지를 받을<br>휴대폰 번호를 입력해 주세요</span>
                    </h2>
                </div>

                <div class="content-section">
                    <div class="inputInfo inputInfo-lg chgNumInput">
                        <div class="custom-info">
                            <input type="tel" class="custom-inp" value="010-12**-56**" readonly>
                            <button type="button" class="btn btn-sm btn-gray">변경하기</button>
                        </div>
                        <label class="info-label">휴대폰 번호</label>
                    </div>
                </div>
            </div>

            <!-- popup-footer -->
            <div class="popup-footer">
                <div class="btn-group">
                    <button type="button" class="btn">취소</button>
                    <button type="button" class="btn">확인</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 데이터 선물하기 하단 팝업 -->
    <div class="modal-wrap popup-wrapper datagift-2 bottom-popup hidden">
        <div class="blacklayer appear"></div>
        <div class="popup-content slideUp">
            <!-- popup-header -->
            <div class="popup-header c-btn-x">
                <div class="header-section">
                    <h1 class="pop-tit"><span>민*기 님에게 1GB 데이터를<br/>보내시겠습니까?</span></h1>
                    <button type="button" class="c-btn">닫기</button>
                </div>
            </div>
            <!-- popup-body -->
            <div class="popup-body">
                <div class="content-section">
                    <div class="round-box bg-gray">
                        <div class="info-group pd0 no_bb">
                            <div class="content-row">
                                <span>받는 사람</span>
                                <span class="bold">민*기</span>
                            </div>
                            <div class="content-row">
                                <span>연락처</span>
                                <span class="bold">010-12**56**</span>
                            </div>
                            <div class="content-row">
                                <span>데이터</span>
                                <span class="t-special bold">1GB</span>
                            </div>
                            <div class="content-row">
                                <span>남은 선물 횟수</span>
                                <span class="t-special bold">2회</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-section">
                    <p class="info-txt fz16">
                        <span>본인인증 후 데이터를 선물할 수 있으며, </span><br>
                        <span class="bold">선물한 데이터는 취소할 수 없으니 꼭 확인해 주세요.</span>
                    </p>
                </div>
            </div>
            <!-- popup-footer -->
            <div class="popup-footer">
                <div class="btn-group">
                    <button type="button" class="standard">인증 하기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 망장애 알림중복신청불가 alert 팝업 -->
    <div class="modal-wrap popup-wrapper center-popup numDuplicate hidden">
        <div class="blacklayer appear"></div>
        <div class="popup-content alert-popup non-header appear">
            <!-- popup-body -->
            <div class="popup-body">
                <div class="content-section center">
                    <strong class="tit">010-1234-5678 번호로<br>알림 받기를 이미 신청했어요</strong>
                </div>
            </div>
            <!-- popup-footer -->
            <div class="popup-footer">
                <div class="btn-group vertical">
                    <button type="button" class="btn">홈으로 가기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>