<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>U+ 눈으로 보는 콜봇 Wisepotal</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css"/>
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper loanExtension btFlexible">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">대출 변경</h1>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section title-section">
			<h2 class="section-tit-lg t-special"><span>김농협</span>고객님<br>어떤 대출의 기간을 연장할까요?</h2>
			<p class="info-txt">대출 유형에 따라 기간 연장 방법이 달라요</p>
		</div>

		<!-- E-mail area -->
		<div class="content-section">
			<div class="inputInfo">
				<label for="secuEmail" class="info-label">
					현재 중소기업에 재직 중이십니까?
					<span class="required"><i class="hidden">필수항목</i></span>
				</label>
				<div class="r-radio-group">
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="use" checked>
							<label for="use" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">예</span>
							</label>
						</span>
					</div>
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="notUse" >
							<label for="notUse" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">아니요</span>
							</label>
						</span>
					</div>
				</div>
			</div>

			<div class="inputInfo">
				<label for="secuEmail" class="info-label">
					주택을 보유하거나 재직 중이십니까?
					<span class="required"><i class="hidden">필수항목</i></span>
				</label>
				<div class="r-radio-group">
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="use" checked>
							<label for="use" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">예</span>
							</label>
						</span>
					</div>
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="notUse" >
							<label for="notUse" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">아니요</span>
							</label>
						</span>
					</div>
				</div>
			</div>

			<div class="inputInfo">
				<label for="secuEmail" class="info-label">
					현재 해당 주택에 직접 거주 중이십니까?
					<span class="required"><i class="hidden">필수항목</i></span>
				</label>
				<div class="r-radio-group">
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="use" checked>
							<label for="use" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">예</span>
							</label>
						</span>
					</div>
					<div class="r-radio-box">
						<span class="r-radio">
							<input type="radio" name="secuEmail" id="notUse" >
							<label for="notUse" class="radio-txt">
								<i class="icon"></i>
								<span class="customer-type">아니요</span>
							</label>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="bottom-button">
			<div class="btn-group">
				<button type="button" class="btn">콜봇으로 돌아가기</button>					
				<button type="button" class="btn">다음</button>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END --> 
</div>

</body>
</html>
