<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>NH농협은행 보이는 ARS</title>

	<!-- Css -->
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../../static/css/style.css"/>
	<!-- Scripts --> 
	<script src="../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper transactionInfo btFlexible">
	<!--
		defalt : button-section open 상태
		arrowBtn 클릭하여 닫기 : close 클래스를 header 에 추가
		- <header class="header vertical close">
	-->
	<header class="header vertical">
		<div class="button-section">
			<div class="util-box">
				<button class="btn callbot">콜봇으로 돌아가기</button>
				<!-- <button class="btn callEnd">콜봇 통화 종료</button> -->
			</div>
			<button type="button" class="arrowBtn"></button>
		</div>
		<h1 class="page-title">거래내역조회</h1>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<!-- <div class="content-section title-section">
			<h2 class="section-tit-lg t-special"><span>김농협</span>고객님<br>어떤 대출의 기간을 연장할까요?</h2>
			<p class="info-txt">대출 유형에 따라 기간 연장 방법이 달라요</p>
		</div> -->

		<!-- card area -->
		<div class="content-section">
			<div class="card account">
				<div class="card-info">
					<div class="content-row">
						<div class="info-txt">일반 예금</div>
					</div>
				</div>
				<div class="card-info">
					<div class="content-row">
						<p class="tit">NH농협은행 <span>302-0123-4567-89</span></p>
					</div>
					<!-- 잔액 필요 시 <div class="content-row">
						<p class="tit">잔액 <span class="txt">7,000,000</span>원</p>
					</div> -->
				</div>
			</div>
		</div>
		<div class="content-section devider">
			<div class="card bankList">
				<div class="card-info list-term">
					<div class="content-row">
						<p class="startDate">2025.05.09</p><p class="due">~</p> <p class="endDate">2025.02.27</p> <p class="total-txt">(총&nbsp;<span class="color-point">70</span>건)</p>
					</div>
	
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.09 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,900,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.08 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,800,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.07 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,700,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.06 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,600,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.05 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,500,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.04 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.03 09:50:00</span>
						<span class="type-txt output">출금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt output">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.02 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.05.01 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.30 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,200,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.29 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,100,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.28 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 6,000,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.27 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,900,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.26 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,800,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.25 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,700,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.24 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,600,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.23 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,500,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.22 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.21 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.20 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,200,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.19 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,100,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.18 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 5,000,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.17 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,900,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.16 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,800,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.15 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,700,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.14 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,600,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.13 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,500,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.12 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.11 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.10 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,200,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.09 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,100,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.08 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 4,000,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.07 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,900,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.06 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,800,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.05 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,700,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.04 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,600,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.03 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,500,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.02 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.04.01 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.31 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,200,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.30 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,100,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.29 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 3,000,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.28 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,900,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.27 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,800,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.26 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,700,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.25 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,600,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.24 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,500,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.23 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.22 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.21 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,200,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.20 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,100,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.19 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 2,000,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.18 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,900,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.16 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,800,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.15 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,700,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.14 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,600,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.13 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,500,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.12 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.11 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.10 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,200,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.09 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,100,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.08 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 1,000,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.07 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 900,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.06 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 800,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.05 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 700,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.04 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 600,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.03 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 500,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.02 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 400,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.03.01 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 300,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.02.28 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 200,000원
						</span>
					</div>
				</div>
				<div class="card-info list-box">
					<div class="content-row">
						<span class="term-info">2025.02.27 09:50:00</span>
						<span class="type-txt input">입금</span>
					</div>
					<div class="content-row">
						<span class="tit-txt">김농협</span>
						<span class="amount-txt input">100,000원</span>
					</div>
					<div class="content-row total">
						<span class="total-txt">
							잔액 100,000원
						</span>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- 콘텐츠 영역 END --> 
</div>

<!-- 비대면 대출 기간 연장 팝업 -->
<div class="modal-wrap popup-wrapper nonfaceLoan bottom-popup hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content slideUp">
		<!-- popup-header -->
		<div class="popup-header c-btn-x">
			<div class="header-section">
				<h1 class="pop-tit"><span>비대면 대출 기간 연장</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
			<div class="content-section">
				<p class="info-txt">
					신용대출은 NH은행 앱에서 직접 대출 기간 연장이 가능합니다.<br/><br/>이동하실 앱을 선택해주세요. 
				</p>
				<div class="img-group">
					<div class="imgBox">
						<img src="../../../static/images/img-app-nh01.png" alt="all one 앱" class="app-img">
					</div>
					<div class="imgBox">
						<img src="../../../static/images/img-app-nh02.png" alt="NH Bank 앱" class="app-img">
					</div>
				</div>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
			</div>
		</div>
	</div>
</div>

</body>
</html>
