<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no"/>
	<meta name="theme-color" content="#ffffff">
	<title>NH농협은행 보이는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../../static/css/style.css"/>
	<!-- Scripts --> 
	<script src="../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper loanExtension btFlexible">
	<!--
		defalt : button-section open 상태
		arrowBtn 클릭하여 닫기 : close 클래스를 header 에 추가
		- <header class="header vertical close">
	-->
	<header class="header vertical">
		<div class="button-section">
			<div class="util-box">
				<button class="btn callbot">콜봇으로 돌아가기</button>
				<button class="btn callEnd">콜봇 통화 종료</button>
			</div>
			<button type="button" class="arrowBtn"></button>
		</div>
		<h1 class="page-title">대출 기간 연장</h1>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section title-section">
			<p class="info-txt">연장 조건과 소득심사가 확인되었습니다</p>
			<h2 class="section-tit-lg t-special">
				<p class="info-txt"><span class="t-special">2025.05.01 ~ 2025.05.18</span> 에</p>
				아래 서류를 챙겨<br>가까운 지점에 방문해주세요
			</h2>
		</div>

		<!-- 안내 영역 -->
		<div class="content-section">
			<h2 class="section-tit"><span>구비서류</span></h2>

			<ul class="card-list">
				<li>
					<div role="button" class="card-choice">
						<div class="text-wrap">
							<p class="contents-title">신분증</p>
						</div>
						<div class="img-wrap">
							<img src="../../../static/images/img-docu01.png" alt="신분증">
						</div>
					</div>
				</li>
				<li>
					<div role="button" class="card-choice">
						<div class="text-wrap tooltip">
							<p class="contents-title">주민등록등본</p>
						</div>
						<div class="img-wrap">
							<img src="../../../static/images/img-docu02.png" alt="주민등록등본">
						</div>
					</div>
				</li>
				<li>
					<div role="button" class="card-choice">
						<div class="text-wrap tooltip">
							<p class="contents-title">소득서류</p>
						</div>
						<div class="img-wrap">
							<img src="../../../static/images/img-docu03.png" alt="소득서류">
						</div>
					</div>
				</li>
				<li>
					<div role="button" class="card-choice">
						<!-- tooltip 아이콘이 있을 경우 tooltip 클래스 추가 
						<div class="text-wrap tooltip">
						-->
						<div class="text-wrap tooltip">
							<p class="contents-title">임대차계약서</p>
						</div>
						<div class="img-wrap">
							<img src="../../../static/images/img-docu04.png" alt="임대차계약서">
						</div>
					</div>
				</li>
			</ul>
			<div class="btn-group">
				<button type="button" class="btn btn-gray">문자로 받기</button>
			</div>
		</div>
		<div class="content-section">
			<ul class="list dot-list">
				<li class="list-tit">유의사항</li>
				<li>현재 임차보증금액 기준으로 금리는 재산정될 예정입니다.</li>
				<li>고객님의 신용등급과 연체 정보에 따라 변동될 수 있습니다.</li>
			</ul>
		</div>

		<div class="bottom-button">
			<div class="btn-group btn-group-solid">					
				<button type="button" class="btn">대출 목록</button>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END --> 
</div>
<!-- 임대차계약서 안내 팝업 -->
<div class="modal-wrap popup-wrapper bottom-popup leaseAgreement hidden">
	<div class="blacklayer appear"></div>
	<div class="popup-content slideUp">
		<!-- popup-header -->
		<div class="popup-header c-btn-x">
			<div class="header-section">
                <h1 class="pop-tit"><span>임대차계약서</span></h1>
				<button type="button" class="c-btn">닫기</button>
			</div>
		</div>
		<!-- popup-body -->
		<div class="popup-body">
            <div class="content-section">
				<p class="info-txt">
					임대차 계약을 연장하며 계약서를 새로 작성한다면 확정일자를 다시 받아 제출해야 합니다.<br/><br/>묵시적 임대차 연장이라면 최초작성한 임대차 계약서를 들고오면 됩니다.
				</p>
			</div>
		</div>
		<!-- popup-footer -->
		<div class="popup-footer">
			<div class="btn-group">
			</div>
		</div>
	</div>
</div>
</body>
</html>
