<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no"/>
	<meta name="theme-color" content="#ffffff">
	<title>NH농협은행 보이는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../../static/js/jquery-ui-1.13.2/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../static/css/style.css"/>
	<!-- Scripts -->
	<script src="../../../../static/js/jquery-3.6.0.min.js"></script>  
	<script src="../../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper loanExtension btFlexible">
	<!-- 헤더 영역 -->
	<header class="header">
		<h1 class="page-title">대출 변경</h1>
	</header>
	<!-- 헤더 영역 END -->
	
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section title-section">
			<p class="info-txt">연장 조건과 소득심사가 확인되었습니다</p>
			<h2 class="section-tit-lg t-special">
				<p class="info-txt"><span class="t-special">2025.05.01 ~ 2025.05.18</span> 에</p>
				아래 서류를 챙겨<br>가까운 지점에 방문해주세요
			</h2>
		</div>

		<!-- 안내 영역 -->
		<div class="content-section">
			<h2 class="section-tit"><span>구비서류</span></h2>

			<div class="radio-wrap">
				<ul class="card-list twoby">
					<li>
						<div class="card-radio-wrap">
							<div class="card-radio">
								<input id="phone" name="auth" type="radio" value="phone">
								<label for="phone" class="text-radio">
									<div class="radio-contents">
										<div class="img-wrap">
											<img src="../../../static/images/icon_auth_phone.svg" alt="휴대폰이미지">
										</div>
										<div class="text-wrap">
											<p class="contents-title">휴대폰</p>
											<!-- <p class="contents-sub-text">서브텍스트</p> -->
										</div>
									</div>
									<!-- <i class="icon"></i> -->
								</label>
							</div>
						</div>
					</li>
					<li>
						<div class="card-radio-wrap">
							<div class="card-radio">
								<input id="pass" name="auth" type="radio" value="pass">
								<label for="pass" class="text-radio">
									<div class="radio-contents">
										<div class="img-wrap">
											<img src="../../../static/images/icon_auth_pass.svg" alt="패스이미지">
										</div>
										<div class="text-wrap">
											<p class="contents-title">PASS</p>
										</div>
									</div>
								</label>
							</div>
						</div>
					</li>
					<li>
						<div class="card-radio-wrap">
							<div class="card-radio">
								<input id="toss" name="auth" type="radio" value="toss">
								<label for="toss" class="text-radio">
									<div class="radio-contents">
										<div class="img-wrap">
											<img src="../../../static/images/icon_auth_toss.svg" alt="토스이미지">
										</div>
										<div class="text-wrap">
											<p class="contents-title">TOSS</p>
										</div>
									</div>
								</label>
							</div>
						</div>
					</li>
					<li>
						<div class="card-radio-wrap">
							<div class="card-radio">
								<input id="kakao" name="auth" type="radio" value="kakao">
								<label for="kakao" class="text-radio">
									<div class="radio-contents">
										<div class="img-wrap">
											<img src="../../../static/images/icon_auth_kakao.svg" alt="카카오이미지">
										</div>
										<div class="text-wrap">
											<p class="contents-title">카카오</p>
										</div>
									</div>
								</label>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-gray">문자로 받기</button>
			</div>

			<ul class="list dot-list">
				<li class="list-tit">유의사항</li>
				<li>현재 임차보증금액 기준으로 금리는 재산정될 예정입니다.</li>
				<li>고객님의 신용등급과 연체 정보에 따라 변동될 수 있습니다.</li>
			</ul>
		</div>

		<div class="bottom-button">
			<div class="btn-group btn-group-solid">					
				<button type="button" class="btn">대출 목록</button>
			</div>
		</div>
	</div>
	<!-- 콘텐츠 영역 END --> 
</div>

</body>
</html>
