<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, scrollbar-width=thin" />
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="theme-color" content="#ffffff">
	<title>NH농협은행 보이는 ARS</title>

	<!-- Css -->
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../../static/css/style.css"/>
	<!-- Scripts --> 
	<script src="../../../static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
	<script src="../../../static/js/common.js"></script>
</head>
<body>

<div class="page-wrapper loanExtension btFlexible">
	<!--
		defalt : button-section open 상태
		arrowBtn 클릭하여 닫기 : close 클래스를 header 에 추가
		- <header class="header vertical close">
	-->
	<header class="header vertical">
		<div class="button-section">
			<div class="util-box">
				<button class="btn callbot">콜봇으로 돌아가기</button>
				<!-- <button class="btn callEnd">콜봇 통화 종료</button> -->
			</div>
			<button type="button" class="arrowBtn"></button>
		</div>
		<h1 class="page-title">계좌 선택</h1>
	</header>
	<!-- 헤더 영역 END -->
	<style>
        input {
            border: 1px solid #000;
        }

    </style>
	<!-- 콘텐츠 영역 -->
	<div class="content">
		<div class="content-section title-section">
			<h2 class="section-tit-lg t-special">서비스 받으실<br>계좌를 선택해 주세요</h2>
		</div>

		<!-- card area -->
		<div class="content-section">
		
            <input type="tel">
            

        </div>
	</div>
	<!-- 콘텐츠 영역 END --> 
</div>
</body>
</html>
